
/* Módulos Abre-Fecha Internos */
section.aberto .abre-fecha {
    width: 14px;
    height: 10px;
    margin-top: 3px;
    display: block;
    background: url("../img/sprite-seta.png") 0 0;
  }
  section.fechado .abre-fecha {
    width: 14px;
    height: 10px;
    margin-top: 3px;
    display: block;
    background: url("../img/sprite-seta.png") 0 -10px;
  }
  section h3:hover > .abre-fecha {
    background-position: -14px 0;
    cursor: pointer;
  }
  section.fechado h3:hover > .abre-fecha {
    background-position: -14px -10px;
    cursor: pointer;
  }
  section.aberto > h3:hover,
  section.fechado > h3:hover {
    cursor: pointer;
  }
  