/**
*** ------------------------------------------
*** Modulo Accordion c/ acessibilidade
*** ------------------------------------------
**/

.accordion {
}
.accordion--hover:hover {
  border: solid 1px $primary;
}
.accordion-title {
  cursor: pointer;
  position: relative;
}
.accordion-title span {
  position: absolute;
  right: 0px;
  top: 3px;
}
.accordion .accordion-title--noBorderBottom {
  border: none;
}
.accordion-title:hover span {
  color: $primary;
}
.accordion-title h2 {
  padding-right: 40px;
}
.accordion-title--noBorderBottom {
  border: none;
}
.js-accordion-hover .accordion-title--noBorderBottom,
.js-accordion-noborder .accordion-title--noBorderBottom {
  border: none;
  margin: 0;
  padding-bottom: 0;
}
.accordion--icon .accordion-title h2 {
  font-size: 12px;
  margin: 0;
  padding-bottom: 0;
}
.accordion--hover:hover {
  border: solid 1px $primary;
}
.accordion--close .accordion-content {
  display: none;
}

/* Icones accordion */
.accordion-icon {
  background-image: url("../img/sprite-icon-sidebar.png");
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
}
.accordion-icon--phone {
  background-position: 0 -22px;
  height: 24px;
  width: 24px;
}
.accordion-icon--arrowUp {
  background-image: url("../img/sprite-seta.png");
  background-position: 0 0;
  height: 10px;
  position: absolute !important;
  right: 10px !important;
  top: 15px !important;
  width: 14px;
}
.accordion-title:hover .accordion-icon--arrowUp {
  background-position: 14px 0;
}
.accordion-icon--arrowDown {
  background-image: url("../img/sprite-seta.png");
  background-position: 0 10px;
  height: 10px;
  position: absolute !important;
  right: 10px !important;
  top: 15px !important;
  width: 14px;
}
.accordion-title:hover .accordion-icon--arrowDown {
  background-position: 14px 10px;
}

/**************** INICIO Accordeon acessibilidade_novaInternet ************************/
.accordion .accordion__icon {
  color: $gray-dark;
}

.accordion .accordion__trigger:hover > .accordion__icon,
.accordion .accordion__trigger:focus > .accordion__icon {
  color: $primary;
}

.module--sidebar .accordion-title {
  border-bottom: 1px solid $gray-bright;
  padding: 12px 10px 6px;
}
.module--sidebar .accordion-title h2 {
  border-bottom: none;
  padding-right: 30px;
}
.module--sidebar .accordion-content {
  padding: 20px 10px;
}

/*CSS - novo accordion - INICIO*/
a.accordion {
  text-decoration: none;
}
a.accordion h2 {
  color: $gray-dark !important;
}
a.accordion span:hover {
  color: #ec7404 !important;
  text-decoration: none;
}
body#person a.accordion span:hover {
  color: $personnalite !important;
}
