/* Boxes - Alerts */
.alerta > .box-info {
  *width: 978px;
}
.box-info,
.box-isca {
  width: 100%;
  *width: 668px;
  background: $white;
  border: 1px solid $gray-bright;
  margin-bottom: 20px;
  padding: 10px 30px;

  border-radius: 6px;
}
.box-info p,
.box-isca p {
  line-height: 16px;
}
.box-info h3,
.box-isca h3 {
  color: $primary;
}
.box-info img,
.box-isca img {
  margin-right: 10px;
}

.box-info .ico,
.box-isca.box-info-alerta .ico {
  margin-left: -30px;
}
.box-info-alerta-multiplo .ico {
  margin-left: 0;
}

.box-info-comprovante {
  *width: 668px;
  border: 1px solid $primary;
  padding: 10px 30px 10px 40px;
}
.box-info-comprovante span.icone {
  background: url("../img/sprite-icon-peq.png") 0 -120px no-repeat $white;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -4px;
}

.box-info-aguarde {
  *width: 668px;
  border: 1px solid $primary;
  padding: 10px 30px 10px 40px;
}
.box-info-aguarde span.icone {
  background: url("../img/sprite-icon-peq.png") -192px -120px no-repeat $white;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -4px;
}

.box-info-busca {
  *width: 668px;
  border: 1px solid $primary;
  padding: 10px 30px 10px 40px;
}
.box-info-busca span.icone {
  background: url("../img/sprite-icon-peq.png") -168px -120px no-repeat $white;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -4px;
}

.box-info-alerta {
  *width: 668px;
  border: 1px solid $primary;
  padding: 10px 30px 10px 40px;
  position: relative;
}
.box-info-alerta span.icone {
  background: url("../img/sprite-icon-peq.png") -72px 0 no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -5px;
}

.box-info-alerta-multiplo {
  *width: 668px;
  border: 1px solid $primary;
  padding: 0 0px 10px 10px;
  position: relative;
}
.box-info-alerta-multiplo span.icone {
  background: url("../img/sprite-icon-peq.png") -72px 0 no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -5px;
}
.box-info-alerta-multiplo .info-alerta-primeiro {
  margin: 5px 10px -5px -10px;
  padding: 10px 10px 10px 10px;
}
.box-info-alerta-multiplo .info-alerta {
  margin: 5px 0px -5px -10px;
  padding: 10px 10px 10px 10px;
  border-top: 1px solid $gray-bright;
}
.box-info-alerta-multiplo .info-alerta:first-child {
  border: none;
}
.box-info-alerta-multiplo .info-alerta-all {
  margin: 10px 10px 0 33px;
  border-bottom: none !important;
}
.box-info-alerta-multiplo .warning-alertas-mostrar-mais {
  display: none;
}
.box-info-alerta-multiplo .mostrar-mais {
  height: 14px;
  padding-right: 20px;
  display: block;
}
.box-info-alerta-multiplo .mostrar-mais:hover {
  cursor: pointer;
}
.box-info-alerta-multiplo .mostrar-mais:hover span {
  color: $primary;
}

.box-info-alerta .fechar {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  -ms-transition: none;
  transition: none;
}
.box-info-alerta p {
  margin-bottom: 0;
}
.box-info-oferta {
  border: 1px solid $primary;
  font-size: 14px;
  margin-bottom: 0;
  background: $white;
}
.box-info-resumo {
  background: $white;
}
.box-info-destaque {
  border: none;
  background: $gray-light;
  padding: 15px 30px;
}
.box-info-destaque h3 {
  color: $gray-dark;
}
.box-info-img,
.box-isca-img {
  margin-bottom: 20px;
}
.box-info-erro {
  border: none;
  color: $white;
  background: $gray-dark;
  padding: 10px 30px 10px 40px;
}
.box-info-erro span.icone {
  background: url("../img/sprite-icon-peq.png") -72px 0 no-repeat transparent;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -5px;
}

.fechar {
  width: 9px;
  height: 9px;
  right: -20px;
  background: url("../img/icon-close.png") 0 0 no-repeat;
  float: right;
  text-indent: -9999px;
  display: block;
  position: relative;
}
.fechar:hover {
  background-position: 0 -9px;
  cursor: pointer;
}
