/* Módulos - Autenticação */
.modulo-autenticacao {
  background: $gray-light;
  position: relative;
  padding: 10px 30px;
}
.modulo-autenticacao h3 {
  background: url("../img/icon-lock.png") left top no-repeat;
  padding: 0 0 0 20px;
  color: $primary;
}
.modulo-autenticacao section {
  margin: 0 0 10px 0;
}
.modulo-autenticacao section .row {
  margin: 15px 0;
}

.modulo-autenticacao span.icone {
  background: url("../img/sprite-info-mini.png") top left no-repeat;
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  float: left;
  margin-right: 5px;
}
.modulo-autenticacao span.icone-grande {
  background: url("../img/sprite-info.png") top left no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  float: left;
  margin-top: -8px;
  margin-right: 5px;
}
.modulo-autenticacao span.icone-alerta {
  background: url("../img/sprite-info.png") bottom left no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  float: left;
  margin-top: -8px;
  margin-right: 5px;
}
