
.balaodialogo {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: auto;
    text-align: left;
  }
  
  .balaodialogo p,
  .balaodialogo span {
    padding: 10px;
    background-color: $white;
    border: 1px solid $primary;
  }
  
  .balaodialogo:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid;
  }
  
  /* Posição da seta */
  .balaodialogo-sem-seta {
    margin-top: 20px;
  }
  
  .balaodialogo-sem-seta:after {
    border: transparent;
    left: 0;
    bottom: 0;
    margin-left: 0;
  }
  
  .balaodialogo-top-centro {
    margin-top: 20px;
  }
  
  .balaodialogo-top-centro:after {
    border-bottom-color: $primary;
    left: 50%;
    bottom: 100%;
    margin-left: -15px;
  
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  .balaodialogo-top-10 {
    margin-top: 20px;
  }
  .balaodialogo-top-10:after {
    border-bottom-color: $primary;
    left: 10%;
    bottom: 100%;
    margin-left: -15px;
    margin-top: 20px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  .balaodialogo-right-centro {
    margin-right: 20px;
  }
  .balaodialogo-right-centro:after {
    border-left-color: $primary;
    left: 100%;
    top: 50%;
    margin-top: -15px;
  
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
  .balaodialogo-bottom-centro {
    margin-bottom: 20px;
  }
  .balaodialogo-bottom-centro:after {
    border-top-color: $primary;
    top: 100%;
    left: 50%;
    margin-left: -15px;
  
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  .balaodialogo-left-centro {
    margin-left: 20px;
  }
  .balaodialogo-left-centro:after {
    border-right-color: $primary;
    top: 50%;
    right: 100%;
    margin-top: -15px;
  
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
  }
  