
/*CSS novo degrade imagens DN INICIO*/
.bg_01038,
.bg_01040,
.bg_01039,
.bg_01363,
.bg_01364,
.bg_01365,
.bg_01385,
.bg_01386,
.bg_01612,
.bg_120801,
.bg_409815,
.background-degrade-amarelo {
  background: linear-gradient(-30deg, #e6a20a, #fec700);
  color: black;
}

.bg_00001,
.bg_00172,
.bg_00190,
.bg_00203,
.bg_00208,
.bg_00223,
.bg_00289,
.bg_00646,
.bg_00705,
.bg_00708,
.bg_00755,
.bg_00761,
.bg_00767,
.bg_00848,
.bg_00851,
.bg_00852,
.bg_00853,
.bg_00874,
.bg_00876,
.bg_00892,
.bg_00928,
.bg_00977,
.bg_00978,
.bg_00979,
.bg_00980,
.bg_01000,
.bg_01163,
.bg_01164,
.bg_01170,
.bg_01191,
.bg_01221,
.bg_01229,
.bg_01300,
.bg_01301,
.bg_01305,
.bg_01321,
.bg_01322,
.bg_01323,
.bg_01324,
.bg_01422,
.bg_01579,
.bg_01602,
.bg_01605,
.bg_01603,
.bg_02003,
.bg_02005,
.bg_02040,
.bg_02193,
.bg_02219,
.bg_02221,
.bg_02788,
.bg_02792,
.bg_02793,
.bg_02794,
.bg_02795,
.bg_02796,
.bg_02797,
.bg_02798,
.bg_02799,
.bg_02877,
.bg_02880,
.bg_02890,
.bg_02893,
.bg_02895,
.bg_02897,
.bg_02899,
.bg_02900,
.bg_03054,
.bg_03263,
.bg_03266,
.bg_03269,
.bg_03272,
.bg_03282,
.bg_03285,
.bg_03788,
.bg_03791,
.bg_03796,
.bg_03799,
.bg_03821,
.bg_03873,
.bg_03874,
.bg_03877,
.bg_04039,
.bg_04049,
.bg_04053,
.bg_04056,
.bg_04059,
.bg_04062,
.bg_04065,
.bg_04073,
.bg_04080,
.bg_04102,
.bg_04117,
.bg_04122,
.bg_04128,
.bg_04151,
.bg_04155,
.bg_04164,
.bg_04165,
.bg_04172,
.bg_04174,
.bg_04177,
.bg_04180,
.bg_04183,
.bg_04187,
.bg_04190,
.bg_04201,
.bg_04203,
.bg_04204,
.bg_04206,
.bg_04207,
.bg_04208,
.bg_04209,
.bg_04210,
.bg_04276,
.bg_04279,
.bg_04292,
.bg_04293,
.bg_04297,
.bg_04305,
.bg_04310,
.bg_04313,
.bg_04317,
.bg_04322,
.bg_04324,
.bg_04327,
.bg_04336,
.bg_04340,
.bg_04351,
.bg_04355,
.bg_04356,
.bg_04358,
.bg_04359,
.bg_04360,
.bg_04368,
.bg_04375,
.bg_04379,
.bg_04383,
.bg_04384,
.bg_04385,
.bg_04386,
.bg_04387,
.bg_04390,
.bg_04393,
.bg_04406,
.bg_04407,
.bg_04409,
.bg_04410,
.bg_04411,
.bg_04414,
.bg_04416,
.bg_04442,
.bg_04448,
.bg_04455,
.bg_04460,
.bg_04502,
.bg_04504,
.bg_04507,
.bg_04510,
.bg_04513,
.bg_04516,
.bg_04529,
.bg_04535,
.bg_04536,
.bg_04543,
.bg_04544,
.bg_04545,
.bg_04548,
.bg_04550,
.bg_04553,
.bg_04555,
.bg_04558,
.bg_04559,
.bg_05016,
.bg_05305,
.bg_05306,
.bg_05418,
.bg_05420,
.bg_05701,
.bg_05711,
.bg_05803,
.bg_05901,
.bg_05922,
.bg_05923,
.bg_05951,
.bg_05966,
.bg_05967,
.bg_05968,
.bg_05969,
.bg_05987,
.bg_02346,
.bg_02347,
.bg_02354,
.bg_02355,
.bg_252053,
.bg_252055,
.bg_409015,
.bg_409016,
.bg_409248,
.bg_409254,
.bg_409255,
.bg_409330,
.bg_409348,
.bg_409401,
.bg_409402,
.bg_409420,
.bg_409651,
.bg_409700,
.bg_409701,
.bg_409702,
.bg_409706,
.bg_409711,
.bg_409712,
.bg_409716,
.bg_409717,
.bg_409800,
.bg_409803,
.bg_409805,
.bg_409900,
.bg_409901,
.bg_409942,
.bg_409947,
.bg_409948,
.bg_409950,
.bg_409951,
.bg_409966,
.bg_409967,
.bg_409968,
.bg_409969,
.bg_409987,
.bg_01307,
.bg_01309,
.bg_01255,
.bg_01308,
.bg_01651,
.bg_01449,
.bg_01610,
.bg_01609,
.bg_01608,
.bg_01279,
.bg_01250,
.bg_01263,
.bg_01264,
.bg_01265,
.bg_01266,
.bg_01304,
.bg_01306,
.bg_01333,
.bg_01334,
.bg_01347,
.bg_01349,
.bg_01350,
.bg_01351,
.bg_01352,
.bg_01353,
.bg_01354,
.bg_01358,
.bg_01418,
.bg_01420,
.bg_01604,
.bg_01619,
.bg_04413,
.bg_04459,
.bg_04546,
.bg_04549,
.bg_04552,
.bg_04556,
.bg_04670,
.bg_04674,
.bg_04678,
.bg_04682,
.bg_04686,
.bg_04687,
.bg_02362,
.bg_02366,
.bg_409049,
.bg_409232,
.bg_409239,
.bg_409332,
.bg_409339,
.bg_409409,
.bg_409428,
.bg_409750,
.bg_409756,
.bg_409806,
.bg_409944,
.bg_409946,
.bg_529417,
.bg_990004,
.background-degrade-azul {
  background: linear-gradient(-30deg, #00306b, #007eb7);
  color: white;
}

.bg_02407,
.bg_02151,
.bg_02152,
.bg_02181,
.bg_01584,
.bg_01593,
.bg_02119,
.bg_02220,
.bg_02179,
.bg_01591,
.bg_01296,
.bg_01290,
.bg_01286,
.bg_01287,
.bg_00793,
.bg_00794,
.bg_00798,
.bg_00799,
.bg_00908,
.bg_00909,
.bg_00910,
.bg_00911,
.bg_01041,
.bg_01042,
.bg_01340,
.bg_01341,
.bg_01342,
.bg_01343,
.bg_01380,
.bg_01381,
.bg_01389,
.bg_01390,
.bg_01396,
.bg_01403,
.bg_01409,
.bg_01410,
.bg_01411,
.bg_01416,
.bg_01562,
.bg_01583,
.bg_01585,
.bg_01592,
.bg_01594,
.bg_01832,
.bg_01833,
.bg_01892,
.bg_01889,
.bg_01983,
.bg_01998,
.bg_01999,
.bg_02010,
.bg_02012,
.bg_02013,
.bg_02015,
.bg_02019,
.bg_02113,
.bg_02120,
.bg_02131,
.bg_02158,
.bg_02167,
.bg_02170,
.bg_02180,
.bg_02182,
.bg_02183,
.bg_02201,
.bg_02213,
.bg_02223,
.bg_02227,
.bg_02237,
.bg_02276,
.bg_02277,
.bg_02279,
.bg_02423,
.bg_02425,
.bg_03823,
.bg_03825,
.bg_03826,
.bg_03827,
.bg_03828,
.bg_03829,
.bg_03831,
.bg_03833,
.bg_03834,
.bg_03835,
.bg_03836,
.bg_03837,
.bg_03884,
.bg_03885,
.bg_03886,
.bg_03887,
.bg_03889,
.bg_03890,
.bg_03892,
.bg_03893,
.bg_03895,
.bg_03897,
.bg_03898,
.bg_03899,
.bg_04401,
.bg_04402,
.bg_04417,
.bg_04418,
.bg_04420,
.bg_04421,
.bg_04423,
.bg_04441,
.bg_04445,
.bg_04446,
.bg_04449,
.bg_04450,
.bg_04452,
.bg_04453,
.bg_04456,
.bg_04457,
.bg_04458,
.bg_04547,
.bg_04569,
.bg_04570,
.bg_04571,
.bg_04573,
.bg_04576,
.bg_04577,
.bg_04578,
.bg_04579,
.bg_04580,
.bg_04582,
.bg_04583,
.bg_04585,
.bg_04586,
.bg_04588,
.bg_04589,
.bg_04622,
.bg_04623,
.bg_04624,
.bg_04625,
.bg_04626,
.bg_04627,
.bg_04628,
.bg_04629,
.bg_04630,
.bg_04631,
.bg_04632,
.bg_04633,
.bg_05907,
.bg_05954,
.bg_409010,
.bg_409011,
.bg_409427,
.bg_409811,
.bg_409812,
.bg_409813,
.bg_409814,
.bg_409904,
.bg_409905,
.bg_409907,
.bg_409920,
.bg_409922,
.bg_409923,
.bg_409930,
.bg_409932,
.bg_409933,
.bg_409934,
.bg_409936,
.bg_409937,
.bg_409954,
.bg_409957,
.bg_409964,
.bg_990201,
.bg_01883,
.bg_01990,
.background-degrade-azul_marinho {
  background: linear-gradient(-30deg, #000021, #00407b);
  color: white;
}

.bg_01289,
.bg_01288,
.bg_01036,
.bg_01099,
.bg_01101,
.bg_01192,
.bg_01193,
.bg_01194,
.bg_01195,
.bg_01196,
.bg_01197,
.bg_01294,
.bg_01295,
.bg_01838,
.bg_01992,
.bg_02011,
.bg_02014,
.bg_02018,
.bg_02153,
.bg_02188,
.bg_04890,
.bg_04891,
.bg_05017,
.bg_05020,
.bg_05054,
.bg_05055,
.bg_05056,
.bg_05057,
.bg_05117,
.bg_05718,
.bg_05931,
.bg_06038,
.bg_09017,
.bg_09410,
.bg_09411,
.bg_09415,
.bg_09416,
.bg_09417,
.bg_09704,
.bg_09714,
.bg_09801,
.bg_09935,
.bg_01882,
.bg_01993,
.background-degrade-preto {
  background: linear-gradient(-30deg, #000000, #5a5a5a);
  color: white;
}

.bg_01501,
.bg_01596,
.bg_01652,
.bg_01171,
.bg_01391,
.bg_01597,
.bg_02102,
.bg_02154,
.bg_02225,
.bg_409335,
.background-degrade-bordo {
  background: linear-gradient(-30deg, #741a21, #dc2230);
  color: white;
}

.bg_01657,
.bg_01656,
.bg_01216,
.bg_00009,
.bg_00011,
.bg_00012,
.bg_00014,
.bg_00197,
.bg_00198,
.bg_00905,
.bg_00961,
.bg_00962,
.bg_00963,
.bg_00964,
.bg_00967,
.bg_00970,
.bg_00983,
.bg_00984,
.bg_01034,
.bg_01035,
.bg_01065,
.bg_01067,
.bg_01076,
.bg_01172,
.bg_01173,
.bg_01174,
.bg_01177,
.bg_01180,
.bg_01374,
.bg_01375,
.bg_01376,
.bg_01377,
.bg_01378,
.bg_01379,
.bg_01572,
.bg_01575,
.bg_01576,
.bg_01577,
.bg_01844,
.bg_01845,
.bg_01857,
.bg_01858,
.bg_01897,
.bg_01898,
.bg_01899,
.bg_01984,
.bg_02076,
.bg_02382,
.bg_02383,
.bg_04193,
.bg_04194,
.bg_04195,
.bg_04196,
.bg_04197,
.bg_04198,
.bg_04430,
.bg_04437,
.bg_04438,
.bg_04439,
.bg_04673,
.bg_04677,
.bg_04681,
.bg_04685,
.bg_04750,
.bg_04771,
.bg_04894,
.bg_04895,
.bg_04930,
.bg_04931,
.bg_04950,
.bg_04954,
.bg_04958,
.bg_04962,
.bg_01069,
.bg_01070,
.bg_02324,
.bg_02325,
.bg_02326,
.bg_02327,
.bg_02334,
.bg_02335,
.bg_02342,
.bg_02343,
.bg_02344,
.bg_02345,
.bg_02352,
.bg_02353,
.bg_02360,
.bg_02361,
.bg_02365,
.bg_02369,
.bg_02374,
.bg_02375,
.bg_02413,
.bg_02416,
.bg_02419,
.bg_02422,
.bg_252009,
.bg_01874,
.bg_01875,
.bg_01880,
.bg_01881,
.bg_01989,
.bg_01991,
.bg_02077,
.background-degrade-capuccino {
  background: linear-gradient(-30deg, #251c10, #70636c);
  color: white;
}

.bg_00903,
.bg_04946,
.bg_04660,
.bg_04608,
.bg_04607,
.bg_01075,
.bg_01074,
.bg_01073,
.bg_01063,
.bg_01062,
.bg_00988,
.bg_01204,
.bg_02028,
.bg_02411,
.bg_02316,
.bg_02317,
.bg_02318,
.bg_02319,
.bg_02330,
.bg_02331,
.bg_02336,
.bg_02337,
.bg_02338,
.bg_02339,
.bg_02348,
.bg_02349,
.bg_02356,
.bg_02357,
.bg_02363,
.bg_02367,
.bg_02370,
.bg_02371,
.bg_01658,
.bg_01659,
.bg_01653,
.bg_01654,
.bg_01655,
.bg_01516,
.bg_01515,
.bg_01508,
.bg_01507,
.bg_01503,
.bg_01504,
.bg_00038,
.bg_00043,
.bg_00046,
.bg_00048,
.bg_00193,
.bg_00194,
.bg_00901,
.bg_00902,
.bg_01031,
.bg_01064,
.bg_01066,
.bg_01068,
.bg_01077,
.bg_01078,
.bg_01159,
.bg_01160,
.bg_01167,
.bg_01181,
.bg_01182,
.bg_01202,
.bg_01203,
.bg_01209,
.bg_01210,
.bg_01212,
.bg_01222,
.bg_01230,
.bg_01331,
.bg_01370,
.bg_01371,
.bg_01615,
.bg_01617,
.bg_02029,
.bg_02036,
.bg_02037,
.bg_02038,
.bg_02039,
.bg_02041,
.bg_02378,
.bg_02379,
.bg_02785,
.bg_04399,
.bg_04752,
.bg_04753,
.bg_04767,
.bg_04768,
.bg_04828,
.bg_04945,
.bg_04948,
.bg_04952,
.bg_04956,
.bg_04960,
.bg_02414,
.bg_02417,
.bg_02420,
.bg_04335,
.bg_04675,
.bg_04683,
.background-degrade-champagne {
  background: linear-gradient(-30deg, #9e9275, #dcd4b5);
  color: black;
}

.bg_,
.background-degrade-bordo {
  background: linear-gradient(-30deg, #023394, #28658c);
  color: white;
}

.bg_01072,
.bg_01281,
.bg_01280,
.bg_01213,
.bg_01179,
.bg_01176,
.bg_01215,
.bg_00002,
.bg_00026,
.bg_00040,
.bg_00044,
.bg_00047,
.bg_00049,
.bg_00146,
.bg_00174,
.bg_00192,
.bg_00195,
.bg_00196,
.bg_00205,
.bg_00210,
.bg_00354,
.bg_00648,
.bg_00707,
.bg_00710,
.bg_00757,
.bg_00763,
.bg_00769,
.bg_00771,
.bg_00773,
.bg_00775,
.bg_00777,
.bg_00795,
.bg_00796,
.bg_00797,
.bg_00801,
.bg_00817,
.bg_00850,
.bg_00855,
.bg_00861,
.bg_00894,
.bg_00900,
.bg_00904,
.bg_00912,
.bg_00913,
.bg_00915,
.bg_00917,
.bg_00966,
.bg_00969,
.bg_00972,
.bg_00974,
.bg_00981,
.bg_00982,
.bg_01032,
.bg_01033,
.bg_01168,
.bg_01253,
.bg_01271,
.bg_01272,
.bg_01273,
.bg_01314,
.bg_01316,
.bg_01318,
.bg_01320,
.bg_01335,
.bg_01336,
.bg_01338,
.bg_01339,
.bg_01355,
.bg_01356,
.bg_01372,
.bg_01373,
.bg_01404,
.bg_01406,
.bg_01414,
.bg_01509,
.bg_01510,
.bg_01511,
.bg_01512,
.bg_01517,
.bg_01518,
.bg_01567,
.bg_01569,
.bg_01571,
.bg_01574,
.bg_01616,
.bg_01618,
.bg_01842,
.bg_01843,
.bg_01848,
.bg_01856,
.bg_01893,
.bg_01894,
.bg_01895,
.bg_01896,
.bg_01996,
.bg_01997,
.bg_02008,
.bg_02009,
.bg_02016,
.bg_02017,
.bg_02024,
.bg_02025,
.bg_02042,
.bg_02075,
.bg_02380,
.bg_02381,
.bg_02784,
.bg_02789,
.bg_02790,
.bg_02873,
.bg_02879,
.bg_02882,
.bg_02889,
.bg_02892,
.bg_02898,
.bg_03265,
.bg_03268,
.bg_03271,
.bg_03274,
.bg_03284,
.bg_03287,
.bg_03288,
.bg_03289,
.bg_03790,
.bg_03793,
.bg_03794,
.bg_03798,
.bg_03801,
.bg_03802,
.bg_03822,
.bg_03824,
.bg_03830,
.bg_03832,
.bg_03876,
.bg_03879,
.bg_03881,
.bg_03888,
.bg_03891,
.bg_03894,
.bg_03896,
.bg_03976,
.bg_03977,
.bg_04037,
.bg_04051,
.bg_04055,
.bg_04058,
.bg_04061,
.bg_04067,
.bg_04082,
.bg_04104,
.bg_04107,
.bg_04115,
.bg_04124,
.bg_04130,
.bg_04135,
.bg_04141,
.bg_04153,
.bg_04159,
.bg_04161,
.bg_04176,
.bg_04184,
.bg_04202,
.bg_04205,
.bg_04211,
.bg_04269,
.bg_04272,
.bg_04273,
.bg_04282,
.bg_04309,
.bg_04312,
.bg_04315,
.bg_04321,
.bg_04326,
.bg_04329,
.bg_04331,
.bg_04334,
.bg_04338,
.bg_04342,
.bg_04357,
.bg_04362,
.bg_04367,
.bg_04389,
.bg_04392,
.bg_04400,
.bg_04403,
.bg_04408,
.bg_04412,
.bg_04415,
.bg_04419,
.bg_04422,
.bg_04426,
.bg_04429,
.bg_04433,
.bg_04436,
.bg_04444,
.bg_04447,
.bg_04451,
.bg_04454,
.bg_04461,
.bg_04497,
.bg_04498,
.bg_04499,
.bg_04500,
.bg_04503,
.bg_04506,
.bg_04509,
.bg_04512,
.bg_04515,
.bg_04531,
.bg_04534,
.bg_04538,
.bg_04541,
.bg_04551,
.bg_04554,
.bg_04557,
.bg_04560,
.bg_04572,
.bg_04575,
.bg_04581,
.bg_04584,
.bg_04587,
.bg_04590,
.bg_04592,
.bg_04593,
.bg_04645,
.bg_04651,
.bg_04652,
.bg_04656,
.bg_04657,
.bg_04661,
.bg_04663,
.bg_04665,
.bg_04667,
.bg_04672,
.bg_04676,
.bg_04680,
.bg_04684,
.bg_04928,
.bg_04929,
.bg_04949,
.bg_04953,
.bg_04957,
.bg_04961,
.bg_05500,
.bg_05501,
.bg_05715,
.bg_05850,
.bg_02320,
.bg_02321,
.bg_02322,
.bg_02323,
.bg_02332,
.bg_02333,
.bg_02340,
.bg_02341,
.bg_02350,
.bg_02351,
.bg_02358,
.bg_02359,
.bg_02364,
.bg_02368,
.bg_02372,
.bg_02373,
.bg_02412,
.bg_02415,
.bg_02418,
.bg_02421,
.bg_252039,
.bg_252901,
.bg_252902,
.bg_252904,
.bg_409058,
.bg_409059,
.bg_409352,
.bg_409353,
.bg_409356,
.bg_409359,
.bg_409362,
.bg_409400,
.bg_409500,
.bg_409501,
.bg_409502,
.bg_409606,
.bg_409620,
.bg_409626,
.bg_409628,
.bg_409629,
.bg_409650,
.bg_409703,
.bg_409705,
.bg_409707,
.bg_409709,
.bg_409710,
.bg_409713,
.bg_409715,
.bg_409769,
.bg_409770,
.bg_409807,
.bg_409850,
.bg_409906,
.bg_409908,
.bg_409959,
.bg_409960,
.bg_409961,
.bg_409962,
.bg_990008,
.bg_01872,
.bg_01873,
.bg_01878,
.bg_01879,
.bg_01987,
.bg_01988,
.background-degrade-ouro {
  background: linear-gradient(-30deg, #b98a32, #d7b464);
  color: black;
}

.bg_01387,
.bg_01417,
.bg_01423,
.bg_01425,
.bg_01426,
.bg_01561,
.bg_02103,
.bg_02129,
.bg_02178,
.bg_02198,
.bg_252013,
.bg_409991,
.background-degrade-laranja {
  background: linear-gradient(-30deg, #e66100, #fea100);
  color: black;
}

.bg_04899,
.bg_04349,
.bg_04280,
.bg_02786,
.bg_02315,
.bg_02280,
.bg_02278,
.bg_01337,
.bg_01325,
.bg_01329,
.bg_01330,
.bg_01332,
.bg_01311,
.bg_01312,
.bg_01302,
.bg_01303,
.bg_01189,
.bg_01190,
.bg_01188,
.bg_01175,
.bg_00999,
.bg_00877,
.bg_01214,
.bg_00878,
.bg_01621,
.bg_01601,
.bg_01611,
.bg_01513,
.bg_01514,
.bg_01502,
.bg_01500,
.bg_00025,
.bg_00037,
.bg_00041,
.bg_00140,
.bg_00173,
.bg_00191,
.bg_00204,
.bg_00224,
.bg_00647,
.bg_00706,
.bg_00709,
.bg_00756,
.bg_00762,
.bg_00768,
.bg_00770,
.bg_00772,
.bg_00774,
.bg_00776,
.bg_00800,
.bg_00849,
.bg_00854,
.bg_00860,
.bg_00893,
.bg_00899,
.bg_00930,
.bg_00965,
.bg_00968,
.bg_00971,
.bg_00973,
.bg_00989,
.bg_01153,
.bg_01161,
.bg_01178,
.bg_01185,
.bg_01186,
.bg_01201,
.bg_01211,
.bg_01251,
.bg_01252,
.bg_01254,
.bg_01278,
.bg_01310,
.bg_01313,
.bg_01315,
.bg_01317,
.bg_01319,
.bg_01326,
.bg_01344,
.bg_01345,
.bg_01346,
.bg_01357,
.bg_01361,
.bg_01362,
.bg_01384,
.bg_01392,
.bg_01566,
.bg_01568,
.bg_01570,
.bg_01573,
.bg_01613,
.bg_01614,
.bg_01620,
.bg_01650,
.bg_01744,
.bg_01825,
.bg_01826,
.bg_01827,
.bg_01828,
.bg_01829,
.bg_01830,
.bg_01831,
.bg_01886,
.bg_01887,
.bg_01888,
.bg_01890,
.bg_01891,
.bg_01994,
.bg_01995,
.bg_02002,
.bg_02004,
.bg_02006,
.bg_02007,
.bg_02020,
.bg_02026,
.bg_02027,
.bg_02030,
.bg_02031,
.bg_02032,
.bg_02033,
.bg_02034,
.bg_02035,
.bg_02106,
.bg_02173,
.bg_02174,
.bg_02202,
.bg_02204,
.bg_02281,
.bg_02283,
.bg_02409,
.bg_02410,
.bg_02427,
.bg_02428,
.bg_02787,
.bg_02791,
.bg_02800,
.bg_02801,
.bg_02802,
.bg_02803,
.bg_02804,
.bg_02805,
.bg_02806,
.bg_02807,
.bg_02808,
.bg_02809,
.bg_02810,
.bg_02811,
.bg_02812,
.bg_02813,
.bg_02814,
.bg_02815,
.bg_02816,
.bg_02817,
.bg_02818,
.bg_02819,
.bg_02820,
.bg_02821,
.bg_02822,
.bg_02823,
.bg_02824,
.bg_02825,
.bg_02826,
.bg_02827,
.bg_02828,
.bg_02829,
.bg_02830,
.bg_02831,
.bg_02832,
.bg_02833,
.bg_02834,
.bg_02835,
.bg_02836,
.bg_02837,
.bg_02838,
.bg_02839,
.bg_02840,
.bg_02841,
.bg_02842,
.bg_02843,
.bg_02844,
.bg_02845,
.bg_02846,
.bg_02847,
.bg_02848,
.bg_02849,
.bg_02850,
.bg_02851,
.bg_02852,
.bg_02853,
.bg_02854,
.bg_02855,
.bg_02856,
.bg_02857,
.bg_02858,
.bg_02859,
.bg_02860,
.bg_02861,
.bg_02862,
.bg_02863,
.bg_02864,
.bg_02867,
.bg_02868,
.bg_02869,
.bg_02870,
.bg_02871,
.bg_02872,
.bg_02874,
.bg_02878,
.bg_02881,
.bg_02883,
.bg_02884,
.bg_02885,
.bg_02891,
.bg_02894,
.bg_02896,
.bg_02998,
.bg_02999,
.bg_03264,
.bg_03267,
.bg_03270,
.bg_03273,
.bg_03283,
.bg_03761,
.bg_03789,
.bg_03792,
.bg_03797,
.bg_03800,
.bg_03875,
.bg_03878,
.bg_03880,
.bg_04022,
.bg_04041,
.bg_04050,
.bg_04054,
.bg_04057,
.bg_04060,
.bg_04063,
.bg_04066,
.bg_04068,
.bg_04074,
.bg_04081,
.bg_04091,
.bg_04094,
.bg_04098,
.bg_04103,
.bg_04113,
.bg_04114,
.bg_04118,
.bg_04123,
.bg_04129,
.bg_04131,
.bg_04136,
.bg_04146,
.bg_04152,
.bg_04154,
.bg_04158,
.bg_04160,
.bg_04166,
.bg_04167,
.bg_04168,
.bg_04169,
.bg_04170,
.bg_04171,
.bg_04175,
.bg_04178,
.bg_04181,
.bg_04200,
.bg_04212,
.bg_04240,
.bg_04270,
.bg_04271,
.bg_04275,
.bg_04277,
.bg_04281,
.bg_04286,
.bg_04287,
.bg_04288,
.bg_04289,
.bg_04290,
.bg_04291,
.bg_04302,
.bg_04308,
.bg_04311,
.bg_04314,
.bg_04316,
.bg_04318,
.bg_04319,
.bg_04320,
.bg_04323,
.bg_04325,
.bg_04328,
.bg_04330,
.bg_04332,
.bg_04337,
.bg_04339,
.bg_04341,
.bg_04343,
.bg_04344,
.bg_04345,
.bg_04346,
.bg_04347,
.bg_04350,
.bg_04352,
.bg_04366,
.bg_04369,
.bg_04376,
.bg_04377,
.bg_04378,
.bg_04388,
.bg_04391,
.bg_04394,
.bg_04395,
.bg_04397,
.bg_04398,
.bg_04424,
.bg_04425,
.bg_04427,
.bg_04428,
.bg_04431,
.bg_04432,
.bg_04434,
.bg_04435,
.bg_04443,
.bg_04501,
.bg_04505,
.bg_04508,
.bg_04511,
.bg_04514,
.bg_04530,
.bg_04533,
.bg_04537,
.bg_04540,
.bg_04574,
.bg_04591,
.bg_04594,
.bg_04658,
.bg_04659,
.bg_04662,
.bg_04955,
.bg_04664,
.bg_04666,
.bg_04668,
.bg_04669,
.bg_04671,
.bg_04679,
.bg_04896,
.bg_04897,
.bg_04898,
.bg_04947,
.bg_04951,
.bg_04959,
.bg_05006,
.bg_05019,
.bg_05023,
.bg_05024,
.bg_05102,
.bg_05229,
.bg_05329,
.bg_05410,
.bg_05411,
.bg_05415,
.bg_05416,
.bg_05417,
.bg_05626,
.bg_05704,
.bg_05714,
.bg_05754,
.bg_05801,
.bg_05807,
.bg_05963,
.bg_05989,
.bg_120800,
.bg_02328,
.bg_02329,
.bg_249800,
.bg_252001,
.bg_252003,
.bg_252035,
.bg_252037,
.bg_252041,
.bg_252042,
.bg_252043,
.bg_252046,
.bg_252047,
.bg_252054,
.bg_252056,
.bg_409001,
.bg_409006,
.bg_409019,
.bg_409023,
.bg_409024,
.bg_409052,
.bg_409053,
.bg_409060,
.bg_409061,
.bg_409102,
.bg_409201,
.bg_409226,
.bg_409326,
.bg_409328,
.bg_409345,
.bg_409355,
.bg_409358,
.bg_409361,
.bg_409370,
.bg_409503,
.bg_409754,
.bg_409757,
.bg_409762,
.bg_409766,
.bg_409768,
.bg_409914,
.bg_409955,
.bg_409956,
.bg_409963,
.bg_409989,
.bg_990206,
.background-degrade-prata {
  background: linear-gradient(-30deg, #939393, #d2d2d2);
  color: black;
}

.bg_01205,
.bg_01206,
.bg_01207,
.bg_01208,
.bg_01834,
.bg_01835,
.bg_01836,
.bg_01837,
.bg_01850,
.bg_01851,
.bg_01852,
.bg_01853,
.bg_02429,
.bg_02430,
.bg_02431,
.bg_02432,
.background-degrade-rosa {
  background: linear-gradient(-30deg, #ab136c, #e20a89);
  color: white;
}

.bg_01840,
.bg_01841,
.bg_01846,
.bg_01847,
.bg_02231,
.background-degrade-roxo {
  background: linear-gradient(-30deg, #18005e, #79009f);
  color: white;
}

.bg_01045,
.bg_01412,
.bg_02111,
.bg_02109,
.bg_02186,
.bg_02184,
.bg_02127,
.bg_01044,
.bg_01169,
.bg_01382,
.bg_01383,
.bg_01394,
.bg_01405,
.bg_01595,
.bg_01598,
.bg_01861,
.bg_01862,
.bg_01863,
.bg_02110,
.bg_02112,
.bg_02128,
.bg_02149,
.bg_02156,
.bg_02185,
.bg_02187,
.bg_02209,
.bg_02235,
.bg_02424,
.bg_02426,
.bg_05014,
.bg_05251,
.bg_05253,
.bg_05325,
.bg_05525,
.bg_409253,
.bg_01359,
.bg_01360,
.bg_02176,
.bg_04348,
.bg_05760,
.bg_409338,
.bg_990001,
.bg_990005,
.bg_990202,
.background-degrade-verde_escuro {
  background: linear-gradient(-30deg, #004f3f, #008644);
  color: white;
}

.bg_02136,
.bg_02169,
.bg_02107,
.bg_02268,
.bg_02267,
.bg_01582,
.bg_02142,
.bg_02272,
.bg_02271,
.bg_02270,
.bg_02269,
.bg_01589,
.bg_01274,
.bg_01218,
.bg_01217,
.bg_01275,
.bg_01220,
.bg_01219,
.bg_01150,
.bg_01151,
.bg_01152,
.bg_01393,
.bg_01395,
.bg_01398,
.bg_01402,
.bg_01407,
.bg_01408,
.bg_01421,
.bg_01590,
.bg_02108,
.bg_02122,
.bg_02126,
.bg_02137,
.bg_02143,
.bg_02160,
.bg_02168,
.bg_02172,
.bg_02191,
.bg_02195,
.bg_02230,
.bg_02238,
.bg_02241,
.bg_05018,
.bg_05025,
.bg_05026,
.bg_05051,
.bg_05708,
.bg_05709,
.bg_06012,
.bg_06118,
.background-degrade-vermelho {
  background: linear-gradient(-30deg, #ae0022, #ed332b);
  color: white;
}

.bg_01870,
.bg_01871,
.bg_01876,
.bg_01877,
.bg_01985,
.bg_01986,
.bg_02023,
.bg_02022,
.bg_02021,
.background-degrade-esmeralda {
  background: linear-gradient(-30deg, #04656b, #018587);
  color: white;
}

.bg_02063,
.background-degrade-verde_com_azul {
  background: linear-gradient(-30deg, #0d456f, #1c7d77);
  color: white;
}

.gradiente-cartao {
  margin-right: 12px;
  border-radius: 4px;
  width: 48px;
  height: 36px;
}
.gradiente-cartao img {
  position: relative;
  top: 9.5px;
  left: 8px;
}

/*CSS novo degrade imagens DN FIM*/
