
/**
  *** ------------------------------------------
  *** Box de Login
  *** ------------------------------------------
  **/

/* versão do box de vitrine ativada com clique */

.box-login .box-login-ele {
    border: 1px solid $gray-bright;
    border-radius: 6px;
    display: block;
    height: 175px;
    overflow: hidden;
  
    border-radius: 6px;
  }
  .box-login .box-login-ele.box-hover:hover {
    border: 1px solid $primary;
    cursor: pointer;
    background-color: $gray-lightest;
  }
  .box-login-ele .box-login-ele-content {
    display: inherit;
    height: inherit;
    padding: 10px;
  }
  .box-login-ele .box-login-ele-content--last {
    background: $gray-lightest;
  }
  .box-login-ele-content .btn {
    display: inline-block;
    min-width: 30px;
  }
  