
/* Box cartões home - Meu Itaú */
.box-home {
    border: solid 1px rgb(200, 200, 200);
    border-radius: 10px;
    min-height: 25em;
    padding: 10px 10px 0px 10px;
    position: relative;
  }
  .box-home .img-icon-text {
    width: 54%;
  }
  .box-home .img-icon-text h2 {
    border: none;
    margin-bottom: 0;
  }
  .box-home .btn {
    bottom: 1em;
    right: 1em;
    position: absolute;
  }
  .box-home-center .img-icon img {
    display: block;
    margin: 1em auto;
  }
  .box-home-center .img-icon-text {
    width: auto;
  }
  .box-home-center .btn {
    display: block;
    margin: 0 auto;
    position: static;
    width: 90px;
  }
  .box-home.col4 {
    width: 315px;
  }
  .box-home-orange {
    border: solid 1px $primary;
  }
  .box-home-title1 {
    font-size: 15px;
  }
  