
/**
  *** ------------------------------------------
  *** Ajuste módulo de dúvidas
  *** ------------------------------------------
  **/

  .mudaBoxComDiv1.ativo .box-info:hover,
  .mudaBoxComDiv2.ativo .box-info:hover,
  .mudaBoxComDiv3.ativo .box-info:hover,
  .mudaBoxComDiv4.ativo .box-info:hover {
    border: 1px solid $primary;
  }
  .mudaBoxComDiv1.ativo .box-info,
  .mudaBoxComDiv2.ativo .box-info,
  .mudaBoxComDiv3.ativo .box-info,
  .mudaBoxComDiv4.ativo .box-info {
    border: 1px solid $primary;
    cursor: default !important;
  }
  
  .boxes-duvidas .ativo .box-duvida {
    border: 1px solid $primary;
    cursor: default;
  }
  .boxes-duvidas .ativo .box-duvida p {
    color: #ef4704;
  }
  .box-duvida {
    cursor: pointer;
    width: 100%;
    background: $white;
    border: 1px solid $gray-bright;
    margin-bottom: 20px;
    min-height: 120px;
    padding: 10px 15px;
  
    border-radius: 6px;
  }
  .box-duvida:hover {
    border: 1px solid $primary;
  }
  .boxes-duvidas .seta-indicativa.pos-a {
    left: 73px;
  }
  .boxes-duvidas .seta-indicativa.pos-b {
    left: 244px;
  }
  .boxes-duvidas .seta-indicativa.pos-c {
    left: 415px;
  }
  .boxes-duvidas .seta-indicativa.pos-d {
    left: 586px;
  }
  
  /** Criando setas indicativar para o primeiro acesso - login **/
  .boxes-duvidas .seta-indicativa.col3-pos-a {
    left: 90px;
  }
  .boxes-duvidas .seta-indicativa.col3-pos-b {
    left: 300px;
  }
  .boxes-duvidas .seta-indicativa.col3-pos-c {
    left: 510px;
  }
  