/* Breadcrumbs */

ul.breadcrumb {
  color: $gray-dark;
  font-size: 14px;
  padding: 0;
  margin: 0;
  *margin-top: 20px;
}
ul.breadcrumb li {
  list-style: none;
  display: inline;
  background: none;
  padding-left: 0;
}
ul.breadcrumb li a {
  color: $gray-dark;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}
ul.breadcrumb li:after {
  content: " >";
}
ul.breadcrumb li:last-child::after {
  content: "";
}
