
/**
  *** ------------------------------------------
  *** Barra Browsers antigos
  *** ------------------------------------------
  **/
  .browser-antigo {
    top: 0px;
    line-height: 1;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
  }
  .browser-antigo .content {
    min-width: 980px;
    width: 100%;
    height: 60px;
    background-color: #feffd7;
    border-bottom: 1px solid #abaa9a;
  }
  .browser-antigo .content-msg {
    font-size: 12px;
    color: #134679;
    float: left;
    display: inline-block;
    *display: inline;
    _display: inline;
    zoom: 1;
    padding: 10px 20px;
  }
  .browser-antigo .content-msg p {
    line-height: 20px;
  }
  .browser-antigo .content-img {
    display: inline-block;
    *display: inline;
    _display: inline;
    zoom: 1;
    padding: 10px 20px 10px 0;
    float: right;
  }
  .browser-antigo .content-img ul {
    height: 40px;
    padding: 0;
    margin: 0;
  }
  .browser-antigo .content-img ul li {
    padding: 0 1px;
    list-style: none;
    background: none !important;
    display: inline-block;
    *display: inline;
    _display: inline;
    zoom: 1;
  }
  .browser-antigo .content-img ul li a img {
    border: 0;
  }
  .body-browser-antigo {
    padding-top: 60px;
  }
  
  span.browser-btn-app-itau {
    background: url("../img/browser-btn-app-itau.gif") center center no-repeat;
    height: 40px;
    width: 110px;
    float: left;
    margin-right: 2px;
  }
  span.browser-btn-ie {
    background: url("../img/browser-btn-ie.gif") center center no-repeat;
    height: 40px;
    width: 110px;
    float: left;
    margin-right: 2px;
  }
  span.browser-btn-chrome {
    background: url("../img/browser-btn-chrome.gif") center center no-repeat;
    height: 40px;
    width: 110px;
    float: left;
    margin-right: 2px;
  }
  span.browser-btn-firefox {
    background: url("../img/browser-btn-firefox.gif") center center no-repeat;
    height: 40px;
    width: 110px;
    float: left;
    margin-right: 2px;
  }
  span.browser-btn-safari {
    background: url("../img/browser-btn-safari.gif") center center no-repeat;
    height: 40px;
    width: 110px;
    float: left;
    margin-right: 2px;
  }
  