
/* Input de pesquisa-buscar */
.botao-busca-lupa {
    position: absolute;
    border: none;
    margin: 3px 5px 0 0;
    right: 0;
    top: 5px;
    z-index: 2;
  }
  
  /* Foco nos botoes no resultado da busca*/
  @-moz-document url-prefix() {
    #contentBusca .btn:focus {
      outline: 1px dotted black;
    }
  }
  
  /* Campo data (quando) da barra de busca em uma acao rapida (Transferencia Rapida) */
  header.busca-header-exp #barraBuscaData {
    width: 130px;
  }
  #barraBuscaData {
    width: 117px;
  }
  /* ** */
  

/* ajuste box destaque tela de busca */

.box-info-destaque.full {
    background: $gray-light;
    padding: 10px;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 20px;
    margin-bottom: 20px;
  
    border-radius: 0;
  }


/* Formatação div1s de submenus busca */
.busca-listagem-novo-contato {
    margin-left: 10px;
  }
  .busca-listagem-nome {
    float: left;
    width: 40%;
    margin-left: 10px;
  }
  
  .busca-listagem-banco {
    float: left;
    width: 29%;
  }
  .busca-listagem-conta {
    float: none;
    text-align: right;
    margin-right: 10px;
  }
  .busca-listagem-celular {
    float: left;
    width: 30%;
  }
  .busca-listagem-operadora {
    float: none;
    text-align: left;
    margin-right: 30px;
  }
  .busca-listagem-valor {
    margin-left: 10px;
  }
  
  .busca-imgCartoes {
    width: 24%;
    max-width: 68px;
    height: 45px;
  }
  #acoesRapidasCartoes.busca-imgCartoes {
    padding-bottom: 0px !important;
  }
  
  body#uniclass #acoesRapidasCartoes a.cartoes {
    width: 488px;
  }
  
  #acoesRapidasCartoes a.cartoes {
    height: 55px;
  }
  .busca-listagem-textCartao {
    margin-left: -250px;
    line-height: 45px;
  }
  
  .busca-listagem-imgCartao {
    margin-left: 5px !important;
    width: 53% !important;
    height: 45px;
  }
  
  .busca-listagem-todosCartoes {
    margin-top: 10px !important;
    display: block;
    margin-bottom: 3px !important;
  }
    

  li.busca-duvida-tracejado {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 0px -2px 1px;
    border-top: 1px dashed #bbb;
    height: 29px;
  }
  
  ul#duvidas-csi-busca {
    display: block;
    margin-top: 0px;
  }
  
  .duvidas-busca-texto {
    margin-top: 3px;
    margin-left: 6px;
  }
  
  ul#busca-todos-resultados {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  ul#busca-itens-default-favoritos {
    margin-bottom: 0px;
  }


  header.busca-header-exp #nomeTransferencia {
    width: 300px;
    -ms-transition: width 200ms ease-in;
    transition: width 200ms ease-in;
  }


  header.busca-header-exp #valorCartao {
    width: 396px;
    -ms-transition: width 200ms ease-in;
    transition: width 200ms ease-in;
  }
  
  header.busca-header-exp #nomeRecarga {
    width: 515px;
    -ms-transition: width 200ms ease-in;
    transition: width 200ms ease-in;
  } 
  

  header.busca-header-exp #tipoConta {
    width: 200px;
    -ms-transition: width 200ms ease-in;
    transition: width 200ms ease-in;
  }


/* Input valor transferência rápida busca */
#valor {
    width: 220px;
    -ms-transition: none;
    transition: none;
  }
  
  /* Input código barras pagamento rápido busca */
  #codigoDeBarras {
    width: 315px;
    -ms-transition: none;
    transition: none;
  }
  
  /* Input valor recarga rápida busca */
  #valorRecarga {
    width: 220px;
    -ms-transition: width;
    transition: width;
  }
  
  /* Input finaliza recargo rápida busca */
  #finalizaRecarga {
    width: 140px;
    -ms-transition: width;
    transition: width;
  }
  
  
  h3.txt-destaque-busca {
    color: $white !important;
  }
    