/**
  *** ------------------------------------------
  *** Botões
  *** ------------------------------------------
  **/

.botoes {
  margin: 0 0 30px 0;
}

/* Espaçamento para quando existir um botão ao lado do outro e ambos alinhados a direita */
[class*="btn"] + [class*="btn"],
.btn.right {
  margin-left: 10px;
}

/* Botão Gerar Boleto */
.btn-gerar-boleto {
  display: block;
  width: 100%;
}

/* Botões de Contexto */
a.btn-extrato-acao {
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  min-width: 93px;
  background-color: $primary;
  color: $white;
  text-decoration: none;
  text-decoration: none;
  padding: 2px 22px 2px 9px;

  border-radius: 5px;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  position: relative;
}
a.btn-extrato-acao:hover {
  background-color: $gray-dark;
  color: $white;
  text-decoration: none;
}
a.btn-extrato-acao span {
  width: 15px;
  height: 15px;
  background: url("../img/sprite-icon-peq.png") left top no-repeat;
  position: absolute;
  right: 6px;
  top: 0px;
}
a.btn-extrato-acao span.btn-extrato-acao {
  background-position: -195px -460px;
}
a.btn-extrato-acao span.btn-extrato-acao-aberto {
  background-position: -219px -460px;
}

/* Botão de Ação - Salvar em PDF, Imprimir, Enviar por E-mail, Ver detalhes */
ul.btns-actions {
  margin: 0;
  padding: 0;
}
ul.btns-actions li {
  list-style: none;
  float: left;
  margin: 0 20px 0 0;
  background: none;
  padding-left: 0;
}

a.btn-action {
  background-color: $gray-bright;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  color: $gray-dark;
  text-decoration: none;
  padding: 3px 10px 3px 30px;

  border-radius: 3px;

  box-shadow: -2px 4px 3px $gray-light;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  position: relative;
}
a.btn-action-padrao {
  padding-left: 10px;
}
a.btn-action:hover {
  background-color: $gray-dark;
  color: $white;
  text-decoration: none;
}
a.btn-action span {
  width: 18px;
  height: 15px;
  background: url("../img/sprite-btn-action.png") left top no-repeat;
  position: absolute;
  left: 6px;
  top: 3px;
}
a.btn-action span.btn-action-pdf {
  background-position: 0 -15px;
}
a.btn-action:hover span.btn-action-pdf {
  background-position: -18px -15px;
}
a.btn-action span.btn-action-print {
  background-position: 0 0px;
}
a.btn-action:hover span.btn-action-print {
  background-position: -18px 0px;
}
a.btn-action span.btn-action-email {
  background-position: 0 -30px;
}
a.btn-action:hover span.btn-action-email {
  background-position: -18px -30px;
}
a.btn-action span.btn-action-contato {
  background-position: 0 -75px;
}
a.btn-action:hover span.btn-action-contato {
  background-position: -18px -75px;
}
a.btn-action span.btn-action-novo-contato {
  background-position: 0 -90px;
}
a.btn-action:hover span.btn-action-novo-contato {
  background-position: -18px -90px;
}
a.btn-action span.btn-action-view {
  background-position: 0 -45px;
}
a.btn-action:hover span.btn-action-view {
  background-position: -18px -45px;
}
a.btn-action span.btn-action-detalhes {
  background-position: 0 -105px;
}
a.btn-action:hover span.btn-action-detalhes {
  background-position: -18px -105px;
}
a.btn-action span.btn-action-outros-formatos {
  background-position: 0 -60px;
}
a.btn-action:hover span.btn-action-outros-formatos {
  background-position: -18px -60px;
}
a.btn-action span.btn-action-transferencia {
  background-position: 0 -135px;
}
a.btn-action:hover span.btn-action-transferencia {
  background-position: -18px -135px;
}
a.btn-action span.btn-action-excluir {
  background-position: 0 -150px;
}
a.btn-action:hover span.btn-action-excluir {
  background-position: -18px -150px;
}
a.btn-action span.btn-action-recarga {
  background-position: 0 -120px;
}
a.btn-action:hover span.btn-action-recarga {
  background-position: -18px -120px;
}
a.btn-action span.btn-action-documentos {
  background-position: 0 -165px;
}
a.btn-action:hover span.btn-action-documentos {
  background-position: -18px -165px;
}

/*Tratamento focus para firefox - demanda de acessibilidade*/
@-moz-document url-prefix() {
  a.btn,
  a.btn-secundario,
  a.btn-fluxo,
  a.btn-action,
  a.btn-action-padrao,
  a.btn-action-print,
  a.btn-action-email,
  a.btn-action-pdf,
  a.btn-action-documentos,
  a.btn-action-outros-formatos,
  a.btn-action-contato,
  a.btn-action-novo-contato,
  a.btn-action-view,
  a.btn-action-detalhes,
  a.btn-action-excluir,
  a.btn-action-recarga:focus {
    outline-color: black;
    outline-width: 1px;
  }
}

/* Botão de Ação ativo */
a.btn-action-ativo {
  background-color: $primary;
  color: $white;
  text-decoration: none;
}

a.btn-action.btn-action-ativo span.btn-action-pdf {
  background-position: -18px -15px;
}
a.btn-action.btn-action-ativo span.btn-action-print {
  background-position: -18px 0px;
}
a.btn-action.btn-action-ativo span.btn-action-email {
  background-position: -18px -30px;
}
a.btn-action.btn-action-ativo span.btn-action-contato {
  background-position: -18px -75px;
}
a.btn-action.btn-action-ativo span.btn-action-novo-contato {
  background-position: -18px -90px;
}
a.btn-action.btn-action-ativo span.btn-action-view {
  background-position: -18px -45px;
}
a.btn-action.btn-action-ativo span.btn-action-detalhes {
  background-position: -18px -105px;
}
a.btn-action.btn-action-ativo span.btn-action-outros-formatos {
  background-position: -18px -60px;
}
a.btn-action.btn-action-ativo span.btn-action-transferencia {
  background-position: -18px -135px;
}
a.btn-action.btn-action-ativo span.btn-action-excluir {
  background-position: -18px -150px;
}
a.btn-action.btn-action-ativo span.btn-action-recarga {
  background-position: -18px -120px;
}

/* Botão Padrão - Botão padrão enfatizando ações */
a.btn {
  background-color: $gray-dark;
  font-weight: bold;
  font-size: 18px;
  color: $white;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  padding: 8px;
  min-width: 90px;

  border-radius: 4px;

  box-shadow: -2px 4px 3px $gray-light;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
a.btn:hover {
  background-color: $primary;
}
a.btn.desabilitado:hover {
  background-color: $gray-dark;
  color: $white;
  text-decoration: none;
}

/* Botão Pequeno */
[class*="btn"].btn-pequeno {
  padding: 4px 8px;
  font-size: 10px;
  min-width: 75px;

  border-radius: 3px;

  box-shadow: -2px 3px 3px $gray-light;
}

/* Botão Blocado - Full */
[class*="btn"].block {
  display: block !important;
  width: 100%;
}

/* Botão de Continuidade - Utilizado em continuação de fluxos */
a.btn-fluxo {
  background-color: $primary;
}
a.btn-fluxo:hover {
  background-color: $gray-darkest;
}
a.btn-fluxo.desabilitado:hover {
  background-color: $primary;
  color: $white;
  text-decoration: none;
}

/* Botão Secundário - Exerce uma função de segundo plano - Exemplo: Voltar */
a.btn-secundario {
  background: $gray-bright;
  color: $gray-dark;
}
a.btn-secundario:hover {
  background: $gray-darkest;
  color: $white;
}
a.btn-secundario.desabilitado:hover {
  background-color: $gray-bright;
  color: $gray-dark;
  text-decoration: none;
}

/* Botão Teclado Virtual */
a.btn-teclado-login {
  background: $primary;
  width: 247px;

  border-radius: 4px;

  box-shadow: 2px 4px 3px #c6c6c6;
}
a.btn-teclado-login:hover {
  background: $gray-darkest;
}
a.btn-ok {
  display: inline-block;
  min-width: 30px !important;
}

a.tecla {
  background-color: $white;
  font-size: 14px;
  display: inline-block;
  width: 78px;
  height: 70px;
  color: $gray-dark;
  text-decoration: none;
  padding: 27px 18px;
  margin: 0 10px 11px 0;

  border-radius: 4px;

  box-shadow: 0 1px 1px 0 rgba(122, 109, 96, 0.24);
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  position: relative;
}
a.tecla:hover {
  background: $primary;
  color: $white !important;
}
a.tecla.icon {
  padding: 21px 23px;
}

a.tecla span.icon-tecla-voltar {
  background: url("../img/icon-teclado-back.png") left top no-repeat;
  width: 28px;
  height: 29px;
  display: block;
  text-indent: -9999px;
}
a.tecla:hover span.icon-tecla-voltar {
  background-position: 0 -25px;
}

/* Botão desabilitado */
[class*="btn"].desabilitado,
[class*="btn"][disabled] {
  opacity: 0.35;
  cursor: default;
  pointer-events: none;
}

/* Ícone de Cadeado */
a.btn-ico {
  padding-left: 24px;
}
span.ico-seguro {
  background: url("../img/icon-lock-branco.png") top left no-repeat transparent;
  display: block;
  width: 10px;
  height: 14px;
  position: absolute;
  margin-left: 8px;
}
_:-moz-tree-row(hover),
span.ico-seguro {
  margin-top: -14px;
}


a.btn-no-shadow {
  background-color: $gray-darkest;
  font-weight: bold;
  font-size: 12px;
  color: $white;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  padding: 8px;
  min-width: 90px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px;
  transition: all 200ms ease-in;
}

.btn-mais-menos {
  height: 15px;
  float: left;
  display: block;
  font-weight: bold;
  font-size: 16px;
}


.button-blue-border {
  width: 136px;
  height: 44px;
  color: #106eb0;
  background-color: transparent;
  border: 1px solid #106eb0;
  border-radius: 4px;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 19px;
  text-align: center;
}

.button-blue-border:hover {
  background-color: #ecf4f9;
  color: #106eb0;
}

.botao-azul {
  width: 136px;
  height: 44px;
  color: #106eb0;
  background-color: transparent;
  border: 1px solid #106eb0;
  border-radius: 4px;
  text-decoration: none;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  min-width: 90px;
  border-radius: 4px;
}

.botao-azul:hover {
  background-color: #ecf4f9;
  color: #106eb0;
}
