
/* Calendário Meses */
ul.meses {
    width: 100%;
    display: inline-block;
    *display: inline;
    margin: 20px 0;
    padding-left: 0;
  
    border-radius: 4px;
  }
  ul.meses > li {
    display: inline;
    text-transform: lowercase;
    background: none;
    padding-left: 0;
  }
  ul.meses > li > a,
  ul.meses > li > span {
    width: 8.333333333333333%;
    text-align: center;
    float: left;
    padding: 8px 0;
    line-height: 20px;
    text-decoration: none;
    background-color: $gray-light;
    border: 1px solid #dddddd;
    border-left-width: 0;
    font-size: 12px;
  }
  ul.meses > li > a:hover {
    background-color: $white;
    color: $primary;
    cursor: pointer;
    font-weight: bold;
  }
  ul.meses > li.ativo > a,
  ul.meses > li.ativo > span {
    background-color: transparent;
    color: $primary;
    cursor: default;
    font-weight: bold;
  }
  ul.meses > li.desabilitado > span,
  ul.meses > li.desabilitado > a,
  ul.meses > li.desabilitado > a:hover {
    color: #d1d1d1;
    cursor: default;
    background-color: transparent;
  }
  ul.meses > li:first-child > a,
  ul.meses > li:first-child > span {
    border-left-width: 1px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  ul.meses > li:last-child > a,
  ul.meses > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  /* Calendário */
.box-calendario {
  width: 315px;
}
.box-lancamentos-mes {
  width: 56%;
}

/* Oculta bordas no calendario no Sidebar */
.modulo-sidebar .calendario-fixo .pika-single {
  border-width: 0;
}
