
/**
  *** ------------------------------------------
  *** Carrinho de vendas
  *** ------------------------------------------
  **/

/* Ícones */
span.ico-car-vendas {
    background-image: url(../img/sprite-carrinho.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 4px;
    height: 20px;
    width: 20px;
  }
  
  #person span.ico-car-vendas {
    background-image: url(../img/sprite-carrinho_person.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 4px;
    height: 20px;
    width: 20px;
  }
  
  span.ico-car-antecipacao-recebiveis {
    background-position: left top;
  }
  span.ico-car-cambio {
    background-position: -20px top;
  }
  span.ico-car-cartoes {
    background-position: -40px top;
  }
  span.ico-car-cobranca-expressa {
    background-position: -60px top;
  }
  span.ico-car-consorcio {
    background-position: -80px top;
  }
  span.ico-car-consorcio-auto {
    background-position: -100px top;
  }
  span.ico-car-consorcio-imovel {
    background-position: -120px top;
  }
  span.ico-car-conta-corrente {
    background-position: -140px top;
  }
  span.ico-car-credito {
    background-position: -160px top;
  }
  span.ico-car-credito-consignado {
    background-position: -180px top;
  }
  
  span.ico-car-documento {
    background-position: left -20px;
  }
  span.ico-car-investimentos {
    background-position: -20px -20px;
  }
  span.ico-car-maquininha-rede {
    background-position: -40px -20px;
  }
  span.ico-car-conta-certa {
    background-position: -60px -20px;
  }
  span.ico-car-sair-do-vermelho {
    background-position: -80px -20px;
  }
  span.ico-car-seguro-auto {
    background-position: -100px -20px;
  }
  span.ico-car-seguro-credito {
    background-position: -120px -20px;
  }
  span.ico-car-seguro-empresas {
    background-position: -140px -20px;
  }
  span.ico-car-seguro-patrimonial {
    background-position: -160px -20px;
  }
  span.ico-car-seguro-residencia {
    background-position: -180px -20px;
  }
  
  span.ico-car-seguro-viagem {
    background-position: left -40px;
  }
  span.ico-car-seguro-vida {
    background-position: -20px -40px;
  }
  span.ico-car-previdencia {
    background-position: -40px -40px;
  }
  span.ico-car-capital-giro {
    background-position: -60px -40px;
  }
  
  .car-vendas-container {
    margin-top: -27px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 9998;
  }
  .car-vendas-container-topo {
    margin-top: -50px;
  }
  .car-vendas {
    margin-bottom: 20px;
    position: relative;
    width: 300px;
  }
  .car-vendas-header,
  .car-vendas-body {
    border-radius: 6px;
    min-height: 37px;
  }
  
  /* Carrinho de vendas - header */
  .car-vendas-header {
    background-color: $gray-dark;
    color: $white;
    cursor: default;
    padding: 10px;
    position: relative;
    z-index: 2;
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
  }
  .car-vendas-header .ico-branco-carrinho {
    margin-top: -2px;
  }
  .car-vendas-header h4 {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .car-vendas-header .car-vendas-seta {
    background: url(../img/sprite-seta-baixo.png) no-repeat left top;
    background-position: 0;
    display: inline-block;
    margin-top: -7px;
    position: absolute;
    height: 14px;
    right: 8px;
    top: 50%;
    width: 14px;
  }
  
  /* Carrinho de vendas - content */
  .car-vendas-content {
    padding: 8px 8px 0;
  }
  .car-vendas-body {
    background-color: #e4e4e4;
    left: -999em;
    position: absolute;
    top: -999em;
    z-index: 1;
    box-shadow: none;
    padding: 36px 0 8px 0;
    border: 1px solid $primary;
  }
  .car-vendas-content h5 {
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0 0 30px;
    margin: 0;
  }
  .car-vendas-content p {
    margin-bottom: 10px;
    padding: 5px 0 0 30px;
  }
  .car-vendas-content h5 span,
  .car-vendas-content .car-vendas-valor {
    color: $gray-dark;
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
  }
  
  /* Carrinho de vendas - footer */
  .car-vendas-footer {
    padding-left: 40px;
    padding-right: 10px;
  }
  .car-vendas-footer .disclaimer {
    margin-bottom: 0;
  }
  
  /* Carrinho de vendas - ações */
  .car-vendas:hover .car-vendas-header,
  .car-vendas.aberto .car-vendas-header {
    border-radius: 6px 6px 0 0;
  }
  .car-vendas:hover .car-vendas-header .car-vendas-seta {
    display: none;
  }
  .car-vendas.aberto .car-vendas-seta {
    opacity: 0;
  }
  .car-vendas:hover .car-vendas-body,
  .car-vendas.aberto .car-vendas-body {
    right: 0;
    left: 0;
    top: 0;
  }
  .car-vendas-bonus {
    color: $white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 0;
    margin: 0;
    float: none;
    background: $gray-cold;
    padding: 6px 10px 6px 40px;
  }
  .car-vendas-bonus span {
    font-size: 12px;
  }
  .car-icone {
    margin: 10px 6px 15px 10px;
    float: left;
  }
  /* Carrinho de vendas - footer */
  .car-vendas-actions {
    margin: 12px 0 10px;
    position: relative;
    padding: 0;
    text-align: left;
  }
  .car-vendas-actions .btn {
    min-width: 100px;
    display: inline-block;
    padding: 8px 12px;
  }
  .car-vendas-actions .btn.btn-fluxo {
    min-width: 100px;
    padding: 8px 12px;
    margin-left: 20px;
  }
  .car-vendas-footer .ico {
    cursor: pointer;
    margin-top: -12px;
    position: absolute;
    right: 8px;
    top: 50%;
  }
  
  /* Carrinho de vendas - Sidebar */
  .car-vendas-sidebar {
    background-color: $gray-dark;
    color: $white;
  }
  .car-vendas-sidebar,
  .car-vendas-sidebar.fechado {
    padding: 0;
  }
  .car-vendas-sidebar h4,
  .car-vendas-sidebar.fechado h4 {
    color: $white;
    margin: 0;
    padding: 12px 0 10px 12px;
    border-bottom: none;
    min-height: 36px;
  }
  div.car-vendas-sidebar.fechado .abre-fecha,
  div.car-vendas-sidebar.fechado h4:hover .abre-fecha {
    background: url("../img/sprite-seta-baixo.png") no-repeat 0 -2px;
  }
  div.car-vendas-sidebar.aberto .abre-fecha,
  div.car-vendas-sidebar.aberto h4:hover .abre-fecha {
    background: url("../img/sprite-seta-cima.png") no-repeat 0 -2px;
  }
  div.car-vendas-sidebar .conteudo {
    border: 1px solid $primary;
    border-top: none;
    background: #e4e4e4;
    color: $gray-dark;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  div.car-vendas-sidebar .car-vendas-bonus {
    padding-left: 41px;
  }
  div.car-vendas-sidebar .car-vendas-footer {
    padding-bottom: 10px;
  }
  div.car-vendas-sidebar .car-vendas-footer label,
  div.car-vendas .car-vendas-footer label {
    font-size: 11px;
  }
  /* Carrinho de vendas - Ajustes p/ sidebar com 3 colunas */
  .col3 .car-vendas-sidebar a.btn {
    margin: 0;
    padding: 8px;
    min-width: auto;
  }
  .col3 .car-vendas-sidebar a.btn-fluxo {
    padding: 8px 14px;
  }
