
/**
  *** ------------------------------------------------------------------------------------
  *** Carrossel de imagens
  *** ------------------------------------------------------------------------------------
  **/

  .jcarousel {
    position: relative;
    overflow: hidden;
    height: 170px;
    width: 316px;
  }
  .jcarousel ul {
    width: 20000em;
    position: relative;
    /* Optional, required in this case since it's a <ul> element */
    list-style-type: none !important;
    background: none !important;
    margin: 0;
    padding: 0;
  }
  .jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    padding-left: 0px !important;
  }
  /** Carousel Controls **/
  .jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4e443c;
    color: $white;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
  
    border-radius: 30px;
  
    box-shadow: 0 0 2px $gray-warm;
  }
  .jcarousel-control-next {
    right: 750px;
  }
