.modulo-chat-col4 {
    width: 316px;
    position: absolute;
    bottom: 15px;
  }
  .modulo-chat-col3 {
    width: 233px;
    position: absolute;
    bottom: 15px;
  }
  
  /**
    *** ------------------------------------------
    *** Chatbox
    *** ------------------------------------------
    **/
  
  .chat {
    position: relative;
  }
  
  .col3 .chat-content {
    width: 233px;
  }
  .col4 .chat-content {
    width: 316px;
  }
  
  /* Chatbox content */
  .chat-content {
    background: $white;
    border: 1px solid $gray-bright;
  
    border-radius: 6px;
  }
  
  /* Chatbox header */
  .chat-header {
    cursor: pointer;
    padding: 13px;
    position: relative;
  }
  .chat-header h4 {
    margin-bottom: 0;
    padding-right: 20px;
  }
  .chat-header .chat-seta {
    background: url(../img/sprite-seta.png) no-repeat 0 0;
    content: "";
    height: 10px;
    margin-top: -5px;
    right: 10px;
    position: absolute;
    top: 50%;
    width: 14px;
  }
  .chat-header:hover .chat-seta {
    background-position: -14px 0;
  }
  
  /* Chatbox body */
  .chat-body {
    display: none;
    padding: 20px 13px;
  }
  
  /* Chatbox ações */
  
  /*
     * Ao adicionar a classe .chat-content-open o elemento <div class="chat-content">
     * o conteúdo do chat ÃƒÂ© exibido e o icone da seta invertido
     */
  
  .chat-content-open .chat-header {
    border-bottom: 1px solid $gray-bright;
  }
  .chat-content-open .chat-header .chat-seta {
    background-position: 0 -10px;
  }
  .chat-content-open .chat-header:hover .chat-seta {
    background-position: -14px -10px;
  }
  .chat-content-open .chat-body {
    display: block;
  }
  
  /*
     * O cálculo para posicionamento precisa ser feito
     * a partir da propriedade bottom da classe .chat-position
     */
  
  /*.chat-content-position { position: absolute; right: 0; bottom: 0; z-index: 2; }*/
  .chat-content-position {
    position: fixed;
    bottom: 0;
    z-index: 2;
  }
  
  .chat-content .tab-act-links {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    width: 100%;
  }
  .chat-content .tab-act-links li {
    background-image: none;
    float: left;
    padding-left: 0;
    width: 50%;
  }
  .chat-content .tab-act-links li:first-child a {
    border-radius: 6px 0 0 6px;
  }
  .chat-content .tab-act-links li:last-child a {
    border-radius: 0 6px 6px 0;
  }
  .chat-content .tab-act-links a {
    border: 1px solid #d2d2d2;
    color: $gray-dark;
    font-size: 13px;
    padding: 6px 6px 6px 16px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
  }
  .chat-content .tab-act-links a:hover {
    color: $primary;
  }
  .chat-content .tab-act-links .active {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
  .chat-content .tab-act-links .active:hover {
    color: $white;
  }


/* esilo para Chat de atendimento */
.modulo-atendimento.chat-atendimento ul li {
    background-color: $white;
    border: 0px;
    margin-bottom: 0;
    width: 100%;
    padding: 0px;
    border-radius: 0px;
  }
  .modulo-atendimento.chat-atendimento ul li {
    border-bottom: 1px solid $gray-light;
  }
  .chat-atendimento ul li:nth-child(odd) {
    background-color: $gray-light;
  }
  .chat-atendimento-conv {
    padding: 5px 5px 5px 10px;
  }
  .chat-atendimento-conv p {
    text-transform: none !important;
  }
  .chat-atendimento-conv p:last-child {
    font-weight: normal;
  }
  .chat-conversa {
    display: none;
    margin: 20px 0 0 0;
    width: 100%;
  }
  .chat-atendimento ul li {
    border-top: 1px solid $gray-light;
  }
  .chat-atendimento ul li .perfil-chat {
    border: 1px solid $gray-bright;
  
    border-radius: 6px;
  }
  .chat-scroll {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .chat-textarea {
    min-height: 40px;
    resize: vertical;
  }
  .chat-box {
    position: absolute;
    z-index: 3;
  }
