
/**************** BEGIN Coachmark ********************/

.center-img {
    margin: auto;
    display: block;
  }
  
  .botao-fechar-coachmark {
    width: 14px;
    height: 14px;
    right: -40px;
    bottom: 7px;
    z-index: 9999;
    font-size: 32px;
    text-decoration: none;
    text-indent: 0px;
    background: url();
    color: gray;
  }
  
  .botao-fechar-coachmark:hover {
    color: black;
  }
  
  div.hopscotch-bubble-container.tour-container-coachmark {
    width: 549px;
    padding: 30px;
    padding-top: 20px;
    padding-right: 30px;
    border: 1px solid $gray-bright;
  }
  
  .paragrafo-coachmark {
    font-size: 18px;
    line-height: 24px;
    color: $gray-dark;
  }
  
  .paragrafo-small-coachmark {
    letter-spacing: 0;
    line-height: 24px;
    color: $gray-dark;
  }
  
  .subtitulo-coachmark {
    position: relative;
    top: -12px;
    border-bottom: 1px solid $gray-warm;
    padding-bottom: 7px;
  }
  
  .titulo-coachmark {
    font-size: 30px;
    color: $gray-dark;
    line-height: 28px;
    margin: 0 0 16px 0;
    font-weight: bold;
  }
  
  .lista-coachmark {
    letter-spacing: 0;
    line-height: 24px;
    padding-left: 0px;
    color: $gray-dark;
    background: none;
  }
  
  a.skip.hopscotch-skip.botao-skip-coachmark {
    width: 164px;
    height: 44px;
    padding-top: 10px;
    margin-left: 0px;
    text-decoration: none;
    text-transform: lowercase;
  }
  
  a.next.hopscotch-next.botao-start-coachmark {
    width: 136px;
    height: 44px;
    padding-top: 11px;
    font-size: 19px;
  }
  
  a.next.hopscotch-next.botao-start-coachmark:hover {
    background-color: #ed7e19;
  }
  
  a.prev.hopscotch-prev.botao-previous-coachmark {
    padding: 10px;
    text-decoration: none;
    text-transform: lowercase;
  }
  
  a.skip.hopscotch-done.botao-done-coachmark {
    width: 136px;
    height: 44px;
    padding-top: 11px;
    font-size: 19px;
  }
  
  a.skip.hopscotch-done.botao-done-coachmark:hover {
    background-color: #ed7e19;
  }
  
  ul.fluxo-passo-a-passo li a.bullet-coachmark {
    height: 8px;
    width: 8px;
    border: 1px solid #969696;
    background-color: transparent;
    margin: 0 4px 0 0;
  }
  
  ul.fluxo-passo-a-passo li a.bullet-ativo-coachmark {
    background: $gray-warm;
  }
  
  /**************** END Coachmark ********************/
