
/* Css a div de modulo-composicao-carteira */
/*ver se modificando isso funciona depois*/
#modulo-composicao-carteira .composicao-carteira-classe-produto-um,
#modulo-composicao-carteira .composicao-carteira-classe-produto-dois,
#modulo-composicao-carteira .composicao-carteira-classe-produto-tres,
#form-resultado-investimento .composicao-carteira-classe-produto-um,
#form-resultado-investimento .composicao-carteira-classe-produto-dois,
#form-resultado-investimento .composicao-carteira-classe-produto-tres {
  margin-right: 40px;
  width: 200px;
}

.composicao-carteira-classe-produto-circulo {
  width: 8px !important;
  height: 8px;
  border-radius: 10px;
  margin-top: 2px;
  float: left !important;
  margin-bottom: 13px;
  margin-right: 10px;
}

.composicao-carteira-classe-produto-circulo-descricao {
  max-width: 150px !important;
  width: auto;
}

.composicao-carteira-classe-produto-individual {
  float: left;
  clear: left;
  height: 44px;
}

#modulo-composicao-carteira {
  width: 100%;
}

[class^="composicao-carteira-classe-produto"] {
  float: left;
}

#modulo-composicao-carteira .composicao-carteira-grafico,
#form-resultado-investimento .composicao-carteira-grafico {
  width: 250px;
}
