
/**
  *** ------------------------------------------
  *** Comunidade de investimentos -- Inicio
  *** ------------------------------------------
  **/

  .trigger-acessibilidade {
    height: 1px;
    width: 1px;
  }
  
  .imagem-varejo-fundos {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/fundos.gif");
  }
  .imagem-varejo-fundos-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/fundos.gif");
  }
  .imagem-uniclass-fundos {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/fundos.gif");
  }
  .imagem-uniclass-fundos-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/fundos.gif");
  }
  .imagem-personnalite-fundos {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/fundos.gif");
  }
  .imagem-personnalite-fundos-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/fundos.gif");
  }
  .imagem-varejo-previdencia {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/previdencia.gif");
  }
  .imagem-varejo-previdencia-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/previdencia.gif");
  }
  .imagem-uniclass-previdencia {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/previdencia.gif");
  }
  .imagem-uniclass-previdencia-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/previdencia.gif");
  }
  .imagem-personnalite-previdencia {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/previdencia.gif");
  }
  .imagem-personnalite-previdencia-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/previdencia.gif");
  }
  .imagem-varejo-poupanca {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/poupanca.gif");
  }
  .imagem-varejo-poupanca-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/poupanca.gif");
  }
  .imagem-uniclass-poupanca {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/poupanca.gif");
  }
  .imagem-uniclass-poupanca-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/poupanca.gif");
  }
  .imagem-personnalite-poupanca {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/poupanca.gif");
  }
  .imagem-personnalite-poupanca-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/poupanca.gif");
  }
  .imagem-varejo-cdb-renda-fixa {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/cdb.gif");
  }
  .imagem-varejo-cdb-renda-fixa-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/cdb.gif");
  }
  .imagem-uniclass-cdb-renda-fixa {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/cdb.gif");
  }
  .imagem-uniclass-cdb-renda-fixa-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/cdb.gif");
  }
  .imagem-personnalite-cdb-renda-fixa {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/cdb.gif");
  }
  .imagem-personnalite-cdb-renda-fixa-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/cdb.gif");
  }
  .imagem-varejo-tesouro-direto {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/tesouro.gif");
  }
  .imagem-varejo-tesouro-direto-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/tesouro.gif");
  }
  .imagem-uniclass-tesouro-direto {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/tesouro.gif");
  }
  .imagem-uniclass-tesouro-direto-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/tesouro.gif");
  }
  .imagem-personnalite-tesouro-direto {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/tesouro.gif");
  }
  .imagem-personnalite-tesouro-direto-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/tesouro.gif");
  }
  .imagem-varejo-coe {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/coe.gif");
  }
  .imagem-varejo-coe-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/coe.gif");
  }
  .imagem-uniclass-coe {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/coe.gif");
  }
  .imagem-uniclass-coe-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/coe.gif");
  }
  .imagem-personnalite-coe {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/coe.gif");
  }
  .imagem-personnalite-coe-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/coe.gif");
  }
  .imagem-varejo-acoes {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/acoes.gif");
  }
  .imagem-varejo-acoes-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/acoes.gif");
  }
  .imagem-uniclass-acoes {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/acoes.gif");
  }
  .imagem-uniclass-acoes-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/acoes.gif");
  }
  .imagem-personnalite-acoes {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/acoes.gif");
  }
  .imagem-personnalite-acoes-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/acoes.gif");
  }
  .imagem-varejo-investimentos-alternativos {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/fundos-imob.gif");
  }
  .imagem-varejo-investimentos-alternativos-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/fundos-imob.gif");
  }
  .imagem-uniclass-investimentos-alternativos {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/fundos-imob.gif");
  }
  .imagem-uniclass-investimentos-alternativos-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/fundos-imob.gif");
  }
  .imagem-personnalite-investimentos-alternativos {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/fundos-imob.gif");
  }
  .imagem-personnalite-investimentos-alternativos-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/fundos-imob.gif");
  }
  .imagem-varejo-oferta-publica {
    background-image: url("../../home-varejo/img/dashboard/img/thumbs-videos/ipo.gif");
  }
  .imagem-varejo-oferta-publica-grande {
    background-image: url("../../home-varejo/img/dashboard/img/bg-videos/ipo.gif");
  }
  .imagem-uniclass-oferta-publica {
    background-image: url("../../home-uniclass/img/dashboard/img/thumbs-videos/ipo.gif");
  }
  .imagem-uniclass-oferta-publica-grande {
    background-image: url("../../home-uniclass/img/dashboard/img/bg-videos/ipo.gif");
  }
  .imagem-personnalite-oferta-publica {
    background-image: url("../../home-personnalite/img/dashboard/img/thumbs-videos/ipo.gif");
  }
  .imagem-personnalite-oferta-publica-grande {
    background-image: url("../../home-personnalite/img/dashboard/img/bg-videos/ipo.gif");
  }
  
  .box-fale-especialista h3 {
    color: $gray-dark;
  }
  
  .cor-branca {
    color: $white !important;
  }
  
  .box-fale-especialista-hover {
    background: $primary;
    border: 1px solid $primary;
    border-radius: 6px;
    font-family: Arial;
    font-size: 12px;
    color: $white;
  }
  
  .div-botao-fale-especialista-hover {
    display: inline-flex;
  }
  .btn-fale-especialista {
    background-color: $white;
    font-size: 12px;
    display: inline-block;
    color: $gray-dark;
    padding: 8px 10px;
    height: 30px;
    border-radius: 4px;
    box-shadow: -2px 4px 3px 0 rgba(48, 48, 48, 0.4);
  }
  .btn-fale-especialista:hover {
    color: $gray-dark;
  }
  
  .card-subtitulo {
    font-size: 12px;
    font-weight: bold;
    color: $gray-dark;
  }
  .card-titulo {
    font-size: 14px;
    font-weight: bold;
    color: $gray-dark;
    line-height: 1.29;
    height: 36px;
    vertical-align: middle;
    display: table-cell;
  }
  .card-link {
    font-weight: bold !important;
    font-size: 14px;
    color: #007ab7;
    text-decoration: none;
  }
  .card-link:hover {
    font-weight: bold !important;
    font-size: 14px;
    color: #006394 !important;
    text-decoration: none;
  }
  .card-mensagem-rodape hr {
    width: 230px !important;
    background-color: $gray-bright !important;
    display: inline-table;
  }
  .card-mensagem-rodape {
    width: 230px;
    height: 33px;
    float: left;
    margin: 0px 0px 6px -20px !important;
  }
  .card-produto {
    width: 233px;
    background: $white;
    border: 1px solid $gray-bright;
    padding: 20px 1px 20px 20px;
    margin: 0px 0px 14px 17px !important;
    border-radius: 8px;
    font-family: Arial;
  }
  
  .indisponivel {
    color: #781b8e !important;
  }
  
  .titulo-classificacao {
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    color: $gray-dark;
    margin-left: 15px;
    display: inline;
    font-weight: normal;
  }
  
  .filtros-prateleira {
    position: fixed;
    top: 10;
    z-index: 900;
  }
  .filtros-prateleira h3 {
    font-size: 12px;
    font-weight: bold;
  }
  .cabecalho-produtos h4 {
    text-transform: capitalize;
    font-size: 16px !important;
  }
  
  
  
  
  .icone-pin {
    position: absolute;
    padding: 1px 0px 0px 5px;
  }
  
  .todos-perfis-modulo {
    width: 250px;
  }
  
  [class^="mudaBoxComDiv"] {
    width: 218px;
  }
  
  
  /* Css do formulario */
  
  .width-96pc {
    width: 96%;
  }
  
  #formulario .obrigatoriedade {
    width: 260px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #781b8e;
  }
  
  #formulario .input--text_wrap {
    position: relative;
    margin-top: 16px;
    line-height: 26px;
  }
  
  #formulario .descricao-patrimonio {
    text-transform: none !important;
  }
  
  #formulario .input--text_wrap:before {
    content: "R$";
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 1;
    font-size: 12px;
    color: $gray-dark;
  }
  
  #txt-patrimonio,
  #txt-renda-mensal {
    width: 267px;
  }
  
  #formulario .sem-borda {
    text-decoration: none;
    outline: none;
    border-bottom: none;
  }
  
  /*Css do resultado*/
  
  #form-resultado-investimento .perfil-investidor .perfil-descricao {
    background-color: rgba(0, 0, 0, 0);
  }
  
  #form-resultado-investimento .conheca-todos-perfis {
    box-shadow: none !important;
  
    background-color: $white !important;
  }
  
  #form-resultado-investimento .conheca-todos-perfis:hover {
    color: #ee7400 !important;
  }
  
  
  #form-resultado-investimento .refazer-perfil {
    box-shadow: none !important;
  }
  
  #form-resultado-investimento .perfil-investidor .espaco-link {
    width: 210px;
  }
  
  .recomendacao {
    width: 980px;
    height: 182px;
  }
  
  .recomendacao-imagem {
    width: 314px;
    height: 180px;
    float: left;
    background-image: url("../img/tempora-ria-mo-dulo-simulac-a-o.png");
  }
  
  .recomendacao-descricao {
    margin: 32px 0 0 346px;
  }
  
  .recomendacao-descricao h2 {
    border: none;
    margin: 0px;
  }
  
  #formInvestimentos .mask-valor {
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: 5px 5px 5px 25px;
  }
  
  .input-text-modulo-recomendacao {
    position: relative;
    background-color: $white;
    display: inline;
  }
  
  #titulo-modulo-recomendacoes {
    font-size: 18px;
  }
  
  /* O atributo LEFT usa um valor negativo para atender os requisitos de acessibilidade */
  .input-text-modulo-recomendacao:before {
    content: "R$";
    position: inherit;
    top: 27px;
    left: -125px !important;
    z-index: 1;
    font-size: 12px;
    color: $gray-dark;
    display: inline-block;
  }
  
  .distanciaValor {
    margin-top: 25px;
  }
  
  .div-botao-recomendacao {
    margin: 27px 0 0 29px;
  }
  
  .div-botao-recomendacao:hover {
    cursor: pointer;
  }
  
  .margem-baixo3 {
    margin-bottom: 3px !important;
  }
  
  .texto-valor-aplicar {
    background-color: white;
  }
  
  .box-info-erro-tamanho {
    width: 583px;
  }
  
  .div-recomendacao-formulario {
    margin-top: 28px;
  }
  
  .margem-baixo4 {
    margin-bottom: 4px !important;
  }
  
  .margem-cima3 {
    margin-top: 3px !important;
  }
  
  .tooltip-recomendacao {
    width: 300px;
    left: -131px !important;
    top: 0px !important;
  }
  
  #div-valor-patrimonio #tooltip-patrimonio {
    margin-top: 38px;
    left: 0px !important;
    line-height: 13px;
  }
  
  .suitability-cabecalho-cor-texto-boasvindas {
    color: #fbf400;
  }
  
  .suitability-cabecalho-div-texto-boasvindas {
    font-size: 24px;
    position: absolute;
    z-index: 3;
  }
  
  .suitability-cabecalho-paragrafo-texto-boasvindas {
    line-height: 25px;
    color: $white;
    font-weight: bold;
  }
  
  .suitability-cabecalho-div-texto-orientacao {
    position: absolute;
    z-index: 1;
  }
  
  .suitability-cabecalho-paragrafo-texto-orientacao {
    color: $white;
    margin-top: 150px;
    font-size: 13px;
  }
  
  .suitability-cabecalho-div-botao-voltar {
    position: absolute;
  }
  
  .suitability-cabecalho-h3-botao-voltar {
    color: $white;
    margin-top: 222px;
  }
  
  .suitability-cabecalho-a-botao-voltar {
    box-shadow: none !important;
  }
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  
  #divPerfilInvestidor #divTitlePerfilInvestidor {
    display: none;
  }
  
  #divResultado #divTitlePerfilInvestidor {
    margin: 14px 0 7px 0;
  }
  
  #aviso-senha .icon-itaufonts_full_exclamacao {
    color: #ffa701;
    font-size: 27;
    border: none;
    float: left;
  }
  
  #divNaoCorrentista .icon-itaufonts_full_telefone {
    font-size: 24px;
    color: $primary;
    line-height: 24px;
    float: left;
  }
  
  #divCorrentista .icon-itaufonts_full_telefone {
    font-size: 24px;
    color: $primary;
    line-height: 24px;
    float: left;
  }
  
  #aviso-senha p {
    line-height: 16px;
    padding-top: 7px;
    padding-left: 10px;
  }
  
  #aviso-senha {
    padding: 10px;
    background-color: $white;
    border: 1px solid $primary;
  }
  
  #cliqueAqui {
    color: $primary;
  }
  
  #a-acessar {
    font-size: 18;
    width: 254px;
    margin-bottom: 25px;
  }
  
  /* -- Info CPF Login Monoproduto -- */
  header.bkl.monoproduto .info-login p.info-conta {
    background: $white;
    color: $gray-dark;
    padding: 8px 10px;
  
    border-radius: 2px;
  }
  
  /* - Cor do menu - Monoproduto - */
  header.bkl .monoproduto {
    width: 100%;
    height: 70px;
    background: $primary;
    position: fixed;
    left: 0;
    z-index: 9999;
  }
  
  /**
    *** ------------------------------------------
    *** Comunidade de investimentos -- Fim
    *** ------------------------------------------
    **/
