
/* MONO - Constetacao de Compras - INI */

.table-mono td {
    padding: 7px 7px 9px 8px;
  }
  
  .caption-table {
    border-bottom: 1px solid $gray-bright;
    padding-bottom: 10px;
    font-size: 16px;
    margin: 0 0 14px 0;
    color: $gray-dark;
    font-family: Arial, sans-serif;
    text-align: left;
    font-weight: bold;
  }
  
  .bottomContestacao {
    width: 46%;
    text-align: right;
    margin-bottom: 30px;
    margin-top: 5px;
  }
  
  .lineBottomContestacao {
    display: block;
    margin-bottom: 10px;
  }
  
  .lineBottomContestacao span {
    font-weight: bold;
  }
  
  .content section.clearfix.marginBottom0 {
    margin: 0px;
  }
  
  .telBottomContestacao label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contestacaoCompras .listaCartoes div.row-div p:first-child {
    margin-top: 28px;
  }
  
  /* MONO - Constetacao de Compras - FIM */
  