
.input-conta-garantida {
    width: 112px !important;
    border: none !important;
    position: relative !important;
    outline: none !important;
    height: 100% !important;
    background: none !important;
    z-index: 999 !important;
    padding: 0 0 0px 3px !important;
  
    border-radius: 10px 0px 0px 10px !important;
    left: -5px !important;
    height: 25px !important;
    margin-left: 22px;
    margin-bottom: 13px;
    top: -19px;
  }
  .conta-garantida-menu-busca {
    width: 136px !important;
  }
  .conta-garantida-texto {
    margin-top: 5px !important;
    position: relative !important;
  }
  
  .conta-garantida-utilizacao {
    left: 141px !important;
  }
  
  .conta-garantida-utilizacao-busca {
    top: -4px !important;
  }
  .conta-garantida-input-valor {
    width: 125px !important;
    background: none !important;
    border: none !important;
  
    box-shadow: none !important;
  }
  
  .conta-garantida-display-conta {
    margin: 0px !important;
    position: relative !important;
    top: -32px !important;
  }
  
  .conta-garantida-display-conta-input {
    top: 28px;
    position: absolute;
    width: 550px;
  }
  
  .conta-garantida-selecione {
    margin-left: 230px !important;
    width: 150px !important;
    background: none !important;
    border: none !important;
  
    box-shadow: none !important;
    margin: 5px;
  }