
/**
  *** ------------------------------------------------------------------------------------
  *** Data Table - OLD
  *** ------------------------------------------------------------------------------------
  **/
  .data-table th {
    background: url(../img/seta-tabela-off.png) no-repeat right center;
    vertical-align: middle;
    padding-right: 20px;
    cursor: pointer; /*outline: none;*/
  }
  .data-table .sorting_asc {
    background: url(../img/seta-tabela-on-top.png) no-repeat right center;
  }
  .data-table .sorting_desc {
    background: url(../img/seta-tabela-on-down.png) no-repeat right center;
  }
  .odd .sorting_1 {
    background-color: #e8e8e8;
  }
  .even .sorting_1 {
    background-color: #f5f5f5;
  }
  /* Páginação */
  .dataTables_paginate {
    float: right;
    border: 1px solid #dddddd;
    border-left-width: 0;
  
    border-radius: 3px;
  }
  .dataTables_paginate a {
    float: left;
    padding: 2px 10px;
    line-height: 20px;
    text-decoration: none;
    background-color: $white;
    border-left: 1px solid #dddddd;
    font-size: 11px;
  }
  .dataTables_paginate a:hover {
    background-color: $gray-light;
    color: $primary;
    cursor: pointer;
  }
  .dataTables_paginate .current {
    background-color: $gray-light;
    color: $primary;
    cursor: default;
  }
  .dataTables_paginate .disabled {
    color: #d1d1d1;
    cursor: default;
    background-color: transparent;
  }
  .dataTables_paginate .disabled:hover {
    color: #d1d1d1;
    cursor: default;
    background-color: transparent;
  }
  