
/* Fatura de cartao */

.content-fatura-top {
    width: 520px;
  }
  .valor-fatura,
  .parcelas-fatura {
    font-size: 20px;
  }
  .valores .valor-fatura {
    font-size: 16px;
    font-weight: bold;
  }
  .saldo-pontos {
    font-size: 18px;
    font-weight: bold;
  }
  .fatura-sinal {
    width: 20px;
    padding-right: 20px;
    color: #ccc;
    font-size: 22px;
  }
  
  /* Fatura de Cartao - Box Pagamento */
  
  .listaBoxPagamentoFatura .valor-pagamento {
    font-weight: bold;
  }
  .listaBoxPagamentoFatura .valor-pagamento span {
    font-size: 16px;
    line-height: 20px;
  }
  .listaBoxPagamentoFatura .txt-info-taxa {
    font-size: 10px;
    margin: 0px;
  }
  
  .listaBoxPagamentoFatura ul li {
    background: none;
    padding-bottom: 10px;
    margin-left: -8px;
  }
  .listaBoxPagamentoFatura,
  .listaBoxPagamentoFatura fieldset {
    width: 100%;
    padding-right: 6px;
    margin-left: 0px;
  }
  .listaBoxPagamentoFatura legend {
    display: block;
    padding-bottom: 15px;
  }
  .listaBoxPagamentoFatura .valorOutroText {
    margin-top: -15px;
  }
  .listaBoxPagamentoFatura .valorOutroText input {
    width: 80%;
  }
  
  .boxPagamentoFatura .h4 {
    font-size: 16px;
    padding-top: 0px;
  }
  .boxPagamentoFatura .btn {
    font-size: 18px;
    padding: 5px;
  }
  