
/* Início Footer novo */
.footer-full {
    height: auto;
    width: 100%;
    min-width: 1000px;
    position: relative;
    background-color: #969696;
    color: $white;
    padding: 10px 0;
  }
  .footer-full .container {
    margin-left: 10px;
    width: 980px;
  }
  .footer-full ul {
    margin-bottom: 12px;
  }
  .footer-full ul li {
    display: block;
  }
  .footer-full ul li a,
  .footer-full ul li p,
  .footer-full ul li label {
    color: $white;
  }
  .footer-full ul.icone-footer li.itau-30h {
    background: url("../img/ico-30h-medio-branco.png") no-repeat !important;
    height: 30px;
    width: 30px;
    list-style: none;
    display: inline-block;
  }
