/**
  *** ------------------------------------------
  *** Formulários
  *** ------------------------------------------
  **/

section.formulario > .left label {
  display: block;
  margin: 0 0 3px 0;
  text-transform: lowercase;
}

div.t1 {
  width: 648px;
  margin: 0 16px 0 0;
}
div.t2 {
  width: 565px;
  margin: 0 16px 0 0;
}
div.t3 {
  width: 482px;
  margin: 0 16px 0 0;
}
div.t4 {
  width: 399px;
  margin: 0 16px 0 0;
}
div.t5 {
  width: 316px;
  margin: 0 16px 0 0;
}
div.t6 {
  width: 276px;
  margin: 0 16px 0 0;
}
div.t7 {
  width: 233px;
  margin: 0 16px 0 0;
}
div.t8 {
  width: 193px;
  margin: 0 16px 0 0;
}
div.t9 {
  width: 150px;
  margin: 0 16px 0 0;
}
div.t10 {
  width: 110px;
  margin: 0 16px 0 0;
}
div.t11 {
  width: 67px;
  margin: 0 16px 0 0;
}
div.t12 {
  width: 37px;
  margin: 0 16px 0 0;
}
div.t-block {
  width: 100%;
  margin: 0 16px 0 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
fieldset legend {
  display: none;
}
fieldset p {
  display: block;
  position: relative;
  overflow: hidden;
}

fieldset p.left {
  float: left;
  margin-right: 50px;
}
fieldset > table {
  margin: 0;
}

fieldset .btn-form {
  padding-top: 24px;
  margin-left: -8px;
  margin-right: 16px;
}
fieldset .txt-form,
.txt-form {
  padding-top: 25px;
  margin-left: -8px;
  margin-right: 8px;
}
fieldset table tr .txt-form {
  padding-top: 10px;
  margin-left: -8px;
  margin-right: 8px;
}
fieldset div.left > label,
div.left > label {
  min-height: 15px;
  display: block;
  text-transform: lowercase;
}

/* Text, Textarea, Email */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea[type="text"],
input[type="password"] {
  width: 100%;
  border: 1px solid #7a7a7a;
  color: $gray-dark;
  font-size: 12px;
  padding: 8px 4px;

  border-radius: 4px;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea[type="text"].focus,
input[type="password"]:focus {
  border: 1px solid $primary;
  outline: 0;
  color: $gray-dark;

  box-shadow: 0 0 5px rgba(236, 112, 0, 0.8);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
textarea {
  width: 100%;
  border: 1px solid #7a7a7a;
  color: #a3a3a3;
  font-size: 12px;
  padding: 8px 4px;

  border-radius: 4px;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
textarea:focus {
  border: 1px solid $primary;
  outline: 0;
  color: $gray-dark;

  box-shadow: 0 0 5px rgba(236, 112, 0, 0.8);
}

/* Consistência de Formulário*/
input[type="text"].invalido,
input[type="email"].invalido,
input[type="search"].invalido,
input[type="url"].invalido,
input[type="tel"].invalido,
input[type="number"].invalido,
input[type="password"].invalido,
textarea[type="text"].invalido,
span.select-invalido {
  background-color: #ffe5e5;
}
/*span.select-invalido { background-color: #fef4a2; }*/

.mensagem-erro {
  position: absolute;
  z-index: 1200;
  display: block;
  margin-top: 60px;
  font-size: 12px;
  visibility: visible;
}
/*.mensagem-erro { position: absolute; z-index: 1200; display: block; margin-top: -10px; font-size: 12px; visibility: visible; }*/

.erro-seta {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.mensagem-erro .erro-seta {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $gray-dark;
  top: -14px;
  left: 20%;
}
/*.mensagem-erro .erro-seta { bottom: -11px; left: 20%; border-top-color: #404040; border-width: 5px 5px 0; }*/

.mensagem-erro .erro-campo {
  max-width: 200px;
  padding: 6px 10px;
  color: $white;
  text-align: left;
  text-decoration: none;
  background-color: #404040;

  border-radius: 4px;
}

/*Ajusta posicionamento do tooltip da mensagem de erro para o tipo input radio e checkbox*/
p.radio .mensagem-erro,
p.checkbox .mensagem-erro {
  margin-top: 40px !important;
}

/*******Inicio FIX seta fantasma do select, adicionar elemento spam com essa class logo acima do select com aria-hidden********/
.custom-select-icon,
.custom-select__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 30px;
  padding: 0 7px;
  background: transparent;
  pointer-events: none;
}

/*Adicionar "custom-select--fix" junto ao custom select como solução paliativa até que todos comboboxes sejam atualizados*/
.custom-select.custom-select--fix:after {
  content: "";
}

/*Icone da seta do select*/
.custom-select-icon:after,
.custom-select__icon:after {
  content: "\25BC";
}

/*******Fim FIX seta fantasma do select******/

/* start SELECT - Utiliza apenas CSS - Modelo OK */
label.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  -webkit-appearance: none;
  width: 100%;
  color: #000;
  display: inline-block;
  padding: 6px 15px 6px 6px;
  margin: 0;
  font: inherit;
  line-height: 1.2;
  border: 1px solid #bebab9;

  border-radius: 4px;
  background: url("../img/bg-select.png") repeat-x 0 bottom;
}

.custom-select:after {
  color: #777;
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 60%;
  line-height: 30px;
  padding: 0 7px;
  background: transparent;
  pointer-events: none;
}
/* Hacks Select */
_:-moz-tree-row(hover),
.custom-select:after {
  content: "";
}
_:-ms-input-placeholder,
:root .custom-select:after {
  content: "";
}
html[lang="\en"] .custom-select:after {
  content: "";
}
@media screen and (min-width: 0\0) {
  .custom-select:after {
    display: none;
  }
}
/* end SELECT - Utiliza apenas CSS - Modelo OK */

select option:not(:checked) {
  background: $white;
  color: #434343;
}

/* Campos desabilitados */
input.disabled,
input.desabilitado,
input:disabled,
input[disabled],
textarea.disabled,
textarea.desabilitado,
textarea:disabled,
textarea[disabled],
.custom-select select.disabled,
.custom-select select.desabilitado,
.custom-select select:disabled,
.custom-select select[disabled] {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* start Selects - Modelo 02 - OLD */
.select-menu {
  width: 100%;
  position: relative;
  color: #68727b;
  border: 1px solid #e8e8e8;
  background: url("../img/bg-select.png") repeat-x 0 bottom $white;

  border-radius: 4px;

  box-shadow: -2px 4px 3px #ccc;
}
.select-menu:hover {
  border: 1px solid #c3c3c3;
}
.select-menu .label {
  display: block;
  height: 28px;
  padding: 7px 25px 5px 8px;
  background: url("../img/select-arrows.png") right center no-repeat;
  overflow: hidden;
}
.select-menu select {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 5px 0 0 0;
  position: absolute;
  border: 0;
  -webkit-appearance: none;
}
/* end Selects - Modelo 02 - OLD */

/* start Selects - Modelo 01 - OLD */
div.dropdown {
  width: 100%;
  padding: 7px;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  color: #464544;
  background: url("../img/dropdown.gif") right center no-repeat #e8e8e8;
  position: relative;
  float: left;
  cursor: pointer;

  border-radius: 4px;

  box-shadow: -2px 4px 3px #ccc;
}

.modulo-autenticacao div.dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #7a7a7a;
  font-size: 12px;
  color: #464544;
  background: url("../img/dropdown.gif") right center no-repeat $white;
}

div.dropdown .dropdown_menu {
  width: 100%;
  left: -1px;
  top: 32px;
  padding: 0;
  margin: 0;
  border: 1px solid #f2f2f2;
  background: $gray-light;
  display: none;
  list-style: none;
  position: absolute;
  z-index: 8999;

  border-radius: 4px;

  box-shadow: -2px 4px 3px #dedede;
}
div.dropdown .dropdown_menu li.opcao {
  margin: 0;
  padding: 5px 10px;
  background: $gray-light;
  color: $gray-dark;
  list-style: none;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
div.dropdown .dropdown_menu .opcao {
  font-weight: normal;
  color: $gray-dark;
}
div.dropdown .dropdown_menu .opcao:hover {
  background-color: #dadada;
}
/* end Selects - Modelo 01 - OLD */

/* Campos desabilitados */
.custom-select select.disabled,
.custom-select select.desabilitado,
.custom-select select:disabled,
.custom-select select[disabled] {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* Radio e Checkbox */
label + p,
input + p {
  margin-top: 20px;
}

p > input {
  margin: 1px 2px 0 0;
  padding: 0;
  float: left; /*opacity: 0;*/
}
p > label {
  float: left;
  line-height: 16px;
}

p:not(#foo) > input:hover + label,
p:not(#foo) > input:focus + label {
  color: #000;
}

p:not(#foo) > input + label:before {
  width: 16px;
  height: 16px;
  left: 16px;
  background: url("../img/sprite-form-inputs.png") 0 0 no-repeat;
  content: "\00a0\00a0\00a0";
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
  margin: 0 7px 0 -10px;
  padding: 1px 6px 0 0;
}

p:not(#foo) > input + label:before,
p.left:not(#foo) > input + label:before {
  margin: 0 2px 0 -16px;
}

p:not(#foo) > input[type="radio"] + label:before {
  background-position: -16px 0;
}

/* Checked */
p:not(#foo) > input[type="radio"]:checked + label:before {
  background-position: -16px -72px;
}
p:not(#foo) > input[type="checkbox"]:checked + label:before {
  background-position: 0 -72px;
}
p:not(#foo) > input[type="checkbox"]:hover:checked + label:before,
p:not(#foo) > input[type="checkbox"]:focus:checked + label:before {
  background-position: 0 -90px;
}
p:not(#foo) > input[type="radio"]:hover:checked + label:before,
p:not(#foo) > input[type="radio"]:focus:checked + label:before {
  background-position: -16px -90px;
}
/* Hover - Focus */
p:not(#foo) > input[type="checkbox"]:hover + label:before,
p:not(#foo) > input[type="checkbox"]:focus + label:before {
  background-position: 0 -18px;
}
p:not(#foo) > input[type="radio"]:hover + label:before,
p:not(#foo) > input[type="radio"]:focus + label:before {
  background-position: -16px -18px;
}
/* Active */
p:not(#foo) > input[type="checkbox"]:active + label:before {
  background-position: 0 -36px;
}
p:not(#foo) > input[type="radio"]:active + label:before {
  background-position: -16px -36px;
}
p:not(#foo) > input[type="checkbox"]:active:checked + label:before {
  background-position: 0 -108px;
}
p:not(#foo) > input[type="radio"]:active:checked + label:before {
  background-position: -16px -108px;
}
/* Disabled */
p:not(#foo) > input[type="checkbox"]:disabled + label:before {
  background-position: 0 -54px;
}
p:not(#foo) > input[type="radio"]:disabled + label:before {
  background-position: -16px -54px;
}
p:not(#foo) > input[type="checkbox"]:disabled:checked + label:before {
  background-position: 0 -126px;
}
p:not(#foo) > input[type="radio"]:disabled:checked + label:before {
  background-position: -16px -126px;
}
p:not(#foo) > input[type="checkbox"]:hover:disabled + label:before,
p:not(#foo) > input[type="checkbox"]:focus:disabled + label:before {
  background-position: 0 -54px;
}
p:not(#foo) > input[type="radio"]:hover:disabled + label:before,
p:not(#foo) > input[type="radio"]:focus:disabled + label:before {
  background-position: -16px -54px;
}
p:not(#foo) > input[type="checkbox"]:hover:disabled:checked + label:before,
p:not(#foo) > input[type="checkbox"]:focus:disabled:checked + label:before {
  background-position: 0 -126px;
}
p:not(#foo) > input[type="radio"]:hover:disabled:checked + label:before,
p:not(#foo) > input[type="radio"]:focus:disabled:checked + label:before {
  background-position: -16px -126px;
}


/*CSS para radio button - incluido 23/03/2018 - modificado 27/03-2018 -  INICIO*/
/* Radio e Checkbox */
label + .radio-style,
input + .radio-style {
  margin-top: 20px;
}

.radio-style > input {
  margin: 1px 2px 0 0;
  padding: 0;
  float: left; /*opacity: 0;*/
}
.radio-style > label {
  float: left;
  line-height: 16px;
}

.radio-style:not(#foo) > input:hover + label,
.radio-style:not(#foo) > input:focus + label {
  color: #000;
}

.radio-style:not(#foo) > input + label:before {
  width: 16px;
  height: 16px;
  left: 16px;
  background: url("../img/sprite-form-inputs.png") 0 0 no-repeat;
  content: "\00a0\00a0\00a0";
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
  margin: 0 7px 0 -10px;
  padding: 1px 6px 0 0;
}

.radio-style:not(#foo) > input + label:before,
.radio-style.left:not(#foo) > input + label:before {
  margin: 0 2px 0 -16px;
}

.radio-style:not(#foo) > input[type="radio"] + label:before {
  background-position: -16px 0;
}

/* Checked */
.radio-style:not(#foo) > input[type="radio"]:checked + label:before {
  background-position: -16px -72px;
}
.radio-style:not(#foo) > input[type="checkbox"]:checked + label:before {
  background-position: 0 -72px;
}
.radio-style:not(#foo) > input[type="checkbox"]:hover:checked + label:before,
.radio-style:not(#foo) > input[type="checkbox"]:focus:checked + label:before {
  background-position: 0 -90px;
}
.radio-style:not(#foo) > input[type="radio"]:hover:checked + label:before,
.radio-style:not(#foo) > input[type="radio"]:focus:checked + label:before {
  background-position: -16px -90px;
}
/* Hover - Focus */
.radio-style:not(#foo) > input[type="checkbox"]:hover + label:before,
.radio-style:not(#foo) > input[type="checkbox"]:focus + label:before {
  background-position: 0 -18px;
}
.radio-style:not(#foo) > input[type="radio"]:hover + label:before,
.radio-style:not(#foo) > input[type="radio"]:focus + label:before {
  background-position: -16px -18px;
}
/* Active */
.radio-style:not(#foo) > input[type="checkbox"]:active + label:before {
  background-position: 0 -36px;
}
.radio-style:not(#foo) > input[type="radio"]:active + label:before {
  background-position: -16px -36px;
}
.radio-style:not(#foo) > input[type="checkbox"]:active:checked + label:before {
  background-position: 0 -108px;
}
.radio-style:not(#foo) > input[type="radio"]:active:checked + label:before {
  background-position: -16px -108px;
}
/* Disabled */
.radio-style:not(#foo) > input[type="checkbox"]:disabled + label:before {
  background-position: 0 -54px;
}
.radio-style:not(#foo) > input[type="radio"]:disabled + label:before {
  background-position: -16px -54px;
}
.radio-style:not(#foo)
  > input[type="checkbox"]:disabled:checked
  + label:before {
  background-position: 0 -126px;
}
.radio-style:not(#foo) > input[type="radio"]:disabled:checked + label:before {
  background-position: -16px -126px;
}
.radio-style:not(#foo) > input[type="checkbox"]:hover:disabled + label:before,
.radio-style:not(#foo) > input[type="checkbox"]:focus:disabled + label:before {
  background-position: 0 -54px;
}
.radio-style:not(#foo) > input[type="radio"]:hover:disabled + label:before,
.radio-style:not(#foo) > input[type="radio"]:focus:disabled + label:before {
  background-position: -16px -54px;
}
.radio-style:not(#foo)
  > input[type="checkbox"]:hover:disabled:checked
  + label:before,
.radio-style:not(#foo)
  > input[type="checkbox"]:focus:disabled:checked
  + label:before {
  background-position: 0 -126px;
}
.radio-style:not(#foo)
  > input[type="radio"]:hover:disabled:checked
  + label:before,
.radio-style:not(#foo)
  > input[type="radio"]:focus:disabled:checked
  + label:before {
  background-position: -16px -126px;
}

/*classe para o input*/
.radio-input {
  position: relative;
  top: 15px;
  left: 5px;
}
.radio-input-com-img {
  position: relative;
  top: 20px;
  left: 5px;
}
/*classe para o input*/

/*classes para o label com e sem imagem*/
.radio-label-1-linha {
  position: relative;
  top: -15px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.radio-label-2-linhas {
  position: relative;
  top: -22px;
  margin-left: 10px;
}
.radio-label-com-img {
  position: relative;
  top: -26px;
  margin-left: 5px;
}
/*classes para o label com e sem imagem*/

/*CSS para radio button - incluido 23/03/2018 - modificado 27/03-2018 - FIM*/


.checkbox-filtro {
  width: 13px;
  height: 13px;
  border-radius: 2px;
  background-color: $white;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px $gray-warm;
}
.input-monetario {
  position: relative;
  background-color: #dedede;
  display: inline;
}
.input-monetario:before {
  content: "R$";
  position: absolute;
  top: 30px;
  left: 5px;
  z-index: 1;
  font-size: 12px;
  color: $gray-dark;
}

@-moz-document url-prefix() {
  .input-monetario:before {
    top: 42px !important;
  }
}

/* Correção validação de formulário */
.box-info .linha-parc {
  padding-right: 20px;
  border-bottom: 1px solid $gray-bright;
  padding-bottom: 10px;
}

.flash-mask {
  cursor: pointer;
  height: 170px;
  position: absolute;
  width: 316px;
  z-index: 8000;
}
