.go-top {
    text-transform: lowercase;
  }

  .border {
    border: 1px solid $gray-bright !important;
  }

  
  /* ------------- Elementos extras - UX-CT ------------- */
  .lista-img {
    display: block;
    background: $white;
    border: 1px solid $gray-bright;
    margin: 0 0 20px 0px;
    padding: 12px 30px 10px;
    text-align: center;
    border-radius: 6px;
  }
  .lista-img li {
    list-style: none;
    display: inline;
    margin: 0 10px;
  }
  .select-menu .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .box-btn-right {
    float: right;
    width: 320px;
  }
  .box-btn-right a.btn {
    margin-left: 0;
  }
  
  td.destaque-td {
    background: $gray-cold;
  }
  
  /* 02a-simulacao.html */
  
  .line-horizontal {
    border-bottom: 1px solid $gray-light;
    float: left;
  }
  
  .bg-cinza {
    background-color: $gray-light;
    border: 1px solid $gray-bright;
  }
  .bg-cinza-td {
    background-color: $gray-bright;
  }
  
  /* 02b-simulacao-comparativo-seguro.html */
  
  /* Modificação box-info */
  .box-info table tbody tr {
    background-color: transparent;
  }
  .line-bottom {
    position: relative;
    padding-right: 20px;
  }
  .line-bottom .abre-fecha {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .seleciona-linha-clique.ativo td {
    color: $primary;
    font-weight: bold;
  }
  
  
  /* Linha 126 itau-style.css*/
  .modulo section,
  .content section {
    margin: 0 0 30px 0;
  }
  
  /* Menus de Contexto com abas*/
  .menu-contexto-abas h3 {
    color: $primary !important;
  }
  .menu-contexto-abas ul {
    margin-bottom: 30px;
  }
  .menu-contexto-abas div.row {
    margin: 0;
  }
  
  .bg-hover-box:hover {
    background-color: $gray-lightest;
  }
  
  h3.titulo-preto {
    color: #444a51;
  }
  
  .paleta-cor-grafico {
    width: 14px;
    height: 28px;
  }
  
  .box-info-2 {
    background: $white;
    border: 1px solid $gray-bright;
    margin-bottom: 20px;
    padding: 10px 10px;
  
    border-radius: 6px;
    width: 100%;
    *width: 668px;
  }
  
  /* Box Atendimento */
  .txt-destaque,
  .modulo-sidebar .txt-destaque {
    color: $primary;
  }
  
  .modulo-sidebar .tabs-nav li {
    background: none;
    margin-bottom: -1px;
  }
  
  
  /* Box 2 col Atendimento */
  .box-2col {
    min-height: 92px;
    width: 450px;
    display: block;
    padding: 20px;
    border: 1px solid $gray-bright;
  
    border-radius: 6px;
  }
  .box-2col img {
    float: left;
    margin: 0 17px 10px 0;
  }
  .box-2col p {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin-top: 0;
  }
  .box-2col p span.titulo {
    font-weight: bold;
  }
  
  /* Box pendências */
  ul li.item {
    background: none;
    width: 100%;
  }
  ul li.item span.num {
    font-weight: bold;
    font-size: 14px;
    color: $primary;
    margin-right: 5px;
  }
  
  /* Linha com seta */
  .seta-fluxo {
    height: 14px;
    margin-left: 10px;
    margin-top: 30px;
    position: absolute;
    width: 25px;
    background: url("../img/seta-msg.png");
  }
  .linha-seta {
    border-bottom: 1px solid $gray-bright;
    margin-top: 43px;
  }
  
  /* Estilos para fixa box */
  .modulo-chat-col4 {
    width: 316px;
    position: fixed;
    bottom: 15px;
  }
  .modulo-chat-col3 {
    width: 233px;
    position: fixed;
    bottom: 15px;
  }
  
  /* Estilos para perfil */
  .foto-gerente {
    float: left;
    margin-right: 15px;
  }
  
  .foto-gerente .perfil-chat {
    border: 1px solid $gray-bright;
  
    border-radius: 6px;
  }
  .info-gerente {
    overflow: auto;
  }
  
  
  /* Seta indicativa de posicionamento */
  .linha-seta-indicativa {
    position: relative;
    border-top: 1px solid #d5d5d5;
    margin-top: -1px;
  }
  .seta-indicativa {
    background: url("../img/seta-msg.png") top left;
    z-index: 5;
    width: 25px;
    height: 15px;
    position: absolute;
    top: -14px;
  }
  .seta-indicativa.pos-a {
    left: 65px;
  }
  .seta-indicativa.pos-b {
    left: 240px;
  }
  .seta-indicativa.pos-c {
    left: 415px;
  }
  .seta-indicativa.pos-d {
    left: 590px;
  }
  .seta-indicativa.pos-recarga-a {
    left: 40px;
  }
  .seta-indicativa.pos-recarga-b {
    left: 205px;
  }
  .seta-indicativa.pos-recarga-c {
    left: 390px;
  }
  .seta-indicativa.pos-recarga-d {
    left: 570px;
  }
  
  /**
    *** ------------------------------------------
    *** Box de pagamento
    *** ------------------------------------------
    **/
  
  .box-pagamento {
    background-color: $white;
    border: 1px solid $gray-bright;
    margin-bottom: 20px;
    min-height: 310px;
    padding: 15px 10px;
  
    border-radius: 6px;
  }
  
  /* Hover do box - borda */
  div.box-hover:hover {
    border: 1px solid $primary;
  }
  
  /* Alteração da margem da tabela do módulo sidebar */
  .modulo-sidebar table {
    margin: 0 0 10px 0 !important;
  }
  
  /** Deixando o texto na cor preto quando muda o box selecionado **/
  .txt-box-duvida {
    color: #444a51 !important;
  }
  
  .txt-word-wrap {
    word-wrap: break-word;
  }
  
  /**
    *** ------------------------------------------
    *** Input Number - Mobile
    *** ------------------------------------------
    **/
  
  /* Classes criadas exclusivamente para uso no JS. Não customizar a classe "number-mobile"  */
  
  .number-oculto {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 0;
    position: absolute;
  }
  .number-default {
    border: 1px solid #7a7a7a;
    outline: none;
    color: $gray-dark;
  
    box-shadow: none;
  }
  .number-focus {
    border: 1px solid $primary !important;
    outline: 0;
    color: $gray-dark;
  
    box-shadow: 0 0 5px rgba(236, 112, 0, 0.8);
  }
  
  
  .faq-txt {
    max-width: 635px;
    display: inline-block;
  }
  
  .faq-exibir {
    right: 0px;
    bottom: 10px;
  }
  
  .quickAnswers {
    margin-bottom: -27px !important;
    margin-top: -5px !important;
    background: white !important;
    padding-bottom: 0px !important;
  }
  
  #texto-duvidas {
    margin-left: -3px;
  }
  
  /* Estilo input busca desabilitado */
  #input-busca[disabled] {
    background-color: white;
    opacity: 1;
  }
  
  #nomeTransferencia {
    width: 200px;
    -ms-transition: none;
    transition: none;
  }
  
  #nomeRecarga {
    width: 200px;
    -ms-transition: none;
    transition: none;
  }
  
  #idOferta {
    margin-top: 9px;
    margin-left: -34px;
  }
  
  li.msgCartao {
    padding-bottom: 7px !important;
  }
  
  span#imgSolicitaCartao {
    margin-top: -5px;
  }
  
  li.msgSolicitaCartao {
    margin-left: 23px !important;
  }
  
  #solicitaCartao {
    text-decoration: underline !important;
    display: inline;
  }
  
  #valorCartao {
    width: 369px;
    -ms-transition: width;
    transition: width;
  }
  
  #tipoConsulta {
    width: 135px;
    -ms-transition: width;
    transition: width;
  }
  
  ul#msgCarregando {
    margin-bottom: 0px !important;
  }
  
  
  #tipoConta {
    width: 100px;
    -ms-transition: none;
    transition: none;
  }
  
  
  /*novo modelo de cartoes - fatura*/
  .modulo-cartoes-12col table td,
  .modulo-cartoes-12col table th {
    border: none;
  }
  .modulo-cartoes-12col .box-info-alerta {
    margin-top: 3em;
  }
  .modulo-cartoes-12col .line {
    border-left: solid 1px $gray-light;
  }
  
  @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
    .busca-auto-complete a:focus,
    .busca-auto-complete a:active {
      outline: none;
      box-shadow: 0px 0px 0px 3px highlight;
      border-radius: 1px;
    }
  }
  
  /* Mensagens não lidas */
  .bola-msg {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: $primary;
    margin-top: -6px;
  }
  .txt-bola-msg {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 20px;
    width: 20px;
    margin-top: 3px;
  }
  
  .posiciona-bola {
    margin-top: -10px;
    margin-left: -10px;
  }
  /* end */
  
  #ul-cards-busca span.ico-preto-curtir:hover {
    background-position: -120px -96px !important;
  }
  #ul-cards-busca span.ico-preto-descurtir:hover {
    background-position: -144px -96px !important;
  }
  
  
  .fonte-preta {
    color: $gray-dark !important;
  }
  
  
  /* Ajuste cartão adicional - alteração de limites - INICIO */
  .campos-adcional {
    min-width: 15%;
    height: 50px;
    margin: 0px;
    padding: 15px 0 0 5px;
    margin: 0px !important;
  }
  .borda-direita {
    border-right: 1px solid $gray-bright;
  }
  /* Ajuste cartão adicional - alteração de limites - FIM */
  
  .mapa-acessibilidade h3 {
    font-size: 18px;
  }
  
  .titulo-h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  