/**
  *** ------------------------------------------------------------------------------------
  *** Tour Elements (hopscotch.js)
  *** ------------------------------------------------------------------------------------
  **/
div.hopscotch-bubble {
  border: 1px solid #d5d5d5;
  z-index: 999991;
  font-size: 12px;
  background: $white;
  color: #373d45;
  margin-left: 0;
  margin-top: 5px;

  border-radius: 6px;

  box-shadow: 0 2px 8px $gray-dark;
}
.hopscotch-actions {
  white-space: normal;
}
.hopscotch-nav-button {
  margin: 0 10px 0 0;
  font-size: 12px;
  text-shadow: none;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up:after {
  border: 10px solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255, 1);
  content: "";
  bottom: 100%;
  left: 58px;
  position: absolute;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down:after {
  border: 10px solid transparent;
  border-top-color: rgb(255, 255, 255);
  border-top-color: rgba(255, 255, 255, 1);
  content: "";
  top: 100%;
  right: 58px;
  position: absolute;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.right:after {
  border: 10px solid transparent;
  border-left-color: rgb(255, 255, 255);
  border-left-color: rgba(255, 255, 255, 1);
  content: "";
  left: 100%;
  bottom: 54px;
  position: absolute;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.left:after {
  border: 10px solid transparent;
  border-right-color: rgb(255, 255, 255);
  border-right-color: rgba(255, 255, 255, 1);
  content: "";
  right: 100%;
  bottom: 54px;
  position: absolute;
}
div.hopscotch-bubble .hopscotch-bubble-arrow-container.hide {
  border: 10px solid transparent;
  content: "";
  right: 100%;
  bottom: 20px;
  position: relative;
}
div.hopscotch-bubble
  .hopscotch-bubble-arrow-container.up
  .hopscotch-bubble-arrow-border {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom: 0px solid rgba(0, 0, 0, 0.5);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
}
/**
    *** ---------------------------------------------------------------------------------------
    *** Comando comentado para poder deixar mudar de cor com o houver mesmo com foco no botÃ£o
    *** --------------------------------------------------------------------------------------
    a.btn-fluxo:focus { background: $primary; }
    **/
.hopscotch-nav-button .hopscotch-skip {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: rgb(70, 70, 70);
  text-decoration: underline;
}
.hopscotch-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 99995;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.hopscotch-overlay:nth-child(n) {
  filter: none;
}
.hopscotch-target {
  position: relative;
  z-index: 99998;
  pointer-events: none;
}
.hopscotch-helper {
  z-index: 99999 !important;
  pointer-events: none;
}

div.bg-container-tour1 {
  height: 550px;
  width: 550px;
  padding: 15px;
  padding-top: 20px;
  padding-right: 40px;
}
div.bg-message-tour1 {
  height: 190px;
}
div.bg-tour1 {
  background: url("../img/bg-coachmark-550x550.gif") left top no-repeat;
  height: 550px;
  width: 550px;
  margin-top: 4%;
  margin-left: -4%;
}
p.txt-message-attention-tour1 {
  color: $primary;
  font-size: 51px;
  line-height: 46px;
  font-weight: bold;
  font-family: arial;
  margin-left: 35px;
  padding-right: 15px;
}
p.txt-message-tour1 {
  color: #003767;
  font-size: 30px;
  line-height: 30px;
  font-family: arial;
  margin-left: 35px;
}
a.margem-tour1 {
  margin-left: 35px;
}



/**
  *** ------------------------------------------------------------------------------------
  *** Tour Elements (hopscotch.js)
  *** ------------------------------------------------------------------------------------
  **/
  div.hopscotch-bubble {
    border: 1px solid #d5d5d5;
    z-index: 999991;
    font-size: 12px;
    background: $white;
    color: #373d45;
    margin-left: 0;
    margin-top: 5px;
  
    border-radius: 6px;
  
    box-shadow: 0 2px 8px $gray-dark;
  }
  .hopscotch-actions {
    white-space: normal;
  }
  .hopscotch-nav-button {
    margin: 0 10px 0 0;
    font-size: 12px;
    text-shadow: none;
  }
  
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.up:after {
    border: 10px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-color: rgba(255, 255, 255, 1);
    content: "";
    bottom: 100%;
    left: 58px;
    position: absolute;
  }
  
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.down:after {
    border: 10px solid transparent;
    border-top-color: rgb(255, 255, 255);
    border-top-color: rgba(255, 255, 255, 1);
    content: "";
    top: 100%;
    right: 58px;
    position: absolute;
  }
  
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.right:after {
    border: 10px solid transparent;
    border-left-color: rgb(255, 255, 255);
    border-left-color: rgba(255, 255, 255, 1);
    content: "";
    left: 100%;
    bottom: 54px;
    position: absolute;
  }
  
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.left:after {
    border: 10px solid transparent;
    border-right-color: rgb(255, 255, 255);
    border-right-color: rgba(255, 255, 255, 1);
    content: "";
    right: 100%;
    bottom: 54px;
    position: absolute;
  }
  div.hopscotch-bubble .hopscotch-bubble-arrow-container.hide {
    border: 10px solid transparent;
    content: "";
    right: 100%;
    bottom: 20px;
    position: relative;
  }
  div.hopscotch-bubble
    .hopscotch-bubble-arrow-container.up
    .hopscotch-bubble-arrow-border {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom: 0px solid rgba(0, 0, 0, 0.5);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }
  
  .hopscotch-nav-button .hopscotch-skip {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: rgb(70, 70, 70);
    text-decoration: underline;
  }
  .hopscotch-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 99995;
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  .hopscotch-overlay:nth-child(n) {
    filter: none;
  }
  .hopscotch-target {
    position: relative;
    z-index: 99998;
    pointer-events: none;
  }
  .hopscotch-helper {
    z-index: 99999 !important;
    pointer-events: none;
  }

  

div.bg-container-tour1 {
  height: 550px;
  width: 550px;
  padding: 15px;
  padding-top: 20px;
  padding-right: 40px;
}
div.bg-message-tour1 {
  height: 190px;
}
div.bg-tour1 {
  background: url("../img/bg-coachmark-550x550.gif") left top no-repeat;
  height: 550px;
  width: 550px;
  margin-top: 4%;
  margin-left: -4%;
}
p.txt-message-attention-tour1 {
  color: $primary;
  font-size: 51px;
  line-height: 46px;
  font-weight: bold;
  font-family: arial;
  margin-left: 35px;
  padding-right: 15px;
}
p.txt-message-tour1 {
  color: #003767;
  font-size: 30px;
  line-height: 30px;
  font-family: arial;
  margin-left: 35px;
}
a.margem-tour1 {
  margin-left: 35px;
}

