/* Ícones - Busca- Ações Rápidas - 18x18px */
span.ico-peq {
  width: 16px;
  height: 16px;
  background: url("../img/sprite-icon-busca.png") left top no-repeat;
  display: block;
  float: left;
  margin-right: 6px;
  margin-top: -2px;
}
span.ico-peq-conta-garantida {
  width: 16px;
  height: 16px;
  background: url("../img/cobranca_ativa-ico.png") left top no-repeat;
  display: block;
  float: left;
  margin-right: 6px;
  margin-top: -2px;
}
span.ico-peq-transferencia,
span.ico-peq-transferencias {
  background-position: 0 -18px;
}
span.ico-peq-pagamento,
span.ico-peq-pagamentos {
  background-position: -18px -18px;
}
span.ico-peq-recarga,
span.ico-peq-recargas {
  background-position: -36px -18px;
}
span.ico-peq-cartoes {
  width: 23px;
  height: 16px;
  background: url("../img/sprite-icon-peq.png") left top no-repeat;
  display: block;
  float: left;
  margin-right: 6px;
  margin-top: -2px;
  background-position: -120px -528px !important;
}
span.ico-ajaxloader {
  width: 17px;
  height: 17px;
  background: url("../img/loading-micro.gif") left top no-repeat;
  display: block;
  float: left;
  margin-right: 6px;
  margin-top: 0px;
}
span.ico-csi {
  width: 24px;
  height: 24px;
  background: url("../img/sprite-csi.png") left top no-repeat;
  display: block;
  float: left;
  margin-right: 7px;
  margin-top: -5px;
  background-position: -1525px -21px;
}

/* Ícones - 24x24px */
span.ico {
  width: 24px;
  height: 24px;
  background: url("../img/sprite-icon-peq.png") left top no-repeat;
  display: block;
  float: left;
  margin-right: 7px;
  margin-top: -4px;
}
span.ico-conteudo {
  width: 24px;
  height: 24px;
  background: url("../img/sprite-icon-peq.png") left top no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
}
/* Laranja */

span.ico-app {
  background: url(../img/icones/warning/laranja/stroke-internet_computador-45x45.png)
    left top no-repeat;
}

span.ico-duvidas {
  background-position: -216px -22px;
  margin-top: -7px !important;
}
span.ico-telefone {
  background-position: 0 -24px;
}
span.ico-calculadora {
  background-position: -24px -24px;
}
span.ico-calendario {
  background-position: -48px -24px;
}
span.ico-contato {
  background-position: -72px -24px;
}
span.ico-chat {
  background-position: -96px -24px;
}
span.ico-smile {
  background-position: -120px -24px;
}
span.ico-perfil {
  background-position: -144px -24px;
}
span.ico-gerente {
  background-position: -168px -24px;
}
span.ico-excluir {
  background-position: -192px -24px;
}
/**/
span.ico-seguranca {
  background-position: 0 -48px;
}
span.ico-desbloqueio {
  background-position: -24px -48px;
}
span.ico-cartao-seguranca {
  background-position: -48px -48px;
}
span.ico-itoken-aplicativo {
  background-position: -72px -48px;
}
span.ico-itoken-chaveiro {
  background-position: -96px -48px;
}
span.ico-itoken-sms {
  background-position: -120px -48px;
}
span.ico-biometria {
  background-position: -144px -48px;
}
span.ico-estrela-vazada {
  background-position: -168px -48px;
}
/**/
span.ico-agencia {
  background-position: 0 -72px;
}
span.ico-agencia-person {
  background-position: -24px -72px;
}
span.ico-vida {
  background-position: -48px -72px;
}
span.ico-residencia {
  background-position: -72px -72px;
}
span.ico-transporte {
  background-position: -96px -72px;
}
span.ico-auto {
  background-position: -120px -72px;
}
span.ico-viagem {
  background-position: -144px -72px;
}
span.ico-patrimonio {
  background-position: -168px -72px;
}
span.ico-universitario {
  background-position: -192px -72px;
}
span.ico-outros {
  background-position: -216px -72px;
}
/**/
span.ico-exclamacao {
  background-position: 0 -96px;
}
span.ico-interrogacao {
  background-position: -24px -96px;
}
span.ico-estrela {
  background-position: -48px -96px;
}
span.ico-download {
  background-position: -72px -96px;
}
span.ico-exportar {
  background-position: -96px -96px;
}
span.ico-curtir {
  background-position: -120px -96px;
}
span.ico-descurtir {
  background-position: -144px -96px;
}
span.ico-sifrao {
  background-position: -168px -96px;
}
span.ico-alvo {
  background-position: -192px -96px;
}
span.ico-reload {
  background-position: -216px -96px;
}
/**/
span.ico-check {
  background-position: 0 -120px;
}
span.ico-editar {
  background-position: -24px -120px;
}
span.ico-info {
  background-position: -48px -120px;
}
span.ico-configurar {
  background-position: -72px -120px;
}
span.ico-mais {
  background-position: -96px -120px;
}
span.ico-menos {
  background-position: -120px -120px;
}
span.ico-igual {
  background-position: -144px -120px;
}
span.ico-busca {
  background-position: -168px -120px;
}
span.ico-lupa {
  background-position: -169px -146px;
}
span.ico-seta {
  background-position: -169px -170px;
}
span.ico-relogio {
  background-position: -192px -120px;
}
span.ico-video {
  background-position: -216px -120px;
}
/**/
span.ico-assessoria {
  background-position: 0 -144px;
}
span.ico-cambio {
  background-position: -24px -144px;
}
span.ico-coleta {
  background-position: -48px -144px;
}
span.ico-acoes {
  background-position: -72px -144px;
}
span.ico-mercado {
  background-position: -96px -144px;
}
span.ico-investimento,
span.ico-investimentos {
  background-position: -120px -144px;
}
/**/
span.ico-sair-vermelho {
  background-position: 0 -168px;
}
span.ico-aplicacao {
  background-position: -24px -168px;
}
span.ico-resgate {
  background-position: -48px -168px;
}
span.ico-poupanca {
  background-position: -72px -168px;
}
span.ico-deposito {
  background-position: -96px -168px;
}
span.ico-saque {
  background-position: -120px -168px;
}
/**/
span.ico-celular {
  background-position: 0 -192px;
}
span.ico-celular-pre-pago {
  background-position: -24px -192px;
  width: 22px;
}
span.ico-celular-autorizacao {
  background-position: -48px -192px;
}
span.ico-credito {
  background-position: -72px -192px;
}
span.ico-debito {
  background-position: -96px -192px;
}
span.ico-filtro {
  background-position: -120px -192px;
}
span.ico-porcentagem {
  background-position: -144px -192px;
}
span.ico-programa-pontos {
  background-position: -168px -192px;
}
span.ico-perfil-investidor {
  background-position: -192px -192px;
}
span.ico-notificacao {
  background-position: -216px -192px;
}
/**/
span.ico-documentos {
  background-position: 0 -216px;
}
span.ico-excel {
  background-position: -24px -216px;
}
span.ico-word {
  background-position: -48px -216px;
}
span.ico-pdf {
  background-position: -72px -216px;
}
span.ico-fatura {
  background-position: -96px -216px;
}
span.ico-docs {
  background-position: -120px -216px;
}
span.ico-gerenciador {
  background-position: -144px -216px;
}
/**/
span.ico-consorcio {
  background-position: 0 -240px;
}
span.ico-emprestimo {
  background-position: -24px -240px;
}
span.ico-parcelamento {
  background-position: -48px -240px;
}
span.ico-transferencia,
span.ico-transferencias {
  background-position: -72px -240px;
}
span.ico-cartao {
  background-position: -96px -240px;
}
span.ico-cartoes {
  background-position: -120px -240px;
}
span.ico-conta-corrente {
  background-position: -144px -240px;
}
span.ico-previdencia {
  background-position: -168px -240px;
}
/**/
span.ico-codigo-barra,
span.ico-codigo-barras {
  background-position: 0 -264px;
}
span.ico-pagamento,
span.ico-pagamentos {
  background-position: -24px -264px;
}
span.ico-extrato {
  background-position: -48px -264px;
}
span.ico-comprovante,
span.ico-comprovantes {
  background-position: -72px -264px;
}
/**/
span.ico-carrinho {
  background-position: -120px -264px;
}
span.ico-conexao {
  background-position: -144px -264px;
}
span.ico-resposta {
  background-position: -168px -264px;
}
span.ico-arroba {
  background-position: -192px -264px;
}
span.ico-apontar {
  background-position: -216px -264px;
}

/* Branco */
span.ico-branco-telefone {
  background-position: 0 -312px !important;
}
span.ico-branco-calculadora {
  background-position: -24px -312px !important;
}
span.ico-branco-calendario {
  background-position: -48px -312px !important;
}
span.ico-branco-contato {
  background-position: -72px -312px !important;
}
span.ico-branco-chat {
  background-position: -96px -312px !important;
}
span.ico-branco-smile {
  background-position: -120px -312px !important;
}
span.ico-branco-perfil {
  background-position: -144px -312px !important;
}
span.ico-branco-gerente {
  background-position: -168px -312px !important;
}
span.ico-branco-excluir {
  background-position: -192px -312px !important;
}
/**/
span.ico-branco-seguranca {
  background-position: 0 -386px !important;
}
span.ico-branco-desbloqueio {
  background-position: -24px -386px !important;
}
span.ico-branco-cartao-seguranca {
  background-position: -48px -386px !important;
}
span.ico-branco-itoken-aplicativo {
  background-position: -72px -386px !important;
}
span.ico-branco-itoken-chaveiro {
  background-position: -96px -386px !important;
}
span.ico-branco-itoken-sms {
  background-position: -120px -386px !important;
}
span.ico-branco-biometria {
  background-position: -144px -386px !important;
}
span.ico-branco-estrela-vazada {
  background-position: -168px -386px !important;
}
/**/
span.ico-branco-agencia {
  background-position: 0 -360px !important;
}
span.ico-branco-agencia-person {
  background-position: -24px -360px !important;
}
span.ico-branco-vida {
  background-position: -48px -360px !important;
}
span.ico-branco-residencia {
  background-position: -72px -360px !important;
}
span.ico-branco-transporte {
  background-position: -96px -360px !important;
}
span.ico-branco-auto {
  background-position: -120px -360px !important;
}
span.ico-branco-viagem {
  background-position: -144px -360px !important;
}
span.ico-branco-patrimonio {
  background-position: -168px -360px !important;
}
span.ico-branco-universitario {
  background-position: -192px -360px !important;
}
span.ico-branco-outros {
  background-position: -216px -360px !important;
}
/**/
span.ico-branco-exclamacao {
  background-position: 0 -384px !important;
}
span.ico-branco-interrogacao {
  background-position: -24px -384px !important;
}
span.ico-branco-estrela {
  background-position: -48px -384px !important;
}
span.ico-branco-download {
  background-position: -72px -384px !important;
}
span.ico-branco-exportar {
  background-position: -96px -384px !important;
}
span.ico-branco-curtir {
  background-position: -120px -384px !important;
}
span.ico-branco-descurtir {
  background-position: -144px -384px !important;
}
span.ico-branco-sifrao {
  background-position: -168px -384px !important;
}
span.ico-branco-alvo {
  background-position: -192px -384px !important;
}
span.ico-branco-reload {
  background-position: -216px -384px !important;
}
/**/
span.ico-branco-check {
  background-position: 0 -408px !important;
}
span.ico-branco-editar {
  background-position: -24px -408px !important;
}
span.ico-branco-info {
  background-position: -48px -408px !important;
}
span.ico-branco-configurar {
  background-position: -72px -408px !important;
}
span.ico-branco-mais {
  background-position: -96px -408px !important;
}
span.ico-branco-menos {
  background-position: -120px -408px !important;
}
span.ico-branco-igual {
  background-position: -144px -408px !important;
}
span.ico-branco-busca {
  background-position: -168px -408px !important;
}
span.ico-branco-lupa {
  background-position: -169px -435px !important;
}
span.ico-branco-seta {
  background-position: -169px -458px !important;
}
span.ico-branco-relogio {
  background-position: -192px -408px !important;
}
span.ico-branco-video {
  background-position: -216px -408px !important;
}
/**/
span.ico-branco-assessoria {
  background-position: 0 -432px !important;
}
span.ico-branco-cambio {
  background-position: -24px -432px !important;
}
span.ico-branco-coleta {
  background-position: -48px -432px !important;
}
span.ico-branco-acoes {
  background-position: -72px -432px !important;
}
span.ico-branco-mercado {
  background-position: -96px -432px !important;
}
span.ico-branco-investimento {
  background-position: -120px -432px !important;
}
/**/
span.ico-branco-sair-vermelho {
  background-position: 0 -456px !important;
}
span.ico-branco-aplicacao {
  background-position: -24px -456px !important;
}
span.ico-branco-resgate {
  background-position: -48px -456px !important;
}
span.ico-branco-poupanca {
  background-position: -72px -456px !important;
}
span.ico-branco-deposito {
  background-position: -96px -456px !important;
}
span.ico-branco-saque {
  background-position: -120px -456px !important;
}
/**/
span.ico-branco-celular {
  background-position: 0 -480px !important;
}
span.ico-branco-celular-pre-pago {
  background-position: -24px -480px !important;
}
span.ico-branco-celular-autorizacao {
  background-position: -48px -480px !important;
}
span.ico-branco-credito {
  background-position: -72px -480px !important;
}
span.ico-branco-debito {
  background-position: -96px -480px !important;
}
span.ico-branco-filtro {
  background-position: -120px -480px !important;
}
span.ico-branco-porcentagem {
  background-position: -144px -480px !important;
}
span.ico-branco-programa-pontos {
  background-position: -168px -480px !important;
}
span.ico-branco-perfil-investidor {
  background-position: -192px -480px !important;
}
span.ico-branco-notificacao {
  background-position: -216px -480px;
}
/**/
span.ico-branco-documentos {
  background-position: 0 -504px !important;
}
span.ico-branco-excel {
  background-position: -24px -504px !important;
}
span.ico-branco-word {
  background-position: -48px -504px !important;
}
span.ico-branco-pdf {
  background-position: -72px -504px !important;
}
span.ico-branco-fatura {
  background-position: -96px -504px !important;
}
span.ico-branco-docs {
  background-position: -120px -504px !important;
}
span.ico-branco-gerenciador {
  background-position: -144px -504px !important;
}
/**/
span.ico-branco-consorcio {
  background-position: 0 -528px !important;
}
span.ico-branco-emprestimo {
  background-position: -24px -528px !important;
}
span.ico-branco-parcelamento {
  background-position: -48px -528px !important;
}
span.ico-branco-transferencia,
span.ico-branco-transferencias {
  background-position: -72px -528px !important;
}
span.ico-branco-cartao {
  background-position: -96px -528px !important;
}
span.ico-branco-cartoes {
  background-position: -120px -528px !important;
}
span.ico-branco-conta-corrente {
  background-position: -144px -528px !important;
}
span.ico-branco-previdencia {
  background-position: -168px -528px !important;
}
/**/
span.ico-branco-codigo-barra,
span.ico-branco-codigo-barras {
  background-position: 0 -552px !important;
}
span.ico-branco-pagamento,
span.ico-branco-pagamentos {
  background-position: -24px -552px !important;
}
span.ico-branco-extrato {
  background-position: -48px -552px !important;
}
span.ico-branco-comprovante,
span.ico-branco-comprovantes {
  background-position: -72px -552px !important;
}
/**/
span.ico-branco-carrinho {
  background-position: -120px -552px !important;
}
span.ico-branco-conexao {
  background-position: -144px -552px !important;
}
span.ico-branco-resposta {
  background-position: -168px -552px !important;
}
span.ico-branco-arroba {
  background-position: -192px -552px !important;
}
span.ico-branco-apontar {
  background-position: -216px -552px !important;
}

/* Preto */
span.ico-preto-telefone {
  background-position: 0 -888px !important;
}
span.ico-preto-calculadora {
  background-position: -24px -888px !important;
}
span.ico-preto-calendario {
  background-position: -48px -888px !important;
}
span.ico-preto-contato {
  background-position: -72px -888px !important;
}
span.ico-preto-chat {
  background-position: -96px -888px !important;
}
span.ico-preto-smile {
  background-position: -120px -888px !important;
}
span.ico-preto-perfil {
  background-position: -144px -888px !important;
}
span.ico-preto-gerente {
  background-position: -168px -888px !important;
}
span.ico-preto-excluir {
  background-position: -192px -888px !important;
}
/**/
span.ico-preto-seguranca {
  background-position: 0 -912px !important;
}
span.ico-preto-desbloqueio {
  background-position: -24px -912px !important;
}
span.ico-preto-cartao-seguranca {
  background-position: -48px -912px !important;
}
span.ico-preto-itoken-aplicativo {
  background-position: -72px -912px !important;
}
span.ico-preto-itoken-chaveiro {
  background-position: -96px -912px !important;
}
span.ico-preto-itoken-sms {
  background-position: -120px -912px !important;
}
span.ico-preto-biometria {
  background-position: -144px -912px !important;
}
span.ico-preto-estrela-vazada {
  background-position: -168px -912px !important;
}
/**/
span.ico-preto-agencia {
  background-position: 0 -936px !important;
}
span.ico-preto-agencia-person {
  background-position: -24px -936px !important;
}
span.ico-preto-vida {
  background-position: -48px -936px !important;
}
span.ico-preto-residencia {
  background-position: -72px -936px !important;
}
span.ico-preto-transporte {
  background-position: -96px -936px !important;
}
span.ico-preto-auto {
  background-position: -120px -936px !important;
}
span.ico-preto-viagem {
  background-position: -144px -936px !important;
}
span.ico-preto-patrimonio {
  background-position: -168px -936px !important;
}
span.ico-preto-universitario {
  background-position: -192px -936px !important;
}
span.ico-preto-outros {
  background-position: -216px -936px !important;
}
/**/
span.ico-preto-exclamacao {
  background-position: 0 -960px !important;
}
span.ico-preto-interrogacao {
  background-position: -24px -960px !important;
}
span.ico-preto-estrela {
  background-position: -48px -960px !important;
}
span.ico-preto-download {
  background-position: -72px -960px !important;
}
span.ico-preto-exportar {
  background-position: -96px -960px !important;
}
span.ico-preto-curtir {
  background-position: -120px -960px !important;
}
span.ico-preto-descurtir {
  background-position: -144px -960px !important;
}
span.ico-preto-sifrao {
  background-position: -168px -960px !important;
}
span.ico-preto-alvo {
  background-position: -192px -960px !important;
}
span.ico-preto-reload {
  background-position: -216px -960px !important;
}
/**/
span.ico-preto-check {
  background-position: 0 -984px !important;
}
span.ico-preto-editar {
  background-position: -24px -984px !important;
}
span.ico-preto-info {
  background-position: -48px -984px !important;
}
span.ico-preto-configurar {
  background-position: -72px -984px !important;
}
span.ico-preto-mais {
  background-position: -96px -984px !important;
}
span.ico-preto-menos {
  background-position: -120px -984px !important;
}
span.ico-preto-igual {
  background-position: -144px -984px !important;
}
span.ico-preto-busca {
  background-position: -168px -984px !important;
}
span.ico-preto-lupa {
  background-position: -169px -1010px !important;
}
span.ico-preto-seta {
  background-position: -169px -1034px !important;
}
span.ico-preto-relogio {
  background-position: -192px -984px !important;
}
span.ico-preto-video {
  background-position: -216px -984px !important;
}
/**/
span.ico-preto-assessoria {
  background-position: 0 -1008px !important;
}
span.ico-preto-cambio {
  background-position: -24px -1008px !important;
}
span.ico-preto-coleta {
  background-position: -48px -1008px !important;
}
span.ico-preto-acoes {
  background-position: -72px -1008px !important;
}
span.ico-preto-mercado {
  background-position: -96px -1008px !important;
}
span.ico-preto-investimento {
  background-position: -120px -1008px !important;
}
/**/
span.ico-preto-sair-vermelho {
  background-position: 0 -1032px !important;
}
span.ico-preto-aplicacao {
  background-position: -24px -1032px !important;
}
span.ico-preto-resgate {
  background-position: -48px -1032px !important;
}
span.ico-preto-poupanca {
  background-position: -72px -1032px !important;
}
span.ico-preto-deposito {
  background-position: -96px -1032px !important;
}
span.ico-preto-saque {
  background-position: -120px -1032px !important;
}
/**/
span.ico-preto-celular {
  background-position: 0 -1056px !important;
}
span.ico-preto-celular-pre-pago {
  background-position: -24px -1056px !important;
}
span.ico-preto-celular-autorizacao {
  background-position: -48px -1056px !important;
}
span.ico-preto-credito {
  background-position: -72px -1056px !important;
}
span.ico-preto-debito {
  background-position: -96px -1056px !important;
}
span.ico-preto-filtro {
  background-position: -120px -1056px !important;
}
span.ico-preto-porcentagem {
  background-position: -144px -1056px !important;
}
span.ico-preto-programa-pontos {
  background-position: -168px -1056px !important;
}
span.ico-preto-perfil-investidor {
  background-position: -192px -1056px !important;
}
span.ico-preto-notificacao {
  background-position: -216px -1056px;
}
/**/
span.ico-preto-documentos {
  background-position: 0 -1080px !important;
}
span.ico-preto-excel {
  background-position: -24px -1080px !important;
}
span.ico-preto-word {
  background-position: -48px -1080px !important;
}
span.ico-preto-pdf {
  background-position: -72px -1080px !important;
}
span.ico-preto-fatura {
  background-position: -96px -1080px !important;
}
span.ico-preto-docs {
  background-position: -120px -1080px !important;
}
span.ico-preto-gerenciador {
  background-position: -144px -1080px !important;
}
/**/
span.ico-preto-consorcio {
  background-position: 0 -1104px !important;
}
span.ico-preto-emprestimo {
  background-position: -24px -1104px !important;
}
span.ico-preto-parcelamento {
  background-position: -48px -1104px !important;
}
span.ico-preto-transferencia,
span.ico-preto-transferencias {
  background-position: -72px -1104px !important;
}
span.ico-preto-cartao {
  background-position: -96px -1104px !important;
}
span.ico-preto-cartoes {
  background-position: -120px -1104px !important;
}
span.ico-preto-conta-corrente {
  background-position: -144px -1104px !important;
}
span.ico-preto-previdencia {
  background-position: -168px -1104px !important;
}
/**/
span.ico-preto-codigo-barra,
span.ico-preto-codigo-barras {
  background-position: 0 -1128px !important;
}
span.ico-preto-pagamento,
span.ico-preto-pagamentos {
  background-position: -24px -1128px !important;
}
span.ico-preto-extrato {
  background-position: -48px -1128px !important;
}
span.ico-preto-comprovante,
span.ico-preto-comprovantes {
  background-position: -72px -1128px !important;
}
/**/
span.ico-preto-carrinho {
  background-position: -120px -1128px !important;
}
span.ico-preto-conexao {
  background-position: -144px -1128px !important;
}
span.ico-preto-resposta {
  background-position: -168px -1128px !important;
}
span.ico-preto-arroba {
  background-position: -192px -1128px !important;
}
span.ico-preto-apontar {
  background-position: -216px -1128px !important;
}

/* ICO ALERTAS */
span.ico-alerta-urgente {
  background-position: 0 0 !important;
}
span.ico-alerta-aviso {
  background-position: -24px 0 !important;
}
span.ico-alerta-atencao {
  background-position: -48px 0 !important;
}
span.ico-alerta-aviso2 {
  background-position: -72px 0 !important;
}

/**/
section .seta-link,
section .seta-default {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  display: block;
  background: url("../img/sprite-seta-link.png") 0 0;
}
section h4:hover .seta-link,
section h4:hover .seta-default {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  display: block;
  background: url("../img/sprite-seta-link.png") 0 -14px;
}


/* Ícones adicionais */
.icone-calendario {
  background: url(../img/icones/icon-calendar.png) no-repeat left center;
  display: inline-block;
  height: 21px;
  margin-right: 5px;
  vertical-align: middle;
  width: 21px;
}

.calendario-fixo .icone-calendario {
  background: url(../img/icones/icon-calendar.png) no-repeat left center;
  display: inline-block;
}

.icone-agendamento,
.icone-boleto,
.icone-pago,
.icone-agendamento-p,
.icone-boleto-p,
.icone-pago-p,
.icone-agendamento-pp,
.icone-boleto-pp,
.icone-pago-pp {
  background: url(../img/sprite-legenda-data.png) no-repeat;
  display: inline-block;
  text-indent: -9990px;
  vertical-align: middle;
}

.calendario-fixo .icone-agendamento,
.calendario-fixo .icone-boleto,
.calendario-fixo .icone-pago,
.calendario-fixo .icone-agendamento-p,
.calendario-fixo .icone-boleto-p,
.calendario-fixo .icone-pago-p,
.calendario-fixo .icone-agendamento-pp,
.calendario-fixo .icone-boleto-pp,
.calendario-fixo .icone-pago-pp {
  background: url(../img/sprite-legenda-data.png) no-repeat;
  display: block;
  text-indent: -9990px;
  vertical-align: middle;
  margin: 1px;
}

.icone-agendamento,
.icone-boleto,
.icone-pago {
  height: 16px;
  margin-right: 5px;
  width: 16px;
}
.icone-agendamento {
  background-position: -16px top;
}
.icone-boleto {
  background-position: -32px top;
}
.icone-pago {
  background-position: left top;
}
.icone-agendamento-p,
.icone-boleto-p,
.icone-pago-p {
  height: 12px;
  position: relative;
  width: 12px;
  z-index: 1;
}
.icone-agendamento-p {
  background-position: -12px bottom;
}
.icone-boleto-p {
  background-position: -24px bottom;
}
.icone-pago-p {
  background-position: left bottom;
}
.icone-editar,
.icone-excluir,
.icone-favoritos {
  background: url(../img/sprite-icon-edit.png) no-repeat;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  width: 20px;
  -ms-transition: none;
  transition: none;
}
.icone-editar {
  background-position: left -20px;
}
.icone-excluir {
  background-position: left -40px;
}
.icone-favoritos {
  background-position: left top;
}

.icone-editar:hover,
.icone-editar.ativo {
  background-position: -20px -20px;
}
.icone-excluir:hover,
.icone-excluir.ativo {
  background-position: -20px -40px;
}
.icone-favoritos:hover,
.icone-favoritos.ativo {
  background-position: -20px top;
}
.icone-busca {
  background: url(../img/ico-busca.png) no-repeat;
  display: inline-block;
  height: 17px;
  width: 18px;
}


/* Ícones levels */
.levels {
  width: 29px;
  height: 25px;
  background: url("../img/sprite-levels.png") left top no-repeat;
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: -2px;
}
.level1 {
  background-position: 0 0;
}
.level2 {
  background-position: 0 -25px;
}
.level3 {
  background-position: 0 -50px;
}
.level4 {
  background-position: 0 -75px;
}
.level5 {
  background-position: 0 -100px;
}
.level6 {
  background-position: 0 -125px;
}



/* Config/Perfil */
span.ico-config {
  width: 36px;
  height: 34px;
  background: none;
  display: block;
}
span.ico-config img {
  border: 1px dotted #ee7400;
  border-radius: 4px;
}

section.content-main .ico-configuracoes {
  margin-top: 13px;
  margin-left: 80px;
  margin-left/*\**/: 40px\9;
}
.ico-configuracoes {
  margin-left: 50px;
}
.ico-configuracoes .content-config-helps {
  width: 400px;
  border: 1px solid #d5d5d5;
  z-index: 9888;
  font-size: 12px;
  background: $white;
  color: #373d45;
  margin-left: -33px;
  margin-top: 16px;

  border-radius: 6px;

  box-shadow: 0 2px 8px #888;
}
.ico-configuracoes .content-config {
  position: absolute;
  width: 350px;
  border: 1px solid #d5d5d5;
  z-index: 9888;
  font-size: 12px;
  background: $white;
  color: #373d45;
  margin-left: -33px;
  margin-top: 16px;

  border-radius: 6px;

  box-shadow: 0 2px 8px #888;
}
.ico-configuracoes .content-config a.btn {
  color: $white;
  text-decoration: none;
  margin-left: 0;
}
.ico-configuracoes .seta-msg {
  background: url(../img/seta-msg.png) top left;
  width: 25px;
  height: 15px;
  position: absolute;
  left: 37px;
  top: -14px;
}
.ico-configuracoes .content-config-helps .dados-helps {
  padding: 10px;
}
.ico-configuracoes .content-config .dados {
  padding: 10px 0 10px 10px;
}

.ico-configuracoes .content-config .dados .foto-perfil .moldura {
  border: 1px solid $gray-bright;
}
.ico-configuracoes .content-config .dados .foto-perfil .link {
  text-align: center;
  margin-top: -4px;
}
.ico-configuracoes .content-config .dados .foto-perfil a {
  font-size: 10px;
}
.ico-configuracoes .content-config .dados .dados-perfil {
  margin-left: 20px;
}
.ico-configuracoes .content-config .dados .dados-perfil .nome {
  font-weight: bold;
}
.ico-configuracoes .content-config .dados .dados-perfil .titulo {
  margin-top: 8px;
  font-weight: bold;
}
.ico-configuracoes .content-config .dados .dados-perfil .info {
  margin-top: -4px;
  font-size: 11px;
}
.ico-configuracoes .content-config .login {
  border-top: 1px solid $gray-bright;
  font-size: 9px;
  text-align: right;
  padding: 3px 10px;
}

.icone-editar-no-over {
  background: url(../img/sprite-icon-edit.png) no-repeat;
  display: inline-block;
  background-position: left -20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
  width: 20px;
  -ms-transition: none;
  transition: none;
}

/*icones resultado busca*/
span.shape-telefone {
  background: url("../img/icones/shape-telefone-55x55.png") center center
    no-repeat;
  height: 55px;
  width: 55px;
  float: left;
  margin-right: 10px;
}
span.shape-gerente {
  background: url("../img/icones/shape-gerente-55x55.png") center center
    no-repeat;
  height: 55px;
  width: 55px;
  float: left;
  margin-right: 10px;
}
span.shape-sms-msg-chat {
  background: url("../img/icones/shape-sms-msg-chat-55x55.png") center center
    no-repeat;
  height: 55px;
  width: 55px;
  float: left;
  margin-right: 10px;
}


#icone-fale-especialista {
  width: 55px;
  height: 55px;
}
.icone-investfone-varejo {
  background-image: url("../img/icones/shape-telefone-55x55.png");
}
.icone-liveinvest-uniclass {
  background-image: url("../img/icones/shape-acoes-55x55.png");
}
.icone-liveinvest-personnalite {
  background-image: url("../../home-personnalite/img/dashboard/img/ico-acoes-person.png");
}
.icone-chat-uniclass {
  background-image: url("../img/icones/shape-sms-msg-chat-55x55.png");
}
.icone-chat-personnalite {
  background-image: url("../../home-personnalite/img/dashboard/img/ico-chat-person.png");
}
.icone-investfone-uniclass {
  background-image: url("../img/icones/shape-telefone-55x55.png");
}
.icone-investfone-personnalite {
  background-image: url("../../home-personnalite/img/dashboard/img/ico-telefone-person.png");
}

.icone-nao-encontrado {
  width: 18px;
  height: 22px;
  font-family: Arial;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  color: $primary;
}


/*estrela favoritos */
header span.ico-estrela {
  background-position: -48px -96px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 6px;
}
header span.ico-estrela-vazada {
  background-position: -168px -48px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 6px;
}
