
/* Legenda gráfico */
.tracking-legenda {
    width: 8px;
    height: 26px;
    float: left;
    margin: 0 5px 0 0;
  }
  table.legenda {
    width: 8px;
    height: 18px;
  }
  
  .legenda-laranja {
    background: $primary !important;
  }
  .legenda-branco {
    background: $white !important;
    border: 1px solid #000;
  }
  .legenda-cinza01 {
    background: #6f7068 !important;
  }
  .legenda-cinza02 {
    background: #807e75 !important;
  }
  .legenda-cinza03 {
    background: #8f8d89 !important;
  }
  .legenda-cinza04 {
    background: #a1a097 !important;
  }
  .legenda-cinza05 {
    background: #adada5 !important;
  }
  .legenda-cinza06 {
    background: #c2c1b8 !important;
  }
  .legenda-cinza07 {
    background: #cfcec4 !important;
  }
  .legenda-cinza08 {
    background: #ddded7 !important;
  }
  