/* Módulos - Lightbox */
.modulo-lightbox {
  width: 700px;
  margin: 0px auto;
  position: relative;
}

/* correção aplicada após modificações de acessibilidade no botão fechar*/
button span.mfp-close {
  opacity: 1;
  padding: 0;
}

.modulo-lightbox-banner {
  margin-bottom: 0;
  padding: 0;

  border-radius: 0;
}
.modulo-lightbox-banner .mfp-close {
  display: none;
}
.modulo-lightbox-banner1 {
  height: 388px;
  width: 502px;
}
.modulo-lightbox-banner2 {
  height: 500px;
  width: 800px;
}

.modulo-lightbox fieldset p {
  display: table;
  position: relative;
  overflow: visible;
}

/* Módulos - Lightbox - Primeiro Acesso */
.modulo-lightbox-primeiro-ace {
  width: 500px;
  margin: 0px auto;
  position: relative;
}
.modulo-lightbox-primeiro-ace > button.mfp-close {
}
.modulo-lightbox-primeiro-ace > .mfp-close {
  /*position: relative!important; float: right;*/
}
.modulo-lightbox iframe {
  margin: 5px 0;
  width: 100%;
}
