
/**
  *** ------------------------------------------
  *** LIST
  *** ------------------------------------------
  **/

  .list--unstyled li {
    background: none;
    display: inline-block;
    padding: 0;
  }
  .list.list--button {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .list--btnGroup li {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
  }
  .list--btnGroup li:first-child {
    margin-left: 0;
  }
  .list--btnGroup a {
    display: block;
  }
  .list--btnGroup a:hover {
    text-decoration: none;
  }
  .list--btnGroup .btn:hover {
    color: $white;
  }
  