/* loadings */
.loading {
    background: url("../img/loading.gif") no-repeat;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .wait {
    cursor: wait;
    position: fixed;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.6);
  }
