
/* Css da div de moduloDemaisOpcoes*/

#mais-opcoes .mais-opcoes-titulo,
#form-resultado-investimento .mais-opcoes-titulo {
  margin-top: 24px;
  border: none !important;
}

#mais-opcoes .mais-opcoes-descricao,
#form-resultado-investimento .mais-opcoes-descricao {
  width: 94px;
  height: 28px;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: $gray-dark;
}

#mais-opcoes .mais-opcoes-modulo-imagem {
  width: 55px;
  height: 55px;
}
