
/**
  *** ------------------------------------------
  *** MEDIA (Imagens/Videos)
  *** ------------------------------------------
  **/

  .media {
    margin: 0 0 20px 0;
    display: block;
  }
  .media img {
    margin-right: 15px;
  }
  .media h2 {
    font-size: 16px;
    margin: 0;
  }
  
  /* Conteúdo de mídia - Imagem */
  .media table.resumo tbody tr th {
    text-align: right;
    width: 120px;
  }

  
/**
  *** ------------------------------------------
  *** Módulo Vídeos
  *** ------------------------------------------
  **/

.modulo-videos .video-item {
  margin: 0 0 15px 5px;
  height: 1%;
  display: table;
  border-bottom: 1px solid $gray-bright;
  padding-bottom: 15px;
}
.modulo-videos .video-item div {
  width: 120px;
  margin: 0 0 0 10px;
  float: left;
}

  