
.menu-tab-container {
    width: 100%;
    height: 40px;
    box-shadow: 0 1px 1px 0 rgba(122, 109, 96, 0.24);
    margin: 10px auto !important;
    background-color: $white;
  }
  .menu-tabs-nav ul {
    margin-left: 0 auto !important;
    text-align: justify !important;
    width: 100%;
    height: 14px;
    display: table;
    font-family: ArialMT;
    font-size: 12px;
    color: $gray-dark;
  }
  .menu-tabs-nav li {
    display: inline-block;
    color: $gray-dark;
    cursor: pointer;
    float: left;
    overflow: hidden;
    padding: 12px 14px 13px 14px !important;
    text-decoration: none;
    background-image: none !important;
    background-color: $white;
  }
  .menu-tabs-nav a {
    color: $gray-dark;
    text-decoration: none;
    padding: 13px 5px 13px 10px;
  }
  .menu-tabs-nav a:focus {
    outline: none !important;
  }
  .menu-tabs-nav a:hover {
    text-decoration: none;
    color: $primary;
  }
  .menu-tabs-nav .menu-tabs-nav--active {
    color: $gray-dark;
    cursor: pointer;
    float: left;
    list-style: none;
    overflow: hidden;
    border-bottom: 4px solid $primary;
  }
  .menu-tabs-content {
    clear: both;
    display: none;
    padding: 0px;
  }
  .menu-tabs-content--active {
    display: block;
    padding: 8px auto;
    margin: 0;
  }

  
/* Menus de Contexto */
.menu-contexto h3 {
  color: $primary;
}
.menu-contexto ul {
  margin-bottom: 30px;
}
.menu-contexto div.row {
  margin: 0;
}
.menu-contexto a:hover {
  color: $primary;
}
