/* Módulos - Box */

/* Principal */
.modulo {
  width: 100%;
  *width: 729px;
  background: $white;
  border: 1px solid $gray-bright;
  margin-bottom: 20px;
  padding: 15px 30px 0 30px;
  border-radius: 6px;
}

.modulo.fechado h2 {
  border-bottom: none;
  padding-bottom: 0;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.fechado.modulo-hover:hover {
  border: 1px solid $primary;
}

/* Sidebar */
.modulo-sidebar {
  width: 100%;
  *width: 231px;
  padding: 12px 10px 20px 10px;
}

.modulo-sidebar ul,
.modulo-sidebar ul.bullet {
  padding: 0;
  margin: 0 !important;
}
.modulo-sidebar ul li {
  background: url("../img/bullet-default.png") left 5px no-repeat;
  padding-left: 10px;
  list-style: none;
  margin-bottom: 4px;
}
.modulo-sidebar ul li.home {
  margin-top: 15px;
}
.modulo-sidebar ul.no-bullet {
  margin-left: -10px !important;
}
.modulo-sidebar ul.no-bullet li {
  background: none !important;
}
.modulo-sidebar ul li ul {
  margin-left: 25px;
}
.modulo-sidebar ul li ul li {
  margin: 3px 0;
  list-style-type: disc;
}

.modulo-sidebar h2 {
  color: $gray-dark;
  margin: 0 -10px 20px -10px;
  padding: 0 0 12px 12px;
  border-bottom: 1px solid $gray-bright;
}
.modulo-sidebar h2.link {
  color: $gray-dark;
  margin: 0 -10px;
  padding: 0 0 0 12px;
  border-bottom: none;
}
.modulo-sidebar h3 {
  color: $gray-dark;
  margin: 0 -10px 20px -10px;
  padding: 0 0 12px 12px;
  border-bottom: 1px solid $gray-bright;
}
.modulo-sidebar h3.link {
  color: $gray-dark;
  margin: 0 -10px;
  padding: 0 0 0 12px;
  border-bottom: none;
}
.modulo-sidebar h4 {
  color: $gray-dark;
  margin: 0 -10px 20px -10px;
  padding: 0 0 12px 12px;
  border-bottom: 1px solid $gray-bright;
}
.modulo-sidebar h4.link {
  color: $gray-dark;
  margin: 0 -10px;
  padding: 0 0 0 12px;
  border-bottom: none;
}

.modulo-sidebar a {
  color: $gray-dark;
  text-decoration: underline;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.modulo-sidebar a:hover {
  color: $primary;
}
.modulo-sidebar a.btn:hover {
  color: $white;
}

.modulo-sidebar table th,
.modulo-sidebar table td {
  padding: 7px 2px;
}

.modulo-sidebar p:not(#foo) > input + label:before {
  margin: 0 2px 0 -10px;
}

.modulo-sidebar.link {
  padding: 12px 10px 10px 10px;
}
a.link-sidebar {
  text-decoration: none !important;
}

/* Link destaque */
.modulo-sidebar.link-destaque {
  padding: 12px 10px 10px 10px;
  background-color: $primary;
}
.modulo-sidebar.link-destaque h4.link {
  color: $white;
  margin: 0 -10px;
  padding: 0 0 0 12px;
  border-bottom: none;
}

.modulo-sidebar.fechado {
  padding: 12px 10px 0 10px;
}
.modulo-sidebar.fechado h4 {
  border-bottom: none;
  margin: 0 -10px;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* .col9 - vitrine dentro de módulos */
/* vitrine 2 box */
div.col9 .modulo .vitrine ul.box-vitrine.box2 li,
div.col9 .modulo .vitrine ul.box-vitrine.box2 li .box {
  width: 324px !important;
}
/* vitrine 3 box */
div.col9 .modulo .vitrine ul.box3 li:first-child {
  margin-left: 0;
}
div.col9 .modulo .vitrine ul.box3 li {
  margin-left: 108px;
}
/* vitrine 4 box */
div.col9 .modulo .vitrine ul.box4 li:first-child {
  margin-left: 0;
}
div.col9 .modulo .vitrine ul.box4 li {
  margin-left: 22px;
}


/* Módulos Abre-Fecha Homes */
.modulo h2 {
  border-bottom: 1px solid $gray-bright;
  padding-bottom: 10px;
}
.modulo h2 span {
  font-size: 12px;
  font-weight: normal;
}
.modulo.aberto > h2:hover,
.modulo.fechado > h2:hover,
h2.flex-home:hover {
  cursor: pointer;
}

div.modulo h2.flex-home span {
  margin-top: 3px;
}
div.modulo h2.flex-home:hover span {
  color: $primary;
}


/* Módulo info ativo */
.modulo .box-info.ativo,
.modulo .grid-col2.ativo,
.modulo .grid-col3.ativo {
  color: #ef4704;
}

/**
  *** ------------------------------------------
  *** Modulos
  *** ------------------------------------------
  **/

.module {
  background-color: $white;
  margin-bottom: 20px;
  padding: 15px 30px 20px;
  width: 100%;

  border-radius: 6px;
}
.module--bordered {
  border: 1px solid $gray-bright;
}
.module--sidebar {
  padding: 0;
}
