
/* Css da div de modulo-perfil-investidor */
#modulo-perfil-investidor .resultado-investidor,
#form-resultado-investimento .resultado-investidor {
  overflow: hidden;
}

#varejo #form-resultado-investimento .resultado-investidor {
  border-bottom: 0px;
}

#modulo-perfil-investidor {
  border-bottom-width: 0px;
}

.resultado-investidor .perfil-investidor {
  width: 978px;
  height: 202px;
  object-fit: contain;
  border-radius: 5px;
}

.resultado-investidor .perfil-invalido {
  width: 978px;
  height: 188px !important;
  object-fit: contain;
  border-radius: 5px;
}

#modulo-perfil-investidor .perfil-investidor .perfil-titulo,
#form-resultado-investimento .perfil-investidor .perfil-titulo {
  margin-top: -6px;
  float: left;
  width: 30%;
}

#perfil-titulo-seta {
  margin-top: -3px;
}

.btn:hover {
  cursor: pointer;
}

.primeira-seta {
  margin: 3px 0px 0px 0px !important;
}

.ultima-seta {
  margin: 3px 0px 0px -66px !important;
}

#modulo-perfil-investidor .perfil-investidor .perfil-descricao,
#form-resultado-investimento .perfil-investidor .perfil-descricao {
  width: 663px;
  object-fit: contain;
  border-radius: 5px;
  float: right;
  height: 100%;
}

#form-resultado-investimento #modulo-perfil-investidor {
  height: 203px;
}

#modulo-perfil-investidor .perfil-titulo .perfil-titulo-resultado,
#form-resultado-investimento .perfil-titulo .perfil-titulo-resultado {
  font-family: Arial;
  font-size: 28px;
  color: $white;
  font-weight: bold;
  margin-left: 40px;
}

#modulo-perfil-investidor .perfil-titulo .perfil-titulo-descricao,
#form-resultado-investimento .perfil-titulo .perfil-titulo-descricao {
  width: 262px;
  font-size: 24px;
  line-height: 25px;
  color: $white;
  float: left;
  margin: 50px 0px 10px 40px;
}

#modulo-perfil-investidor .perfil-titulo-seta-down,
#form-resultado-investimento .perfil-titulo-seta-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: -12px 0px 0px 26px;
}

#modulo-perfil-investidor .perfil-titulo-seta-up,
#form-resultado-investimento .perfil-titulo-seta-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 10px 0px 0px 26px;
  float: left;
}

#modulo-perfil-investidor .perfil-descricao .perfil-descricao-texto,
#form-resultado-investimento .perfil-descricao .perfil-descricao-texto {
  width: 583px;
  margin: 52px 0px 28px 40px;
  color: $white;
  line-height: 18px;
}

#modulo-perfil-investidor .perfil-titulo-seta-selecionada,
#form-resultado-investimento .perfil-titulo-seta-selecionada {
  width: 55px;
  background-color: $white;
  height: 4px;
  float: left;
  margin: 40px 0px 0px 0px;
  border-radius: 10px;
}

#modulo-perfil-investidor .perfil-titulo-seta-normal,
#form-resultado-investimento .perfil-titulo-seta-normal {
  width: 30px;
  background-color: $white;
  height: 4px;
  float: left;
  margin: 40px 0px 0px 0px;
  opacity: 0.5;
  border-radius: 8px;
}

#modulo-perfil-investidor .botao-fundo-branco {
  box-shadow: none !important;

  background-color: $white !important;
}

#modulo-perfil-investidor .botao-fundo-branco:hover {
  color: #ee7400 !important;
}

#modulo-perfil-investidor .botao-atualizar-perfil-com-status {
  box-shadow: none !important;
}

#modulo-perfil-investidor .perfil-descricao-carteira-igual,
#form-resultado-investimento .perfil-descricao-carteira-igual {
  font-size: 11px;
  color: $white;
  width: 150px;
  float: left;
  margin: 3px 0px 0px -33px;
}

#modulo-perfil-investidor .perfil-descricao-carteira-diferente,
#form-resultado-investimento .perfil-descricao-carteira-diferente {
  color: $white;
  margin: 3px 0px 0px -3px;
}

.perfil-titulo-seta-up,
.perfil-titulo-seta-down {
  border: solid $white;
  border-width: 0px 1px 1px 0px;
  padding: 3px;
}

#modulo-perfil-investidor .perfil-investidor .espaco-botao-perfil {
  margin-left: 13px;
}

.layout-conservador {
  background-image: url("../img/perfil_amarelo_modulo_perfil.png");
}

.layout-moderado {
  background-image: url("../img/perfil_verde_modulo_perfil.png");
}

.layout-arrojado {
  background-image: url("../img/perfil_rosa_modulo_perfil.png");
}

.layout-agressivo {
  background-image: url("../img/perfil_azul_modulo_perfil.png");
}


.layout-uniclass {
  background-image: url("../img/moduloMeuPerfilUniclass.png");
}

.layout-varejo {
  background-image: url("../img/moduloMeuPerfilVarejo.png");
}


.resultado-investidor {
    width: 980px;
  }
  
  .todos-perfis {
    width: 980px;
    height: 246px;
    object-fit: contain;
    border-radius: 5px;
    margin-left: 0.5px;
  }


/* Ícones Perfil Investidor */
.perfil-investidor {
  margin: 0 10px;
}
.perfil-investidor,
.perfil-investidor-a {
  background: url("../img/sprite-perfil.png") left top no-repeat;
  display: inline-block;
  height: 30px;
  width: 40px;
}
.perfil-investidor-b {
  background-position: 0 -30px;
}
.perfil-investidor-c {
  background-position: 0 -60px;
}

