
/*CSS da div de modulo-data*/

#modulo-data .layout-div-icone {
    margin-left: 15px;
  }
  
  #modulo-data .layout-icone {
    margin-top: 9px !important;
    margin-right: 24px !important;
  }
  
  #modulo-data .layout-seu-perfil {
    margin-top: 16px !important;
  }
  
  #modulo-data .fonte-texto-dias-para-vencer {
    font-size: 12px !important;
  }
  
  #modulo-data .layout-botao-atualizar-perfil {
    margin-top: 34px !important;
    width: 12%;
  }
  
  .layout-cor-modulo-data {
    border: 1px solid $gray-bright;
  }
  