
/* Box de Atendimento */
/* lista das abas */
.modulo-atendimento ul li {
    background-image: none;
    background-color: $gray-lightest;
    border: 1px solid #d2d2d2;
    color: $gray-dark;
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding-left: 0;
    text-transform: lowercase;
    width: 50%;
  }
  
  .modulo-atendimento ul li:first-child {
    border-radius: 6px 0 0 6px;
  }
  .modulo-atendimento ul li:last-child {
    border-radius: 0 6px 6px 0;
  }
  
  .modulo-atendimento ul li a {
    padding: 6px 6px 6px 16px;
    display: block;
    text-decoration: none;
  }
  
  /* Estilos aba ativa */
  .modulo-atendimento .tabs-nav--active {
    background-color: $primary;
    border: 1px solid $primary;
  }
  .modulo-atendimento .tabs-nav--active a {
    color: $white;
  }
  
  /* Conteúdo das abas */
  .modulo-atendimento .classe-do-conteudo {
    display: none;
    margin: 20px 0;
    width: 100%;
  }
  
  /* Estilos conteúdo ativo */
  .modulo-atendimento .tabs-content--active {
    border: none;
    display: block;
  }
  