
/* Modulo Orientadoe de Credito */
.orientador {
    margin: 0;
    background: url("../img/sprite-info.png") left top no-repeat;
    display: block;
    height: 24px;
    width: 24px;
  }
  .orientador:hover,
  .ativo-orientador {
    background-position: -24px 0;
  }
  .orientador p:hover,
  .ativo-orientador {
    background: url("../img/sprite-info.png") left top no-repeat;
    background-position: -24px 0;
  }
  
  a.ativo-txt {
    color: $primary;
  }
  