
  /**
  *** ------------------------------------------
  *** Paginação
  *** ------------------------------------------
  **/
  
  ul.paginacao { display: inline-block; *display: inline; margin: 20px 0; padding-left: 0;
  
     
    border-radius: 4px;

}
ul.paginacao > li { display: inline; text-transform: lowercase; background: none; padding-left: 0; }
ul.paginacao > li > a,
ul.paginacao > li > span { float: left; padding: 2px 10px; line-height: 20px; text-decoration: none; background-color: $white; border: 1px solid #dddddd; border-left-width: 0; font-size: 11px; }

ul.paginacao > li > a:hover { background-color: $gray-light; color: $primary; cursor: pointer; }
ul.paginacao > li.ativo > a,
ul.paginacao > li.ativo > span { background-color: $gray-light; color: $primary; cursor: default; }

ul.paginacao > li.desabilitado > span,
ul.paginacao > li.desabilitado > a,
ul.paginacao > li.desabilitado > a:hover { color: #d1d1d1; cursor: default; background-color: transparent; }

ul.paginacao > li:first-child > a,
ul.paginacao > li:first-child > span { border-left-width: 1px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;



}

ul.paginacao > li:last-child > a,
ul.paginacao > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;



}


/**
  *** ------------------------------------------------------------------------------------
  *** jQuery simple pagination
  *** ------------------------------------------------------------------------------------
  **/

  .my-navigation {
    text-transform: lowercase;
  }
  .my-navigation a {
    float: left;
    padding: 2px 10px;
    line-height: 20px;
    text-decoration: none;
    background-color: $white;
    border: 1px solid #dddddd;
    border-left-width: 0;
    font-size: 11px;
  }
  .my-navigation a:hover {
    background-color: $gray-light;
  }
  .simple-pagination-first,
  .simple-pagination-previous,
  .simple-pagination-page-numbers,
  .simple-pagination-next,
  .simple-pagination-last {
    float: left;
  }
  .simple-pagination-first a.simple-pagination-navigation-disabled,
  .simple-pagination-last a.simple-pagination-navigation-disabled,
  .simple-pagination-previous a.simple-pagination-navigation-disabled,
  .simple-pagination-next a.simple-pagination-navigation-disabled,
  .simple-pagination-first a.simple-pagination-navigation-disabled:hover,
  .simple-pagination-last a.simple-pagination-navigation-disabled:hover,
  .simple-pagination-previous a.simple-pagination-navigation-disabled:hover,
  .simple-pagination-next a.simple-pagination-navigation-disabled:hover {
    background-color: transparent;
    color: #d1d1d1;
    cursor: default;
  }
  .simple-pagination-page-numbers a.simple-pagination-navigation-disabled {
    background-color: $gray-light;
    color: $primary;
    cursor: default;
  }
  .simple-pagination-first a {
    border-left-width: 1px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  
  .simple-pagination-last a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  