
/**
  *** ------------------------------------------------------------------------------------
  *** Pikaday
  *** ------------------------------------------------------------------------------------
  **/
  .pika-single {
    z-index: 9998;
    display: block;
    position: relative;
    color: #333;
    background: $white;
    border: 1px solid #ccc; /*border-bottom-color: #bbb;*/
    font-family: Arial, sans-serif;
  }
  .pika-single:before,
  .pika-single:after {
    content: " ";
    display: table;
  }
  .pika-single:after {
    clear: both;
  }
  .pika-single {
    *zoom: 1;
  }
  .pika-single.is-hidden {
    display: none;
  }
  .pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  }
  .pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
  }
  .pika-title {
    position: relative;
    text-align: center;
  }
  .pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: $white;
  }
  
  .pika-label-mes {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin-top: 5px;
    padding: 0px 3px 0px 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: $white;
    color: #000;
  }
  .pika-label-ano {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin-top: 5px;
    padding: 0px 10px 0px 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: $white;
    color: #000;
  }
  .pika-label-mes.selecionado,
  .pika-label-ano.selecionado {
    background-color: $primary;
    color: $white;
  }
  
  .pika-label-mes.selecionado,
  .pika-label-ano.selecionado {
    background-color: $primary;
    color: $white;
  }
  .pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    /*filter: alpha(opacity=0);*/ /* opacity: 0;*/
    border: none;
    color: $white;
    background-color: $primary;
  }
  .pika-prev,
  .pika-next {
    display: block;
    cursor: pointer;
    position: relative; /*outline: none;*/
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: 0.5;
    *position: absolute;
    *top: 0;
  }
  .pika-prev:hover,
  .pika-next:hover {
    opacity: 1;
  }
  .pika-prev,
  .is-rtl .pika-next {
    float: left;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
    *left: 0;
  }
  .pika-next,
  .is-rtl .pika-prev {
    float: right;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
    *right: 0;
  }
  .pika-prev.is-disabled,
  .pika-next.is-disabled {
    cursor: default;
    opacity: 0.2;
  }
  .pika-select {
    display: inline-block;
    *display: inline;
  }
  .pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
  }
  .pika-table th,
  .pika-table td {
    width: 14.285714285714286%;
    padding: 0 !important;
    border-left: none;
  }
  .pika-table th {
    color: $gray-warm;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    border-left: none;
  }
  .pika-button {
    cursor: pointer;
    display: block; /*outline: none;*/
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: #f5f5f5;
    color: $gray-dark;
    /*font-weight: bold;*/
    text-decoration: none !important;
  }
  
  .is-selected .pika-button {
    color: $white;
    font-weight: bold;
    background: $primary;
    box-shadow: inset 0 1px 3px $primary;
    border-radius: 3px;
  }
  .is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: $gray-warm;
    opacity: 0.3;
  }
  .pika-button:hover {
    /*color: $gray-dark !important;*/
    background: $gray-bright !important;
    box-shadow: none !important;
    border-radius: 3px !important;
  }
  
  .calendario-fixo .pika-button {
    background: $gray-light;
    border-radius: 3px;
  }
  
  .calendario-fixo .is-selected .pika-button,
  .calendario-fixo .is-selected .pika-button:hover {
    color: $white;
    font-weight: bold;
    background: $primary !important;
    /*box-shadow: inset 0 1px 3px #c9c9c9; */
    border-radius: 3px;
  }
  
  .calendario-rectangle {
    position: relative;
    top: 5px;
    width: 14px;
    height: 2px;
    background: #868686;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .calendario-rectangle-big {
    float: left;
    position: relative;
    top: 7px;
    left: 16px;
    width: 18px;
    height: 3px;
    background: #868686;
    margin-right: 31px;
    margin-bottom: 15px;
  }
  
  .calendario-flag-red {
    float: left;
    position: relative;
    top: 10px;
    left: 0px;
    line-height: 0; /* correção para IE (arg!) */
    width: 0;
    height: 0;
    border: 4px solid;
    border-color: rgba(239, 239, 239, 0) rgba(239, 239, 239, 0) #e90909 #e90909;
  }
  
  .calendario-flag-red-big {
    margin-right: 33px;
    float: left;
    position: relative;
    bottom: 3px;
    left: 14px;
    line-height: 0;
    width: 0;
    height: 0;
    border: 8px solid;
    border-color: rgba(239, 239, 239, 0) rgba(239, 239, 239, 0) #e90909 #e90909;
  }
  
  .pika-single-baixo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    top: -1px;
    position: relative;
    background: $white;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
  }
  
  .pika-table th p {
    margin-top: 5px;
    margin-bottom: 13px !important;
  }
  
  .pika-table abbr {
    text-decoration: none !important;
    border-bottom: none !important;
  }
  
  td.is-today a div.circulo-is-today {
    position: relative;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    background-color: #828282;
    float: right;
    top: 5px;
    right: 6px;
  }
  
  .calendario-fixo td.is-today .pika-button span {
    left: 3px;
  }
  
  .calendario-fixo .pika-button span {
    position: relative;
    top: 10px;
  }
  
  .legenda-calendario-pj {
    margin: 72px 15px 36px 15px !important;
  }
