/**
  *** ------------------------------------------
  *** Prateleira
  *** ------------------------------------------
  **/

.prateleira {
  width: 100%;
  text-align: left;
  margin: 0 0 20px 0;
}
.prateleira ul.box-prateleira {
  position: relative;
  height: auto;
  overflow: hidden;
  display: block;
  margin: 20px 0 0 -40px;
}
.prateleira ul.box-prateleira li {
  height: auto;
  width: 25%;
  float: left;
  list-style: none;
  background: none;
  padding-left: 0;
  padding-bottom: 30px;
}

/*Box de Ofertas*/
.prateleira .prateleiraImagem1 li,
.prateleira .prateleiraIcone1 li {
  width: 100% !important;
}
.prateleira .prateleiraImagem2 li,
.prateleira .prateleiraIcone2 li {
  width: 50% !important;
}
.prateleira .prateleiraImagem3 li,
.prateleira .prateleiraIcone3 li {
  width: 33.33% !important;
}
.prateleira .prateleiraImagem4 li,
.prateleira .prateleiraIcone4 li {
  width: 25% !important;
}

.prateleira .prateleiraIcone1 li .btn {
  width: 20% !important;
}
.prateleira .prateleiraIcone2 li .btn {
  width: 35% !important;
}
.prateleira .prateleiraIcone3 li .btn {
  width: 50% !important;
}
.prateleira .prateleiraIcone4 li .btn {
  width: 70% !important;
}

.prateleira .prateleiraImagem1 li .btn {
  width: 20% !important;
}
.prateleira .prateleiraImagem2 li .btn {
  width: 50% !important;
}
.prateleira .prateleiraImagem3 li .btn {
  width: 70% !important;
}
.prateleira .prateleiraImagem4 li .btn {
  width: 85% !important;
}

.prateleira ul.box-prateleira li .texto-prateleira a {
  text-decoration: underline;
  width: 70%;
}
.prateleira ul.box-prateleira li .texto-prateleira a:hover {
  color: $primary;
}
.prateleira ul.box-prateleira li .box img {
}
.prateleira ul.box-prateleira li .box h3 {
  margin-top: 16px;
}
.prateleira ul.box-prateleira li .box p {
  font-size: 12px;
  line-height: 14px;
  margin-top: 8px;
}
.prateleira ul.box-prateleira li .box a:hover.btn {
  color: $white;
  text-decoration: none;
}
.prateleira ul.box-prateleira li .box span {
  width: 90%;
  display: block;
}
