
/**
  *** ------------------------------------------
  *** prettyItau
  *** ------------------------------------------
  **/

  .wrapPretty {
    background: $gray-light;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 5px 40px;
    margin: 20px 0;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
  }
  .wrapPretty ul li,
  .wrapPretty ol li {
    height: 15px;
  }
  .prettyprint {
    background: $gray-light;
    border: none;
    position: relative;
  }
  .prettyprint .tag {
    color: #006699;
    font-weight: bold;
  }
  
  .prettyprint ol.linenums > li {
    list-style-type: decimal;
  }
  li.L1,
  li.L3,
  li.L5,
  li.L7,
  li.L9 {
    background: $gray-light;
  }
  
  .prettyprint li > :first-child {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: $primary;
    padding-left: 10px;
  }
  