/**
  *** ------------------------------------------
  *** CSS print
  *** ------------------------------------------
  **/

.body-print {
  background: transparent !important;
  box-shadow: none !important;
  color: #000 !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}
.body-print a {
  color: #000 !important;
}
.header-print {
  border-bottom: 2px solid gray;
  display: block;
  padding-bottom: 4px;
  padding-top: 40px;
}
.header-print:after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}
.header-print div.col6 {
  margin-left: 0;
  width: 50%;
}
.logo-right {
  text-align: right;
}
.logo-right img {
  display: inline-block;
}
.content-print {
  padding: 30px 0 5px;
}
.content-print .box-info-comprovante,
.content-print .box-info-alerta {
  border: 1px solid $gray-bright;
  padding: 10px;
}
.footer-print {
  border-top: 2px solid gray;
  display: block;
  padding-bottom: 40px;
  padding-top: 8px;
}
.print {
  display: none !important;
}
.no-print {
  display: block !important;
}

@media print {
  /* reset */
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  body {
    line-height: 1.4em;
    margin: 0;
    padding: 20px;
  }
  @page {
    margin: 0.5cm;
  }
  img {
    max-width: 100% !important;
  }
  q:after {
    content: " (" attr(cite) ")";
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a:link:after,
  a:visited:after {
    content: " (" attr(href) ") ";
  }
  .ir a:after,
  a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  p a {
    word-wrap: break-word;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  pre,
  blockquote {
    border: 1px solid $gray-warm;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  table,
  tr,
  img,
  .quebra-pagina-impressao {
    page-break-inside: avoid;
  }

  /* ocultar elementos */
  header,
  footer,
  video,
  audio,
  object,
  embed,
  iframe,
  section.alerta,
  ul.breadcrumb,
  ul.fluxo,
  .modulo-sidebar,
  .dataTables_paginate,
  ul.paginacao,
  .btn,
  .btns-actions,
  .modulo-autenticacao,
  .tracking,
  .tooltip-info {
    display: none;
  }

  /* ajuste de elementos */
  section.container {
    width: 100%;
  }
  div.col8,
  div.col9 {
    width: 100%;
  }
  .box-info-comprovante,
  .box-info-alerta,
  div.abas .aba.ativo,
  div.abas .content.ativo {
    border-color: #000;
  }
  div.abas .aba.ativo {
    border-bottom-color: $white;
  }
  .box-info-comprovante,
  .box-info-alerta {
    padding: 10px 20px;
  }
  .box-info-destaque {
    padding: 0;
  }
  .footer-print {
    padding-bottom: 0;
  }
  .header-print {
    padding-top: 0;
  }
  .modulo {
    border: none;
    margin-bottom: 0;
    padding: 0;
  }
  .print {
    display: block !important;
  }
  .no-print {
    display: none !important;
  }
}
