/**
  *** ------------------------------------------
  *** Barra de Progresso
  *** ------------------------------------------
  **/

ul.progress span.limite-utilizado {
  position: absolute;
  margin-top: 7px;
  margin-left: 8px;
}
ul.progress span.limite-total {
  position: absolute;
  margin-top: 7px;
  text-align: right;
  padding-right: 6px;
}
ul.progress .largura-interna-principal {
  width: 688px;
}

ul.progress {
  width: 100%;
  margin: 5px 0 20px 0;
  padding: 0;
}
ul.progress li {
  display: inline-block;
  *display: inline;
  width: 100%; /*text-align: center;*/
  vertical-align: bottom;
  font-size: 11px;
  text-transform: lowercase;
  margin: 0;
  background: none;
  padding-left: 0;
}
div.progress {
  height: 35px;
  margin: 0;
  padding: 4px;
  background: $gray-light;
}
div.progress-bar {
  width: 0;
  height: 100%;
  background-color: #d1d1d1;
  float: left; /*min-width: 100px;*/
  color: $gray-dark;
  font-weight: bold;
  font-size: 12px;
  text-transform: none;
}
div.progress-bar.sem-limite {
  background-color: $primary;
  color: $white;
}

.progress-listras {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
}
