
/****/

.recomendacao {
    width: 980px;
    height: 182px;
  }
  .recomendacao-imagem {
    width: 314px;
    height: 180px;
    float: left;
    background-image: url("../img/tempora-ria-mo-dulo-simulac-a-o.png");
  }
  .recomendacao-descricao {
    margin: 32px 0 0 346px;
  }
  .recomendacao-descricao h2 {
    border: none;
    margin: 0px;
  }
  .input-text-modulo-recomendacao {
    position: relative;
    background-color: $white;
    display: inline;
  }
  .input-text-modulo-recomendacao:before {
    content: "R$";
    position: inherit;
    top: 27px;
    left: -120px !important;
    z-index: 1;
    font-size: 12px;
    color: $gray-dark;
    display: inline-block;
  }
  .div-botao-recomendacao {
    margin: 27px 0 0 29px;
  }
  #valor-aplicar-fundos {
    padding: 5px 5px 5px 25px;
  }
  #titulo-modulo-recomendacoes {
    font-size: 18px;
  }
  .div-recomendacao-formulario {
    margin-top: 28px;
  }
  .tooltip-recomendacao {
    width: 300px;
    left: -131px !important;
    top: 0px !important;
  }
  .margem-baixo4 {
    margin-bottom: 4px !important;
  }
  #div-recomendacao-campos .custom-select:after {
    top: 17px !important;
  }
  .box-info-erro-tamanho {
    width: 583px;
  }
  #botao-gerar-recomendacao:hover {
    cursor: pointer;
  }
  .texto-valor-aplicar {
    background-color: $white;
  }
  
  /** ------------------------------------------ **/
  