
/**
  *** ------------------------------------------
  *** Box seleção nome do titular
  *** ------------------------------------------
  **/

  .selecao-nome-titular {
    padding: 20px 0 0;
    margin: 0 auto;
    width: 570px;
  }
  .selecao-nome-titular li {
    background-image: none;
    display: inline-block;
    padding-left: 0;
  }
  .selecao-nome-titular li a.btn {
    display: inline-block;
    text-transform: uppercase;
    min-width: 90px;
  }
  .selecao-nome-titular li a.btn:hover {
    color: $white;
    text-decoration: none;
  }
  