
/* Botão Link Destaque Sidebar */
.link-destaque span.ico {
    background: url("../img/sprite-icon-peq.png") 0 -456px no-repeat;
    display: block;
    float: left;
    margin-right: 7px;
    margin-top: -4px;
}

.link-destaque h4.link .seta-link,
  .link-destaque h4.link .seta-default {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    display: block;
    background: url("../img/sprite-seta-link.png") 0 -42px;
  }
  .link-destaque h4.link:hover .seta-link,
  .link-destaque h4.link:hover .seta-default {
    background-position: 0 0;
  }
  
  /* Banner Sidebar */
  .sidebar-banner {
    margin: 0 0 20px 0;
  }
  
  /* Módulos - Login */
  .modulo-login {
    background: #f2f2f2;
  
    border-radius: 6px;
  }
  
  .modulo-login .dados {
    float: left;
    width: 310px;
  }
  .modulo-login .dados > .margem-top {
    margin-top: 85px !important;
  }
  .modulo-login .teclado {
    float: right;
    width: 265px;
    margin-right: -10px;
  }
  
  /* Módulos Abre-Fecha Sidebar */
  
  .modulo-sidebar h4 span {
    font-size: 12px;
    font-weight: normal;
  }
  .modulo-sidebar.aberto > h4:hover,
  .modulo-sidebar.fechado > h4:hover {
    cursor: pointer;
  }
  
  div.modulo-sidebar.aberto .abre-fecha {
    width: 14px;
    height: 10px;
    margin-top: 3px;
    margin-right: 10px;
    display: block;
    background: url("../img/sprite-seta.png") 0 0;
  }
  div.modulo-sidebar.fechado .abre-fecha {
    width: 14px;
    height: 10px;
    margin-top: 3px;
    margin-right: 10px;
    display: block;
    background: url("../img/sprite-seta.png") 0 -10px;
  }
  div.modulo-sidebar h4:hover > .abre-fecha {
    background-position: -14px 0;
    cursor: pointer;
  }
  div.modulo-sidebar.aberto h4:hover > .abre-fecha {
    background-position: -14px 0;
    cursor: pointer;
  }
  div.modulo-sidebar.fechado h4:hover > .abre-fecha {
    background-position: -14px -10px;
    cursor: pointer;
  }
  div.modulo-sidebar.aberto > h4:hover,
  div.modulo-sidebar.fechado > h4:hover {
    cursor: pointer;
  }
  

.modulo-sidebar .btn {
  min-width: 84px;
}
