
/* Módulos - Simulador */
.simulador .titulo {
    background: #e8e8e8;
    margin-top: -15px;
    margin-left: -30px;
    padding: 20px;
    font-weight: bold;
    float: left;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .simulador .conteudo {
    margin-left: 20px;
    float: left;
  }
  .simulador .botao {
    margin-left: 20px;
    float: right;
  }
  
  .sim-altura-p {
    height: 90px;
  }
  .sim-altura-m {
    height: 110px;
  }
  .sim-altura-g {
    height: 130px;
  }
  

/* Simulador 2 etapas */
.box-simulador-etapas2 {
  width: 320px;
  *width: 298px;
  min-height: 262px;
  padding: 10px;
  float: right;
  border: 1px solid $primary;

  border-radius: 6px;
  *behavior: url("../css/pie.htc");
}
.box-simulador-etapas2:first-child {
  float: left;
}
.box-simulador-etapas2 section {
  margin: 0 0 0 0;
}
.box-simulador-etapas2.desabilitado {
  background: $gray-light;
  border: 1px solid #ccc;
}

.box-simulador-etapas2 table.resumo tbody tr {
  background: none;
}
.box-simulador-etapas2 table.resumo tbody tr th {
  text-align: right;
  width: 110px;
}

.box-simulador-etapas2 fieldset .txt-form {
  padding-top: 10px;
  margin-left: -8px;
  margin-right: 8px;
}


/* Simulador */
.box-simulador-title {
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  width: 25%;
  height: 109px;
  float: left;
  margin-bottom: 20px;
  background-color: $white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.box-simulador-title h3 {
  margin: 35px 0 0 45px;
}

.box-simulador-arrow {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  width: 5%;
  height: 109px;
  float: left;
  margin-bottom: 20px;
  background: $gray-light no-repeat url("../img/seta-simuladores.png");
}

.box-simulador-content {
  background-color: $gray-light;
  border-top: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  width: 70%;
  height: 109px;
  float: left;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
