/* Status (modelo: Imobline) */
.status {
  width: 15px;
  height: 15px;
  background: url("../img/sprite-bullet-status.png") 0 0 no-repeat;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: -2px;
}
.status-concluido {
  background-position: 0 -30px;
}
.status-andamento {
  background-position: 0 -15px;
}
.status-nao-iniciado {
  background-position: 0 0px;
}
