/* Fluxos - OLD */
ul.fluxo {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
ul.fluxo li {
  min-width: 80px;
  *height: 20px;
  margin: 0 7px 0 0;
  background: $white;
  border: 1px solid $gray-bright;
  font-size: 12px;
  font-weight: bold;
  text-transform: lowercase;
  list-style: none;
  display: inline-block;
  *display: inline;
  padding: 6px 17px;
  border-radius: 2px;
}
ul.fluxo li:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
ul.fluxo li:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

ul.fluxo li.ativo {
  border-color: $primary;
  color: $primary;
}
ul.fluxo li.seguro {
  background: url("../img/icon-lock-fluxo-black.png") right 5px no-repeat $white;
  padding-right: 30px;
}
ul.fluxo li.seguro.ativo {
  background: url("../img/icon-lock-fluxo.png") right 5px no-repeat $white;
}
ul.fluxo a:hover {
  text-decoration: none;
}
ul.fluxo .ativo a {
  color: $primary;
}

/* Fluxos */
div.steps {
  margin-bottom: 20px;
}
ul.passos {
  margin-bottom: 5px;
}
ul.passos li {
  display: inline-block;
  background: none;
  padding-left: 0;
  margin-bottom: 0;
}
ul.passos .passo {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #c2c1c1;
  margin-left: 110px;
}
ul.passos .passo:first-child {
  margin-left: 0;
}
ul.passos .linha {
  width: 115px;
  position: absolute;
  margin-left: -4px;
}
ul.passos .linha div.linha-andamento {
  height: 2px;
  background-color: #c2c1c1;
  margin-top: 15px;
  position: relative;
}
ul.passos .passo.ativo,
ul.passos .linha.ativo div.linha-andamento {
  background-color: $primary;
}
span.passos-texto {
  display: block;
  width: 143px;
  overflow: hidden;
  float: left;
  text-transform: lowercase;
}
span.passos-texto.ativo {
  font-weight: bold; /*color: $primary;*/
}
/* Fluxos-Ícones */
span.ico-step {
  width: 24px;
  height: 24px;
  background: url("../img/sprite-fluxo.png") left top no-repeat;
  display: block;
  margin-top: 4px;
  margin-left: 2px;
}
span.ico-step-dados {
  background-position: -24px -24px;
}
span.ico-step-confirmacao {
  background-position: -48px -24px;
}
span.ico-step-efetivacao {
  background-position: -72px -24px;
}
span.ico-step-cartao {
  background-position: -96px -24px;
}
span.ico-step-simulacao {
  background-position: -120px -25px;
}
li.ativo span.ico-step-dados {
  background-position: -24px 0;
}
li.ativo span.ico-step-confirmacao {
  background-position: -48px 0;
}
li.ativo span.ico-step-efetivacao {
  background-position: -72px 0;
}
li.ativo span.ico-step-cartao {
  background-position: -96px 0;
}
li.ativo span.ico-step-simulacao {
  background-position: -120px 0;
}

/* Fluxo Passo a Passo */
ul.fluxo-passo-a-passo {
  text-align: center;
}
ul.fluxo-passo-a-passo li {
  display: inline-block;
  background-image: none;
  padding-left: 0;
  margin: 0 2px 0;
}
ul.fluxo-passo-a-passo li a {
  display: block;
  background-color: gray;
  height: 12px;
  width: 12px;

  border-radius: 50%;
}
ul.fluxo-passo-a-passo li a:hover,
ul.fluxo-passo-a-passo li a.ativo,
ul.fluxo-passo-a-passo li a.active {
  background-color: $primary;
}
ul.fluxo-passo-a-passo .ativo .active {
  cursor: default;
}
