/**
  *** ------------------------------------------
  *** Tabelas
  *** ------------------------------------------
  **/

/* Tabelas - Geral */
table {
  width: 100%;
  margin: 0 0 25px 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table th,
table td {
  padding: 7px;
  border-left: 1px solid $gray-bright;
}
table th:first-child,
table td:first-child {
  padding: 7px;
  border-left: none;
}
table thead {
  font-weight: bold;
  text-transform: lowercase;
  vertical-align: bottom;
}
table thead th {
  text-align: left;
}
table tbody tr {
  background-color: $white;
  vertical-align: top;
}
table tbody tr.odd {
  background-color: $gray-light;
}

/* Zebra */
.tabela-zebra tbody tr:nth-child(odd) td,
.tabela-zebra tbody tr:nth-child(odd) th {
  background-color: $gray-light;
}
.tabela-zebra tbody tr {
  border-top: 1px solid $gray-light;
}


table.tabela-zebra .fatura-sinal {
    width: 20px;
    color: $gray-dark;
    font-size: 14px;
    font-weight: bold;
  }
  table.tabela-zebra tbody.texto-destaque td {
    font-weight: bold;
  }
  

/* Tabela Busca Comprovante Extrato */
.tabela-busca tbody tr:nth-child(odd) td {
  border-left-color: white;
  background-color: $gray-light;
}
.tabela-busca thead tr:nth-child(odd) th {
  border-left-color: white;
  background-color: white;
}
.tabela-busca tbody tr:nth-child(even) td {
  border-left-color: white;
  background-color: white;
}
.tabela-busca tbody tr:nth-child(even) th {
  border-left-color: white;
  background-color: white;
}
.tabela-busca caption#span-busca {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
}
div#verMais h4 span.textoListaComp,
div#comprovantesBuscaPFCentro h2 span#span-busca,
div#produtos h2 span#span-busca {
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}
div#verMais .tabela-zebra th,
div#verMais .tabela-zebra td,
div#comprovantesBuscaPFCentro .tabela-zebra th,
div#comprovantesBuscaPFCentro .tabela-zebra td,
div#extratoBuscaPF .tabela-zebra thead tr th,
div#extratoBuscaPF .tabela-zebra tbody td {
  border-left-width: 0px;
  font-weight: normal;
}
div#verMais .tabela-zebra td a {
  text-transform: uppercase;
  text-decoration: none;
}
#comprovanteBusca > h4 {
  margin-bottom: 0px;
}
#comprovanteBusca th {
  padding-bottom: 4px;
  padding-top: 4px;
}

#extratoBusca > h4 {
  margin-bottom: 0px;
}
#extratoBusca th {
  padding-bottom: 4px;
  padding-top: 4px;
}

/* Zebra Linha */
.tabela-zebra-linha tr td,
.tabela-zebra-linha tr th {
  border-bottom: 1px solid $gray-bright;
}

/* Zebra Filtro Extrato */
.filtroExtrato .even {
  background-color: white important;
}
.filtroExtrato .odd {
  background-color: $gray-light important;
}

/* Linha Hover */
.tabela-hover tbody tr:hover td,
.tabela-hover tbody tr:hover th {
  background-color: #e1e1e1;
}

.box-info table {
  margin: 0;
}
.box-info table.resumo,
.media table.resumo {
  background: none;
}

/* No-border */
table.no-border td,
table.no-border th {
  border: none !important;
  border-left: none !important;
}

/* Tabelas - Resumo */
table.resumo th,
table.resumo td {
  padding: 4px;
}
table.resumo tbody tr th {
  text-align: right;
  width: 230px;
  font-weight: normal;
}
.modulo-sidebar table.resumo tbody tr th {
  text-align: right;
  width: 0;
}
table.resumo th,
table.resumo td {
  border-left: none;
  font-weight: bold;
}

/* Tabela Busca Comprovante Extrato */
.tabela-buscacomp tbody tr:nth-child(odd) td,
.tabela-buscacomp tbody tr:nth-child(odd) th {
  background-color: $gray-light;
}
.tabela-buscacomp tbody tr {
  border-top: 1px solid $gray-light;
  border: none !important;
}

/* Tabelas - Valores (Fatura) */
table.valores {
  margin: 0 0 10px 0;
}
table.valores td {
  vertical-align: bottom;
}
table.valores th,
table.valores td {
  border-left: none;
}

/* Tabelas - Valores (Saldo) */
table.valores.valores-saldo .fatura-sinal {
  width: initial;
  padding: 0;
  color: #ccc;
  font-size: 22px;
}
table.valores.valores-saldo .total-disponivel {
  float: right;
  margin-bottom: -3px;
}
table.valores.valores-saldo .total-disponivel .sinal {
  margin: 0;
  padding: 22px 10px 0 0;
  float: left;
}
table.valores.valores-saldo .valor-fatura {
  font-size: 18px;
}
table.valores.valores-saldo .total-disponivel .valor-fatura small {
  line-height: 22px;
}
table.valores.valores-saldo td:first-child {
  padding-left: 0;
}
table.valores.valores-saldo td {
  padding: 7px 0 7px 5px;
}
table.valores.valores-saldo td:last-child {
  padding: 7px 0;
  width: 195px;
}

.literal-simbolo {
  display: block;
  padding: 4px 3px 3px 3px;
  color: $white;
  font-size: 9px;
  text-align: center;
  font-weight: bold;
  width: 17px;
  height: 17px;
  background: #707070;
  margin: auto;
}
.literal-simbolo:hover {
  background: #ff7500;
  cursor: pointer;
}

/* Tabelas com Dashboard
  *
  * * v1.1.3 - classes comentadas para remocao dos icones nas tabelas de extratos (RTC Task: 387737)
  *
  table tbody tr span.dashboard { width: 17px; height: 15px; background: url("../img/sprite-dashboard.png") top left no-repeat; float: left; margin: 0 5px 0 0; display: block; text-indent: -9999px; }
  table tbody tr.positivo span.dashboard { background-position: 0 -30px; }
  table tbody tr.negativo span.dashboard { background-position: 0 -15px; }
  table tbody tr.neutro span.dashboard { background-position: 0 -45px; }
  */

table tbody tr.positivo td:last-child,
table tbody td.positivo {
  color: #00885a;
  font-weight: bold;
}
/* Casos especÃƒÂ­ficos de tabelas com extrato e 2 colunas de valores */
table.valor-2col tbody tr.positivo td:nth-last-child(2) {
  color: #6ea148 !important;
}

/* Total */

table tbody tr.total-parcial,
table tbody tr.total-parcial td,
table tbody tr.total-parcial th,
table tbody tr td.total-parcial {
  background: $gray-bright !important;
  border-top: 1px solid $gray-light;
  font-weight: bold;
  border-left: none;
}

table tbody tr.total,
table tbody tr.total td,
table tbody tr td.total {
  background: $gray-bright !important;
  border-top: 1px solid $gray-light;
  font-weight: bold;
  font-size: 14px;
  color: $gray-dark;
  border-left: none;
}

table tbody tr.total-geral,
table tbody tr.total-geral td,
table tbody tr td.total-geral {
  background: $gray-bright !important;
  border-top: 1px solid $gray-light;
  font-weight: bold;
  font-size: 14px;
  color: $gray-dark;
  border-left: none;
}

table tr.total a:hover,
table tr.total td a:hover,
table tr td.total a:hover {
  color: $gray-dark;
}

/* Tabela informe de redimento */
.tabela-informe-rendimento {
  border-collapse: 0;
  border-spacing: 0;
  color: #000;
  font-family: Verdana, Arial;
  font-size: 7pt;
  width: 100%;
}
.tabela-informe-rendimento th,
.tabela-informe-rendimento td {
  padding: 1px 0;
  vertical-align: middle;
}
.tabela-informe-rendimento,
.tabela-informe-rendimento table {
  margin: 0;
}
.tabela-informe-rendimento thead {
  text-transform: inherit;
}
.informe-rendimento-titulo1,
.informe-rendimento-titulo2 {
  display: block;
}
.informe-rendimento-titulo1 {
  font-size: 10pt;
  margin-bottom: 20px;
}
.informe-rendimento-titulo2 {
  font-size: 7pt;
  line-height: 14px;
}
.informe-rendimento-item {
  border-bottom: 1px solid black;
  font-size: 7pt;
}

/* Tabelas PJ (Empresas) */
table.pj {
  width: 100%;
  margin: 0 0 25px 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 11px;
}
table.pj th,
table.pj td {
  padding: 3px;
  border-left: 1px solid $gray-bright;
}
table.pj th:first-child,
table.pj td:first-child {
  padding: 3px;
  border-left: none;
}
table.pj thead {
  font-weight: bold;
  text-transform: lowercase;
  vertical-align: bottom;
}
table.pj thead th {
  text-align: left;
}
table.pj tbody tr {
  background-color: $white;
  vertical-align: top;
}
table.pj tbody tr.odd {
  background-color: $gray-light;
}

/* tabela com elementos ocultos */
tr.trOculta .fechar {
  width: 9px;
  height: 9px;
  background: url("../img/icon-close.png") 0 0 no-repeat;
  right: inherit;
  float: right;
  text-indent: -9999px;
  cursor: pointer;
}
tr.trOculta .fechar:hover {
  background-position: 0 -9px;
}
tr.trOculta td {
  padding: 10px 7px;
  border-top: 1px solid $gray-bright;
  border-bottom: 1px solid $gray-bright;
}
tr.trOculta td table {
  margin-bottom: 10px;
}
tr.trOculta td table tr {
  background-color: transparent;
  border: none;
}
tr.trOculta td table th,
tr.trOculta td table td {
  background-color: transparent !important;
  border: none;
  padding: 4px;
}


/* Tabelas com Bullets - Previdência */
table tbody tr span.bullet-prev,
span.bullet-prev {
  width: 15px;
  height: 15px;
  background: url("../img/sprite-bullet-previdencia.png") 0 -15px no-repeat;
  float: left;
  margin: 0 5px 0 0;
  display: block;
  text-indent: -9999px;
  vertical-align: text-top;
}
table tbody tr.balanceado span.bullet-prev,
span.bullet-prev.balanceado {
  background-position: 0 -15px;
}
table tbody tr.rendafixa span.bullet-prev,
span.bullet-prev.rendafixa {
  background-position: 0 -30px;
}


/* Tabela cinza */
.tabela-cinza tbody tr th {
  background-color: $gray-light;
}
.tabela-cinza tbody tr {
  border-top: 1px solid $gray-light;
}
.tabela-cinza tbody tr {
  border-bottom: 5px solid $white;
}


/* Tabelas com imagens de cartões */
.tabela-imagem-peq {
  width: 620px;
}
.tabela-imagem-peq > .txt-imagem-peq {
  width: 500px;
}



/* Tabelas PJ (Empresas) */
table.pj {
  width: 100%;
  margin: 0 0 25px 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 11px;
}
table.pj th,
table.pj td {
  padding: 3px;
  border-left: 1px solid $gray-bright;
}
table.pj th:first-child,
table.pj td:first-child {
  padding: 3px;
  border-left: none;
}
table.pj thead {
  font-weight: bold;
  text-transform: lowercase;
  vertical-align: bottom;
}
table.pj thead th {
  text-align: left;
}
table.pj tbody tr {
  background-color: $white;
  vertical-align: top;
}
table.pj tbody tr.odd {
  background-color: $gray-light;
}

/* Casos específicos de tabelas com extrato e 2 colunas de valores */
table.valor-2col tbody tr.positivo td:nth-last-child(2) {
  color: #6ea148 !important;
}

/*CSS TABELA COM DIV'S MONOPRODUTO - Inicio*/
div.tabela-zebra-div > div:nth-of-type(odd) {
  background: $gray-light;
}
div.tabela-zebra-div > div:hover,
div.tabela-div > div:hover {
  background: #e1e1e1;
}
div.tabela-div-imagem-peq {
  margin-top: 7px;
  margin-bottom: 7px;
}
div.row-div p:first-child {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 18px;
}
div.tabela-zebra-div > div.selecionado,
div.tabela-div > div.selecionado {
  background: #e1e1e1;
}
/*CSS TABELA COM DIV'S MONOPRODUTO - Fim*/
