/**
  *** ------------------------------------------
  *** Modulo abas c/ acessibilidade
  *** ------------------------------------------
  **/

.tabs-nav li {
  background-image: none;
  background-color: $white;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  color: $gray-dark;
  cursor: pointer;
  float: left;
  font-size: 12px;
  height: 29px;
  list-style: none;
  margin: 0 10px -1px 0;
  padding: 8px 8px 6px 8px;

  border-radius: 6px 6px 0 0;
}
.tabs-nav a {
  text-transform: lowercase;
  -ms-transition: none;
  transition: none;
}
.tabs-nav a:hover {
  text-decoration: none;
}
.tabs-nav .tabs-nav--active {
  border: 1px solid $primary;
  border-bottom-color: $white;
  font-weight: bold;
  height: 30px;
  margin-bottom: -1px;
  padding: 8px 7px 6px 8px;
}
.tabs-content {
  background-color: $white;
  clear: both;
  display: none;
  padding: 16px;
}
.tabs-content--active {
  border: 1px solid $primary;
  display: block;
  margin-top: -1px;

  border-radius: 0 5px 5px 5px;
}

/**
  *** ------------------------------------------
  *** Abas
  *** ------------------------------------------
  **/
div.abas {
  margin: 0 0 30px 0;
}

div.abas .aba {
  height: 29px;
  margin-bottom: -1px;
  *margin-bottom: 0;
  padding: 8px 8px 6px 8px;
  margin-right: 10px;
  background-color: $white;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  cursor: pointer;
  color: $gray-dark;
  font-size: 12px;
  overflow: hidden;
  float: left;
  display: block;

  border-radius: 6px 6px 0 0;
  -ms-transition: none;
  transition: none;
}
div.abas a.aba {
  text-decoration: none;
}
div.abas .aba.ativo {
  height: 30px;
  margin-bottom: -1px;
  *margin-bottom: 0;
  border: 1px solid $primary;
  border-bottom-color: $white;
  font-weight: bold;
}

div.abas .content {
  padding: 16px;
  background-color: $white;
  clear: both;
  display: none;
}
div.abas .content.ativo {
  margin-top: -1px;
  *margin-top: 0;
  border: 1px solid $primary;
  display: block;

  border-radius: 0 5px 5px 5px;
}

div.abas span.ico {
  margin-top: -5px;
}

.tab-act-content section {
  display: none;
}
.tab-act-content section.active {
  display: block;
}

/* Abas */
.conteudo-aba-esquerda {
  padding-right: 20px;
  min-height: 260px;
  width: 700px;
}
.conteudo-aba-direita {
  padding-left: 20px;
  width: 233px;
}
