
/* Textos */
.texto {
    margin: 0 0 20px 0;
  }
  .texto-4col {
    width: 100%;
  }
  .texto-3col {
    width: 75%;
  }
  .texto-2col:last-child img {
    float: right;
  }
  
  .row > .texto-2col {
    float: left;
    margin: 0;
    margin-bottom: 20px;
  }
  .row > .texto-3col {
    float: left;
    margin: 0;
    margin-bottom: 20px;
  }
  
  div.col8 .texto-2col {
    width: 275px;
    width: 255px\9;
    *width: 255px;
    margin-right: 32px;
  }
  div.col8 .texto-2col:last-child {
    margin-right: 0;
  }
  div.col9 .texto-2col {
    width: 320px;
    width: 300px\9;
    *width: 300px;
    margin-right: 32px;
  }
  div.col9 .texto-2col:last-child {
    margin-right: 0;
    width: 316px;
  }
  div.col12 .texto-2col {
    width: 440px;
    width: 420px\9;
    *width: 420px;
    margin-right: 32px;
  }
  div.col12 .texto-2col:last-child {
    margin-right: 0;
  }
  div.col12 .texto-3col {
    width: 280px;
    width: 270px\9;
    *width: 270px;
    margin-right: 32px;
  }
  div.col12 .texto-3col:last-child {
    margin-right: 0;
  }
  
  .texto h3 {
    font-size: 14px;
  }
  
  p.disclaimer,
  ul.disclaimer,
  ol.disclaimer {
    font-size: 11px;
    margin-bottom: 20px;
  }
  

/**
  *** ------------------------------------------
  *** TEXT
  *** ------------------------------------------
  **/

.text--accessHide,
.text-access-hide {
  left: -999em;
  position: absolute;
  font-size: 0px;
}
.text--borderBottom {
  border-bottom: solid 1px #d2d2d2;
}


.txt-imagem-peq {
    width: 500px;
  }
  .txt-imagem-med {
    width: 450px;
  }


  .txt18 {
    font-size: 18px;
  }
  .txt16 {
    font-size: 16px;
  }
  .txt14 {
    font-size: 14px;
  }
  .txt10 {
    font-size: 10px;
  }
  .txt32 {
    font-size: 32px;
  }  

  .txt24 {
    font-size: 24px !important;
  }

/* Fontes */
.fonte-tamanho13 {
  font-size: 13px;
}
.fonte-tamanho12 {
  font-size: 12px;
}
.fonte-tamanho14 {
  font-size: 14px;
}
.fonte-tamanho15 {
  font-size: 15px;
}
.fonte-tamanho16 {
  font-size: 16px;
}
.fonte-tamanho17 {
  font-size: 17px;
}
.fonte-tamanho18 {
  font-size: 18px !important;
}
