/**
  *** ------------------------------------------
  *** Banner Tinder
  *** ------------------------------------------
  **/

.tinder {
  width: 100%;
  text-align: left;
  margin: 0 0 20px 0;
}
.tinder ul.box-tinder {
  position: relative;
  height: auto;
  overflow: hidden;
  display: block;
  margin: 20px 0 0 -40px;
}
.tinder ul.box-tinder li {
  height: auto;
  width: 25%;
  float: left;
  list-style: none;
  background: none;
  padding-left: 0;
  padding-bottom: 30px;
}

/*Box do Banner Tinder */
.tinder .tinderImagem1 li,
.tinder .tinderIcone1 li {
  width: 100% !important;
}
.tinder .tinderImagem2 li,
.tinder .tinderIcone2 li {
  width: 50% !important;
}
.tinder .tinderImagem3 li,
.tinder .tinderIcone3 li {
  width: 33.33% !important;
}
.tinder .tinderImagem4 li,
.tinder .tinderIcone4 li {
  width: 25% !important;
}

.tinder .tinderIcone1 li .btn {
  width: 20% !important;
}
.tinder .tinderIcone2 li .btn {
  width: 35% !important;
}
.tinder .tinderIcone3 li .btn {
  width: 50% !important;
}
.tinder .tinderIcone4 li .btn {
  width: 70% !important;
}

.tinder .tinderImagem1 li .btn {
  width: 20% !important;
}
.tinder .tinderImagem2 li .btn {
  width: 50% !important;
}
.tinder .tinderImagem3 li .btn {
  width: 70% !important;
}
.tinder .tinderImagem4 li .btn {
  width: 85% !important;
}

.tinder ul.box-tinder li a {
  text-decoration: none;
  width: 70%;
}
.tinder ul.box-tinder li .box img {
}
.tinder ul.box-tinder li .box h3 {
  margin-top: 16px;
}
.tinder ul.box-tinder li .box p {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-top: 6px;
}
.tinder ul.box-tinder li .box a:hover.btn {
  color: $white;
  text-decoration: none;
}
.tinder ul.box-tinder li .box span {
  width: 90%;
  display: block;
}

.tinder-container h5 {
  background-color: $golden;
}
body#varejo .tinder-container h5 {
  background-color: $golden;
}

.tinder-container-mask {
  width: 980px;
  height: 124px;
  overflow: hidden;
}
.tinder-container-group {
  width: 980px;
  height: 116px;
  position: absolute;
  overflow: hidden;
}
.tinder-container,
.tinder-container-2,
.tinder-container-3 {
  width: 980px;
  height: 96px;
  background: $white;
  border: 1px solid $gray-bright;

  border-radius: 6px;
  position: absolute;
}
.tinder-container-2 {
  display: none;
  width: 973px;
  height: 5px;
  margin: auto;
  margin-top: -1px;

  border-radius: 0px 0px 4px 4px;
}
.tinder-container-3 {
  display: none;
  width: 966px;
  height: 5px;
  margin: auto;
  margin-top: -1px;
  margin-bottom: 60px;

  border-radius: 0px 0px 4px 4px;
}
.tinder-container h5 {
  display: block;
  background-color: #45a6b8;

  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 47px;
  padding: 0px;
  margin: 0px;
  padding-left: 94px;
  color: white;
  font-size: 22px;
  padding-top: 17px;
}
.tinder-descritivo,
.tinder-container fieldset {
  display: block;
  float: left;
  width: 688px;
  height: 45px;
  font-weight: bold;
  font-size: 15px;
  color: #45a6b8;
  padding-top: 6px;
  line-height: 18px;
  overflow: hidden;
}
.tinder-container fieldset {
  color: inherit;
  font-weight: normal;
  margin-top: 4px;
}
.tinder-container fieldset label {
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 25px;
}
.tinder-container fieldset input {
  width: 257px;
  height: 25px;
  padding: 0px 10px;
}
.tinder-descritivo .tinder-descritivo-footer {
  font-size: 10px;
  display: block;
  font-weight: normal;
  margin-top: -16px;
  text-align: right;
}
.tinder-descritivo .tinder-descritivo-texto {
  height: 35px;
  overflow: hidden;
}
.tinder-descritivo .tinder-descritivo-texto a {
  color: currentColor;
}
.tinder-icon {
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  margin: -27px 20px 0px 20px;
  float: left;
}
.tinder-btn {
  width: auto;
  margin: -29px 16px 0px 0px;
  text-align: center;
}
.tinder-btn ul {
  margin: 0px;
}
.tinder-btn ul li {
  display: inline-block;
}
.tinder-btn a {
  /*   outline:none; */
}
.tinder-btn a img {
  margin-left: -10px;
}
.tinder-btn-discutir {
  margin-right: 26px;
}
.tinder-box-info {
  background-color: $golden;
  color: $white;
  display: none;
  width: auto !important;
  padding: 6px 10px 1px 10px;

  border-radius: 4px;
  float: right;
}
body#person .tinder-box-info {
  background-color: #d1aa62;
}
body#empresas .tinder-box-info,
body#ibba .tinder-box-info {
  background-color: #2880c9;
}
