
#todos-perfis .layout-conservador {
    background-image: url("../img/perfil_amarelo_small.png");
  }
  
  #todos-perfis .layout-moderado {
    background-image: url("../img/perfil_verde_small.png");
  }
  
  #todos-perfis .layout-arrojado {
    background-image: url("../img/perfil_rosa_small.png");
  }
  
  #todos-perfis .layout-agressivo {
    background-image: url("../img/perfil_azul_small.png");
  }
  
  .todos-perfis-titulo {
    width: 44px;
    height: 22px;
    height: 22px;
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: $white !important;
  }
  
  .todos-perfis-resultado {
    width: 145px;
    height: 27px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: $white !important;
  }
  
  .todos-perfis-descricao {
    width: 178px;
    height: 95px;
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    color: $white !important;
  }
  
  .todos-perfis-carteira {
    width: 175px;
    height: 35px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: $white !important;
    padding-top: 7px;
  }

  
#todos-perfis [class^="composicao-carteira-classe-produto"] {
    float: left;
    width: 194px;
  }
  
  [class^="composicao-carteira-classe-produto-um"] {
    margin-right: 21px;
  }
  
  [class^="composicao-carteira-classe-produto-dois"] {
    margin-right: 20px;
  }
  
  [id^="composicao-carteira-perfil-texto"] {
    border: none !important;
  }
