/**
  *** ------------------------------------------
  *** Tooltip
  *** ------------------------------------------
  **/
.tooltip-info {
  width: 15px;
  height: 15px;
  background: url("../img/icon-info.png") 0 0 no-repeat;
  display: inline-block;
  text-indent: -9990px;
  right: 0;
  margin-left: 6px;
  vertical-align: text-top;
}
.tooltip-info:hover {
  background-position: 0 -15px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -3px;
}
.tooltip.right {
  margin-left: 3px;
}
.tooltip.bottom {
  margin-top: 3px;
}
.tooltip.left {
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: $white;
  text-align: left;
  text-decoration: none;
  background-color: #000000;

  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}



/**
  *** ------------------------------------------------------------------------------------
  *** Tour Elements (Intro.js)
  *** ------------------------------------------------------------------------------------
  **/
  .introjs-tooltip {
    max-width: 500px;
    width: 420px;
    border: 1px solid #d5d5d5;
    z-index: 9888;
    font-size: 12px;
    background: $white;
    color: #373d45;
    margin-left: -33px;
    margin-top: 16px;
  
    border-radius: 6px;
  
    box-shadow: 0 2px 8px $primary;
  }
  .introjs-tooltipbuttons {
    white-space: normal;
  }
  .introjs-button {
    margin: 0 10px 0 0;
    font-size: 12px;
    text-shadow: none;
  }
  .introjs-skipbutton {
    color: rgb(70, 70, 70);
    text-decoration: underline;
    background: none repeat scroll 0px 0px transparent;
    border: medium none;
  }
  