/**
  *** ------------------------------------------
  *** Tracking
  *** ------------------------------------------
  **/

ul.tracking {
  width: 100%;
  margin: 20px 0;
  padding: 0;
}
ul.tracking li {
  display: inline-block;
  *display: inline;
  width: 15%;
  text-align: center;
  vertical-align: bottom;
  font-size: 11px;
  text-transform: lowercase;
  margin: 0 2px;
  background: none;
  padding-left: 0;
}
div.tracking {
  height: 15px;
  margin: 0;
  padding: 0;
  background: #ccc;
}
div.tracking-bar {
  width: 0;
  height: 100%;
  background-color: $primary;
  float: left;
}

ul.tracking li:first-child div.tracking,
ul.tracking li:first-child div.tracking div.tracking-bar {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
ul.tracking li:last-child div.tracking,
ul.tracking li:last-child div.tracking div.tracking-bar {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

ul.tracking li.etapa-completa p {
  color: $primary;
}
ul.tracking li.etapa-completa p.tracking-info {
  color: $gray-dark;
}
ul.tracking li.etapa-reanalise p,
ul.tracking li.etapa-reanalise p.tracking-info {
  color: $gray-dark;
}
ul.tracking li.etapa-reanalise div.tracking-bar {
  background-color: $gray-dark;
}
.tracking-info {
  height: 20px;
  margin-top: 3px;
  color: $white;
}

p.tracking-info a {
  color: $gray-dark;
  text-decoration: underline;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
p.tracking-info a:hover {
  color: $primary;
}

.tracking-listras {
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
}

/* Tracking 2 etapas */
ul.tracking-2-etapas li {
  width: 49%;
}

ul.tracking-2-etapas li.etapa-completa p.tracking-info,
ul.tracking-2-etapas li.etapa-completa p {
  color: $gray-dark;
}

.col8 .tracking-2-etapas li {
  width: 49%;
}


/* Tracking Investimento */
.box-tracking {
  position: relative;
}
.box-tracking .link-tracking {
  position: absolute;
  right: 260px;
  top: 38px;
  z-index: 1;
}
ul.tracking-investimento {
  width: 100%;
  margin: 20px 0;
  padding: 0;
}
ul.tracking-investimento li {
  display: inline-block;
  *display: inline;
  width: 15%;
  text-align: center;
  vertical-align: bottom;
  font-size: 11px;
  text-transform: lowercase;
  margin: 0px;
  background: none;
  padding-left: 0;
}
ul.tracking-investimento li:first-child,
ul.tracking-investimento li:first-child div.tracking-investimento {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
ul.tracking-investimento li:last-child,
ul.tracking-investimento li:last-child div.tracking-investimento {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
div.tracking-investimento {
  height: 20px;
  margin: 0;
  padding: 3px 10px 10px 44px;
}
.cor-invest-1 {
  background: #a9c5df;
}
.cor-invest-2 {
  background: #5c88b7;
}
.cor-invest-3 {
  background: #34608a;
}
.cor-invest-4 {
  background: #183a60;
}
div.tracking-bar-invest {
  width: 0;
  height: 100%;
  color: $white;
  float: left;
}
ul.tracking-investimento li.etapa-investimento p {
  color: $gray-dark;
}
.tracking-perfil-invest span,
.tracking-info-invest span {
  display: block;
}
.tracking-perfil-invest span:after,
.tracking-info-invest span:before {
  background-image: url(../img/sprite-seta.png);
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 10px;
  width: 14px;
}
.tracking-perfil-invest span:after {
  background-position: left top;
  margin-top: 4px;
}
.tracking-info-invest span:before {
  background-position: left bottom;
  margin-top: 3px;
}


/* Tracking 3 etapas */
ul.tracking-3-etapas li {
  width: 32.33333%;
}

ul.tracking-3-etapas li.etapa-completa p.tracking-info,
ul.tracking-3-etapas li.etapa-completa p {
  color: $gray-dark;
}

.col8 .tracking-3-etapas li {
  width: 32.22222%;
}



/* Tracking porcentagem */
.tracking-porcentagem {
  height: 18px;
  margin: 10px 0;
  padding: 0;
  border: 1px solid;
  border-color: #c6c6c5;
  background-image: url("../img/bg-barra-porcentagem.png");
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tracking-bar-porcentagem {
  width: 0;
  height: 100%;
  background-color: $primary;
  float: left;
  background-image: url("../img/bg-barra-porcentagem.png");
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

