/**
  *** ------------------------------------------
  *** HELPERS - Estilos que podem ajudar o posicionamento de elementos
  *** ------------------------------------------
  **/

/* Margens */
.margem-esquerda5 {
  margin-left: 5px !important;
}
.margem-esquerda8 {
  margin-left: 8px !important;
}
.margem-esquerda10 {
  margin-left: 10px !important;
}
.margem-esquerda20 {
  margin-left: 20px !important;
}
.margem-esquerda25 {
  margin-left: 25px !important;
}
.margem-esquerda30 {
  margin-left: 30px !important;
}
.margem-esquerda40 {
  margin-left: 40px !important;
}
.margem-esquerda50 {
  margin-left: 50px !important;
}
.margem-esquerda60 {
  margin-left: 60px !important;
}
.margem-esquerda70 {
  margin-left: 70px !important;
}
.margem-esquerda75 {
  margin-left: 75px !important;
}
.margem-esquerda80 {
  margin-left: 80px !important;
}
.margem-esquerda90 {
  margin-left: 90px !important;
}
.margem-esquerda100 {
  margin-left: 100px !important;
}
.margem-esquerda120 {
  margin-left: 120px !important;
}
.margem-esquerda140 {
  margin-left: 140px !important;
}
.margem-esquerda160 {
  margin-left: 160px !important;
}
.margem-esquerda180 {
  margin-left: 180px !important;
}
.margem-esquerda200 {
  margin-left: 200px !important;
}
/**/
.margem-direita5 {
  margin-right: 5px !important;
}
.margem-direita10 {
  margin-right: 10px !important;
}
.margem-direita12 {
  margin-right: 12px !important;
}
.margem-direita15 {
  margin-right: 15px !important;
}
.margem-direita20 {
  margin-right: 20px !important;
}
.margem-direita30 {
  margin-right: 30px !important;
}
.margem-direita40 {
  margin-right: 40px !important;
}
.margem-direita45 {
  margin-right: 45px !important;
}
.margem-direita50 {
  margin-right: 50px !important;
}
.margem-direita60 {
  margin-right: 60px !important;
}
.margem-direita70 {
  margin-right: 70px !important;
}
.margem-direita80 {
  margin-right: 80px !important;
}
.margem-direita90 {
  margin-right: 90px !important;
}
.margem-direita100 {
  margin-right: 100px !important;
}
.margem-direita120 {
  margin-right: 120px !important;
}
.margem-direita140 {
  margin-right: 140px !important;
}
.margem-direita160 {
  margin-right: 160px !important;
}
.margem-direita180 {
  margin-right: 180px !important;
}
.margem-direita200 {
  margin-right: 200px !important;
}
/**/
.margem-cima2 {
  margin-top: 2px !important;
}
.margem-cima5 {
  margin-top: 5px !important;
}
.margem-cima8 {
  margin-top: 8px !important;
}
.margem-cima10 {
  margin-top: 10px !important;
}
.margem-cima12 {
  margin-top: 12px !important;
}
.margem-cima15 {
  margin-top: 15px !important;
}
.margem-cima20 {
  margin-top: 20px !important;
}
.margem-cima25 {
  margin-top: 25px !important;
}
.margem-cima30 {
  margin-top: 30px !important;
}
.margem-cima40 {
  margin-top: 40px !important;
}
.margem-cima50 {
  margin-top: 50px !important;
}
.margem-cima60 {
  margin-top: 60px !important;
}
.margem-cima70 {
  margin-top: 70px !important;
}
.margem-cima80 {
  margin-top: 80px !important;
}
.margem-cima90 {
  margin-top: 90px !important;
}
.margem-cima100 {
  margin-top: 100px !important;
}
/**/
.margem-baixo0 {
  margin-bottom: 0px !important;
}
.margem-baixo5 {
  margin-bottom: 5px !important;
}
.margem-baixo10 {
  margin-bottom: 10px !important;
}
.margem-baixo12 {
  margin-bottom: 12px !important;
}
.margem-baixo20 {
  margin-bottom: 20px !important;
}
.margem-baixo25 {
  margin-bottom: 25px !important;
}
.margem-baixo30 {
  margin-bottom: 30px !important;
}
.margem-baixo40 {
  margin-bottom: 40px !important;
}
.margem-baixo50 {
  margin-bottom: 50px !important;
}
.margem-baixo60 {
  margin-bottom: 60px !important;
}
.margem-baixo70 {
  margin-bottom: 70px !important;
}
.margem-baixo80 {
  margin-bottom: 80px !important;
}
.margem-baixo90 {
  margin-bottom: 90px !important;
}
.margem-baixo100 {
  margin-bottom: 100px !important;
}
/**/
.no-margem-esquerda {
  margin-left: 0 !important;
}
.no-margem-direita {
  margin-right: 0 !important;
}
.no-margem-cima {
  margin-top: 0 !important;
}
.no-margem-baixo {
  margin-bottom: 0 !important;
}
.no-margem {
  margin: 0 !important;
}

/* Paddings */
.padding-esquerda5 {
  padding-left: 5px !important;
}
.padding-esquerda10 {
  padding-left: 10px !important;
}
.padding-esquerda15 {
  padding-left: 15px !important;
}
.padding-esquerda20 {
  padding-left: 20px !important;
}
.padding-esquerda25 {
  padding-left: 25px !important;
}
.padding-esquerda30 {
  padding-left: 30px !important;
}
/**/
.padding-esquerda-negativo5 {
  padding-left: -5px !important;
}
.padding-esquerda-negativo10 {
  padding-left: -10px !important;
}
.padding-esquerda-negativo15 {
  padding-left: -15px !important;
}
.padding-esquerda-negativo20 {
  padding-left: -20px !important;
}
.padding-esquerda-negativo25 {
  padding-left: -25px !important;
}
.padding-esquerda-negativo30 {
  padding-left: -30px !important;
}
/**/
.padding-direita5 {
  padding-right: 5px !important;
}
.padding-direita10 {
  padding-right: 10px !important;
}
.padding-direita15 {
  padding-right: 15px !important;
}
.padding-direita20 {
  padding-right: 20px !important;
}
.padding-direita25 {
  padding-right: 25px !important;
}
.padding-direita30 {
  padding-right: 30px !important;
}
/**/
.padding-direita-negativo5 {
  padding-right: -5px !important;
}
.padding-direita-negativo10 {
  padding-right: -10px !important;
}
.padding-direita-negativo15 {
  padding-right: -15px !important;
}
.padding-direita-negativo20 {
  padding-right: -20px !important;
}
.padding-direita-negativo25 {
  padding-right: -25px !important;
}
.padding-direita-negativo30 {
  padding-right: -30px !important;
}
/**/
.padding-cima1 {
  padding-top: 1px !important;
}
.padding-cima5 {
  padding-top: 5px !important;
}
.padding-cima10 {
  padding-top: 10px !important;
}
.padding-cima15 {
  padding-top: 15px !important;
}
.padding-cima20 {
  padding-top: 20px !important;
}
.padding-cima25 {
  padding-top: 25px !important;
}
.padding-cima30 {
  padding-top: 30px !important;
}
/**/
.padding-baixo5 {
  padding-bottom: 5px !important;
}
.padding-baixo10 {
  padding-bottom: 10px !important;
}
.padding-baixo15 {
  padding-bottom: 15px !important;
}
.padding-baixo20 {
  padding-bottom: 20px !important;
}
.padding-baixo25 {
  padding-bottom: 25px !important;
}
.padding-baixo30 {
  padding-bottom: 30px !important;
}
.padding-baixo40 {
  padding-bottom: 40px !important;
}
.padding-baixo50 {
  padding-bottom: 50px !important;
}
.padding-baixo60 {
  padding-bottom: 60px !important;
}
.padding-baixo70 {
  padding-bottom: 70px !important;
}
.padding-baixo80 {
  padding-bottom: 80px !important;
}
.padding-baixo80 {
  padding-bottom: 80px !important;
}
.padding-baixo90 {
  padding-bottom: 90px !important;
}
.padding-baixo100 {
  padding-bottom: 100px !important;
}
.padding-baixo110 {
  padding-bottom: 110px !important;
}
.padding-baixo120 {
  padding-bottom: 120px !important;
}
.padding-baixo130 {
  padding-bottom: 130px !important;
}
.padding-baixo140 {
  padding-bottom: 140px !important;
}
/**/
.no-padding-esquerda {
  padding-left: 0 !important;
}
.no-padding-direita {
  padding-right: 0 !important;
}
.no-padding-cima {
  padding-top: 0 !important;
}
.no-padding-baixo {
  padding-bottom: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

/* Textos */
.txt-left {
  text-align: left !important;
}
.txt-right {
  text-align: right !important;
}
.txt-center,
.center {
  text-align: center !important;
}
.tablesorter-errorRow {
  text-align: center !important;
  text-transform: none;
}
.txt-v-align-top {
  vertical-align: top !important;
}
.txt-v-align-middle {
  vertical-align: middle !important;
}
.txt-v-align-bottom {
  vertical-align: bottom !important;
}
.txt-uppercase {
  text-transform: uppercase !important;
}
.txt-lowercase {
  text-transform: lowercase !important;
}
.txt-capitalize {
  text-transform: capitalize !important;
}
.txt-no-transform {
  text-transform: none !important;
}
.txt-no-bold {
  font-weight: normal !important;
}
.txt-bold-700 {
  font-weight: 700;
}
.txt-bold-900 {
  font-weight: 900;
}
.txt-bold {
  font-weight: bold !important;
}
.txt-link,
.txt-underline {
  text-decoration: underline !important;
}
.txt-no-link {
  text-decoration: none !important;
}
.txt-link:hover,
.txt-no-link:hover {
  color: $primary;
}
.txt-positivo {
  color: #6fa249;
}
.txt-negativo {
  color: #c93520;
}
.txt-destaque {
  color: $primary;
}
.txt-destaque-busca {
  background-color: #ef7404;
  color: $white;
  padding: 1px 4px;
  border-radius: 3px;
}
.txt-destaque-busca:hover {
  color: $white;
}
.txt-comp-busca {
  text-transform: none !important;
  text-align: center !important;
  white-space: nowrap;
}
.txt-hifen {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}
.txt-bold-900 {
  font-weight: 900;
}

/* Posicionamentos e Exibições */
.left {
  float: left;
}
.left-important {
  float: left !important;
}
.right {
  float: right;
}
.right-important {
  float: right !important;
}
.center {
  float: none;
}
.hide {
  display: none;
}
.blind {
  position: absolute;
  margin-left: -9999em;
  width: 1em;
  overflow: hidden;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.altura-auto {
  height: auto !important;
}
.float-none,
.no-float {
  float: none;
}
.position-initial {
  position: initial !important;
}
.position-static {
  position: static !important;
}
.element--accessHide,
.element-access-hide {
  height: 0;
  left: -999em;
  position: absolute;
  top: -999em;
  width: 0;
}

/* Bordas e backgrounds */
.border-all {
  border: 1px solid $gray-bright !important;
}
.border-right {
  border-right: 1px solid $gray-bright !important;
}
.border-left {
  border-left: 1px solid $gray-bright !important;
}
.border-bottom {
  border-bottom: 1px solid $gray-bright !important;
}
.border-top {
  border-top: 1px solid $gray-bright !important;
}
.no-border-right {
  border-right: none !important;
}
.no-border-left {
  border-left: none !important;
}
.no-border-bottom {
  border-bottom: none !important;
}
.no-border-top {
  border-top: none !important;
}
.no-border {
  border: none !important;
}
.no-bg {
  background: none !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-off-white {
  background-color: $gray-lightest !important;
}
.bg-cinza-claro {
  background-color: $gray-bright !important;
}
.bg-cinza-escuro {
  background-color: $gray-dark !important;
}
.bg-varejo {
  background-color: $primary !important;
}
.bg-person {
  background-color: $personnalite !important;
}

/* Cursores do Mouse */
.cursor-default {
  cursor: default !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.cursor-help {
  cursor: help !important;
}
.cursor-progress {
  cursor: progress !important;
}
.cursor-wait {
  cursor: wait !important;
}
.cursor-move {
  cursor: move !important;
}
.cursor-col-resize {
  cursor: col-resize !important;
}
.cursor-row-resize {
  cursor: row-resize !important;
}

/* Larguras Fixas (p/ tabelas) */

.largura-fixa20 {
  width: 20px !important;
}
.largura-fixa30 {
  width: 30px !important;
}
.largura-fixa40 {
  width: 40px !important;
}
.largura-fixa50 {
  width: 50px !important;
}
.largura-fixa60 {
  width: 60px !important;
}
.largura-fixa70 {
  width: 70px !important;
}
.largura-fixa80 {
  width: 80px !important;
}
.largura-fixa90 {
  width: 90px !important;
}
.largura-fixa100 {
  width: 100px !important;
}
.largura-fixa110 {
  width: 110px !important;
}
.largura-fixa120 {
  width: 120px !important;
}
.largura-fixa130 {
  width: 130px !important;
}
.largura-fixa140 {
  width: 140px !important;
}
.largura-fixa150 {
  width: 150px !important;
}
.largura-fixa160 {
  width: 160px !important;
}
.largura-fixa170 {
  width: 170px !important;
}
.largura-fixa180 {
  width: 180px !important;
}
.largura-fixa190 {
  width: 190px !important;
}
.largura-fixa200 {
  width: 200px !important;
}
.largura-fixa220 {
  width: 220px !important;
}
.largura-fixa240 {
  width: 240px !important;
}
.largura-fixa260 {
  width: 260px !important;
}
.largura-fixa280 {
  width: 280px !important;
}
.largura-fixa300 {
  width: 300px !important;
}
.largura-fixa325 {
  width: 325px !important;
}
.largura-fixa350 {
  width: 350px !important;
}
.largura-fixa375 {
  width: 375px !important;
}
.largura-fixa390 {
  width: 390px !important;
}
.largura-fixa400 {
  width: 400px !important;
}
.largura-fixa425 {
  width: 425px !important;
}
.largura-fixa450 {
  width: 450px !important;
}
.largura-fixa475 {
  width: 475px !important;
}
.largura-fixa500 {
  width: 500px !important;
}
.largura-fixa520 {
  width: 520px !important;
}
.largura-fixa525 {
  width: 525px !important;
}
.largura-fixa550 {
  width: 550px !important;
}
.largura-fixa575 {
  width: 575px !important;
}
.largura-fixa600 {
  width: 600px !important;
}
.largura-fixa625 {
  width: 625px !important;
}
.largura-fixa650 {
  width: 650px !important;
}
.largura-fixa675 {
  width: 675px !important;
}
.largura-fixa700 {
  width: 700px !important;
}
.largura-fixa725 {
  width: 725px !important;
}
.largura-fixa750 {
  width: 750px !important;
}
.largura-fixa760 {
  width: 760px !important;
}
.largura-fixa765 {
  width: 765px !important;
}
.largura-fixa770 {
  width: 770px !important;
}
.largura-fixa775 {
  width: 775px !important;
}
.largura-fixa800 {
  width: 800px !important;
}
.largura-fixa825 {
  width: 825px !important;
}
.largura-fixa850 {
  width: 850px !important;
}
.largura-fixa862 {
  width: 862px !important;
}
.largura-fixa875 {
  width: 875px !important;
}
.largura-fixa900 {
  width: 900px !important;
}
.largura-fixa980 {
  width: 980px !important;
}

/* Alturas Fixas (p/ divs e tabelas) */
.altura-fixa30 {
  height: 30px !important;
}
.altura-fixa40 {
  height: 40px !important;
}
.altura-fixa50 {
  height: 50px !important;
}
.altura-fixa60 {
  height: 60px !important;
}
.altura-fixa70 {
  height: 70px !important;
}
.altura-fixa80 {
  height: 80px !important;
}
.altura-fixa90 {
  height: 90px !important;
}
.altura-fixa100 {
  height: 100px !important;
}
.altura-fixa110 {
  height: 110px !important;
}
.altura-fixa120 {
  height: 120px !important;
}
.altura-fixa130 {
  height: 130px !important;
}
.altura-fixa140 {
  height: 140px !important;
}
.altura-fixa150 {
  height: 150px !important;
}
.altura-fixa160 {
  height: 160px !important;
}
.altura-fixa170 {
  height: 170px !important;
}
.altura-fixa180 {
  height: 180px !important;
}
.altura-fixa190 {
  height: 190px !important;
}
.altura-fixa200 {
  height: 200px !important;
}
.altura-fixa210 {
  height: 210px !important;
}
.altura-fixa220 {
  height: 220px !important;
}
.altura-fixa240 {
  height: 240px !important;
}
.altura-fixa260 {
  height: 260px !important;
}
.altura-fixa280 {
  height: 280px !important;
}
.altura-fixa300 {
  height: 300px !important;
}
.altura-fixa325 {
  height: 325px !important;
}
.altura-fixa350 {
  height: 350px !important;
}
.altura-fixa375 {
  height: 375px !important;
}
.altura-fixa400 {
  height: 400px !important;
}
.altura-fixa425 {
  height: 425px !important;
}
.altura-fixa450 {
  height: 450px !important;
}
.altura-fixa475 {
  height: 475px !important;
}
.altura-fixa500 {
  height: 500px !important;
}
.altura-fixa525 {
  height: 525px !important;
}
.altura-fixa550 {
  height: 550px !important;
}
.altura-fixa575 {
  height: 575px !important;
}
.altura-fixa600 {
  height: 600px !important;
}
.altura-fixa625 {
  height: 625px !important;
}
.altura-fixa650 {
  height: 650px !important;
}
.altura-fixa675 {
  height: 675px !important;
}

/* Alturas Minimas (p/ divs e tabelas) */
.altura-min30 {
  min-height: 30px !important;
}
.altura-min40 {
  min-height: 40px !important;
}
.altura-min50 {
  min-height: 50px !important;
}
.altura-min60 {
  min-height: 60px !important;
}
.altura-min70 {
  min-height: 70px !important;
}
.altura-min80 {
  min-height: 80px !important;
}
.altura-min90 {
  min-height: 90px !important;
}
.altura-min100 {
  min-height: 100px !important;
}
.altura-min110 {
  min-height: 110px !important;
}
.altura-min120 {
  min-height: 120px !important;
}
.altura-min130 {
  min-height: 130px !important;
}
.altura-min140 {
  min-height: 140px !important;
}
.altura-min150 {
  min-height: 150px !important;
}
.altura-min160 {
  min-height: 160px !important;
}
.altura-min170 {
  min-height: 170px !important;
}
.altura-min180 {
  min-height: 180px !important;
}
.altura-min190 {
  min-height: 190px !important;
}
.altura-min200 {
  min-height: 200px !important;
}
.altura-min210 {
  min-height: 210px !important;
}
.altura-min214 {
  min-height: 214px !important;
}
.altura-min220 {
  min-height: 220px !important;
}
.altura-min240 {
  min-height: 240px !important;
}
.altura-min260 {
  min-height: 260px !important;
}
.altura-min280 {
  min-height: 280px !important;
}
.altura-min300 {
  min-height: 300px !important;
}
.altura-min325 {
  min-height: 325px !important;
}
.altura-min350 {
  min-height: 350px !important;
}
.altura-min375 {
  min-height: 375px !important;
}
.altura-min400 {
  min-height: 400px !important;
}
.altura-min425 {
  min-height: 425px !important;
}
.altura-min450 {
  min-height: 450px !important;
}
.altura-min475 {
  min-height: 475px !important;
}
.altura-min500 {
  min-height: 500px !important;
}
.altura-min525 {
  min-height: 525px !important;
}
.altura-min550 {
  min-height: 550px !important;
}
.altura-min575 {
  min-height: 575px !important;
}
.altura-min600 {
  min-height: 600px !important;
}
.altura-min625 {
  min-height: 625px !important;
}
.altura-min650 {
  min-height: 650px !important;
}
.altura-min675 {
  min-height: 675px !important;
}

.margem-esquerda-negativo5 {
  margin-left: -5px !important;
}
.margem-esquerda-negativo10 {
  margin-left: -10px !important;
}
.margem-esquerda-negativo15 {
  margin-left: -15px !important;
}
.margem-esquerda-negativo20 {
  margin-left: -20px !important;
}
.margem-esquerda-negativo25 {
  margin-left: -25px !important;
}
.margem-esquerda-negativo30 {
  margin-left: -30px !important;
}
.margem-esquerda-negativo35 {
  margin-left: -35px !important;
}

.margem-direita-negativo5 {
  margin-right: -5px !important;
}
.margem-direita-negativo10 {
  margin-right: -10px !important;
}
.margem-direita-negativo15 {
  margin-right: -15px !important;
}
.margem-direita-negativo20 {
  margin-right: -20px !important;
}
.margem-direita-negativo25 {
  margin-right: -25px !important;
}
.margem-direita-negativo30 {
  margin-right: -30px !important;
}
.margem-direita-negativo35 {
  margin-right: -35px !important;
}

.margem-cima-2 {
  margin-top: -2px !important;
}
.margem-cima-negativo2 {
  margin-top: -2px !important;
}
.margem-cima-negativo5 {
  margin-top: -5px !important;
}
.margem-cima-negativo10 {
  margin-top: -10px !important;
}
.margem-cima-negativo15 {
  margin-top: -15px !important;
}
.margem-cima-negativo20 {
  margin-top: -20px !important;
}
.margem-cima-negativo25 {
  margin-top: -25px !important;
}
.margem-cima-negativo30 {
  margin-top: -30px !important;
}
.margem-cima-negativo35 {
  margin-top: -35px !important;
}


.pos-a {
  left: 105px !important;
}

.pos-b {
  left: 325px !important;
}

.pos-c {
  left: 540px !important;
}

.pos-d {
  left: 760px !important;
}


.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* inline-block para listas */
.inline-block,
.inline-block li {
  display: inline-block;
}


.td-cinza {
  background-color: $gray-light;
}

.no-underline {
  text-decoration: none;
}
