/**
  *** ------------------------------------------
  *** Vitrine
  *** ------------------------------------------
  **/

.vitrine {
  width: 100%;
  text-align: left;
  margin: 0 0 20px 0;
}
.vitrine ul.box-vitrine {
  position: relative;
  height: 150px;
  overflow: hidden;
  display: block;
  margin: 0 0 0 -40px;
}
.vitrine ul.box-vitrine li {
  height: 150px;
  width: 150px;
  float: left;
  list-style: none;
  background: none;
  padding-left: 0;
}

.vitrine ul.box-vitrine li a {
  text-decoration: none;
}
.vitrine ul.box-vitrine li .vitrineConteudo a,
.vitrine ul.box-vitrine li .grid-col5 a {
  text-decoration: underline;
}
.vitrine ul.box-vitrine li .vitrineConteudo a:hover,
.vitrine ul.box-vitrine li .grid-col5 a:hover {
  color: $primary;
}
.vitrine ul.box-vitrine li .texto a {
  text-decoration: underline;
  color: $white !important;
}
.vitrine ul.box-vitrine li a:hover .box {
  margin-top: -150px;
}

.vitrine ul.box-vitrine li .box,
.vitrine ul.box-vitrine li .box-hover {
  height: 150px;
  width: 150px;
  display: block;
  padding: 25px;
  border: 1px solid $gray-bright;
  color: $white;
  background-color: $white;

  border-radius: 6px;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.vitrine ul.box-vitrine li .box h3 {
  margin-top: 16px;
}
.vitrine ul.box-vitrine li .box p {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-top: 16px;
  height: 7px;
}
.vitrine ul.box-vitrine li .box a:hover.btn {
  color: $white;
}

.vitrine ul.box-vitrine li .box-hover {
  background: $primary;
  border: none;
  color: $white;
  padding: 15px;
}
.vitrine ul.box-vitrine li .box-hover p {
  color: $white;
}
.vitrine ul.box-vitrine li .box-hover p.titulo,
.vitrine ul.box-vitrine li .box-hover p span.valor {
  font-weight: bold;
  color: $white;
}
.vitrine ul.box-vitrine li .box-hover p.texto {
  margin: 0px;
}

/* Box Vitrine Duplo - Utilizado em Atendimento */
.vitrine .box-vitrine-duplo {
  position: relative;
  height: 280px;
  overflow: hidden;
  display: block;
  margin: 0 0 0 -40px;
}
.vitrine ul.box-vitrine-duplo li {
  height: 150px;
  width: 150px;
  float: left;
  list-style: none;
  background: none;
  padding-left: 0;
}
.vitrine ul.box-vitrine-duplo li a {
  text-decoration: none;
}
.vitrine ul.box-vitrine-duplo li .box {
  height: 280px;
  width: 150px;
  display: block;
  padding: 15px;
  border: 1px solid $gray-bright;

  border-radius: 6px;
}
.vitrine ul.box-vitrine-duplo li .box h3 {
  margin-top: 16px;
}
.vitrine ul.box-vitrine-duplo li .box p {
  font-size: 12px;
  line-height: 14px;
  margin-top: 16px;
}
.vitrine ul.box-vitrine-duplo li .box a:hover.btn {
  color: $white !important;
}

.vitrine ul.box-vitrine-duplo li .box ul.links {
  margin: 0;
  padding: 0;
}
.vitrine ul.box-vitrine-duplo li .box ul.links li {
  height: 0;
  margin-left: 0;
  margin-bottom: 18px;
  line-height: 16px;
}
.vitrine ul.box-vitrine-duplo li .box ul.links li a {
  text-decoration: underline;
}
.vitrine ul.box-vitrine-duplo li .box ul.links li a:hover {
  text-decoration: none;
}

div.col12 .vitrine-duplo ul.box6 li {
  margin-left: 16px;
}
div.col12 .vitrine-duplo ul.box5 li {
  margin-left: 57px;
}
div.col12 .vitrine-duplo ul.box4 li {
  margin-left: 126px;
}

/* Vitrine - Colunas */
div.col12 .vitrine ul.box6 li {
  margin-left: 16px;
}
div.col12 .vitrine ul.box5 li {
  margin-left: 57px;
}
div.col12 .vitrine ul.box4 li {
  margin-left: 126px;
}
div.col12 .vitrine ul.box3 li {
  margin-left: 159px;
}
div.col12 .vitrine ul.box2 li {
  margin-left: 20px;
}

div.col8 .vitrine ul.box4 li {
  margin-left: 16px;
}
div.col8 .vitrine ul.box3 li {
  margin-left: 98px;
}

div.col9 .vitrine ul.box4 li {
  margin-left: 43px;
}
div.col9 .vitrine ul.box3 li {
  margin-left: 140px;
}

div.col12 .vitrine ul.box-vitrine li:first-child,
div.col12 .vitrine ul.box-vitrine-duplo li:first-child,
div.col8 .vitrine ul.box-vitrine li:first-child,
div.col9 .vitrine ul.box-vitrine li:first-child {
  margin-left: 0;
}

div.col12 .vitrine ul.box-vitrine,
div.col12 .vitrine ul.box-vitrine-duplo {
  width: 1020px;
}
div.col8 .vitrine ul.box-vitrine {
  width: 688px;
}

/* Vitrine - Adaptação de formatos e tamanhos */

/* Vitrine - box5 */
div.col12 .vitrine ul.box5 li {
  width: 141px;
}
div.col12 .vitrine ul.box5 li .box,
div.col12 .vitrine ul.box5 li .box-hover {
  width: 187px;
}

/* Vitrine - box4 */
div.col12 .vitrine ul.box4 li {
  width: 123px;
}
div.col12 .vitrine ul.box4 li .box,
div.col12 .vitrine ul.box4 li .box-hover {
  width: 233px;
}

/* Vitrine - box3 */
div.col12 .vitrine ul.box3 li {
  width: 173px !important;
}
div.col12 .vitrine ul.box3 li .box,
div.col12 .vitrine ul.box3 li .box-hover {
  width: 316px !important;
}

div.col8 .vitrine ul.box3 li {
  width: 125px;
}
div.col8 .vitrine ul.box3 li .box,
div.col8 .vitrine ul.box3 li .box-hover {
  width: 200px;
}

/* Vitrine - Botão */
.vitrine ul.box-vitrine li .box-hover span.btn-vitrine {
  background-color: $white;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  color: $gray-dark;
  text-decoration: none;
  padding: 3px 10px;
  margin-top: 20px;
  width: 100%;
  text-align: center;

  border-radius: 3px;

  box-shadow: -2px 4px 3px rgba(84, 84, 84, 0.3);
  position: relative;
}
.vitrine ul.box-vitrine li .box span.btn-vitrine {
  background-color: $gray-dark;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  color: $white;
  text-decoration: none;
  padding: 6px 15px;
  margin-top: 15px;
  text-align: center;
  float: right;
  border-radius: 3px;
  box-shadow: -2px 4px 3px $gray-light;
  position: relative;
}

/* Vitrine - 3 boxes */
div.col12 .vitrine ul.box3 {
  position: relative;
  height: 110px !important;
  overflow: hidden;
  display: block;
  margin: 0 0 0 -40px;
}
div.col12 .vitrine ul.box3 li {
  height: 110px !important; /*width: 220px!important;*/
  float: left;
  list-style: none;
}

div.col12 .vitrine ul.box3 li a:hover .box {
  margin-top: -110px;
}

div.col12 .vitrine ul.box-vitrine.box3 li .box,
div.col12 .vitrine ul.box-vitrine.box3 li .box-hover {
  height: 110px;
  width: 220px;
  display: block;
  padding: 28px;
  border: 1px solid $gray-bright;

  border-radius: 6px;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
div.col12 .vitrine ul.box-vitrine.box3 li .box-hover {
  padding: 16px;
}

div.col12 .vitrine ul.box3 li .box img {
  float: left;
}
div.col12 .vitrine ul.box3 li .box p {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-top: 12px;
  margin-left: 20px;
  float: left;
}

div.col12 .vitrine ul.box3 li .box-hover span.btn-vitrine {
  margin-top: 7px;
}

/* Vitrine - 2 boxes */
.vitrine ul.box2 {
  position: relative;
  height: 110px !important;
  overflow: hidden;
  display: block;
  margin: 0 0 0 -40px;
}
.vitrine ul.box2 li {
  height: 110px !important;
  width: 480px !important;
  float: left;
  list-style: none;
}

.vitrine ul.box-vitrine.box2 li .box {
  height: 110px;
  width: 480px;
  display: block;
  padding: 28px;
  border: 1px solid $gray-bright;

  border-radius: 6px;
}

.vitrine ul.box2 li .box img {
  float: left;
}
.vitrine ul.box2 li .box span {
  float: none;
}
.vitrine ul.box2 li .box p {
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  margin-top: 4px;
}
.vitrine ul.box2 li .box p span.titulo {
  font-weight: bold;
}

/* Vitrine - 1 box */
.vitrine ul.box1 {
  position: relative;
  height: 100% !important;
  overflow: hidden;
  display: block;
  margin: 0 0 0 -40px;
}
.vitrine ul.box1 li {
  height: 110px !important;
  width: 100% !important;
  float: left;
  list-style: none;
}

.vitrine ul.box-vitrine.box1 li .box {
  height: 110px;
  width: 100%;
  display: block;
  padding: 28px;
  border: 1px solid $gray-bright;

  border-radius: 6px;
}
.vitrine ul.box-vitrine.box1 li .box .vitrineConteudo {
  width: 75%;
  float: left;
}
.vitrine ul.box-vitrine.box1 li .box .vitrineBotao {
  float: right;
}
.vitrine ul.box1 li .box img {
  float: left;
}
.vitrine ul.box1 li .box span {
  float: none;
}
.vitrine ul.box1 li .box p {
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  margin-top: 4px;
  margin-left: 20px;
  width: 75%;
  float: left;
}
.vitrine ul.box1 li .box p span.titulo {
  font-weight: bold;
}

/* ajuste vitrine 2 módulos .col8
  (esse bloco de deve permanecer após o estilo principal da vitrine) */
div.col8 .box-vitrine.box2,
div.col8 .vitrine ul.box-vitrine.box2 li,
div.col8 .vitrine ul.box-vitrine.box2 li .box {
  height: 156px !important;
}
div.col8 .vitrine ul.box-vitrine.box2 li:first-child {
  margin-right: 20px;
}
div.col8 .vitrine ul.box-vitrine.box2 li,
div.col8 .vitrine ul.box-vitrine.box2 li .box {
  width: 314px !important;
}
div.col8 .vitrine ul.box-vitrine.box2 li .box {
  padding: 23px;
}
div.col8 .vitrine ul.box-vitrine.box2 li .box .grid-col2 {
  width: 100%;
  margin-bottom: 16px;
}
div.col8 .vitrine ul.box-vitrine.box2 li .box .grid-col5 {
  width: 60%;
}
div.col8 .vitrine ul.box-vitrine.box2 li .box .grid-col3 {
  width: 40%;
  margin-left: 0;
}

/* ajuste vitrine 1 módulo .col8
  (esse bloco de deve permanecer após o estilo principal da vitrine) */
div.col8 .vitrine ul.box1 li .box p {
  width: 68%;
}
div.col8 .vitrine ul.box1,
div.col8 .vitrine ul.box1 li,
div.col8 .vitrine ul.box-vitrine.box1 li .box {
  height: 131px !important;
}

/* ajuste vitrine 1 módulos .col9
  (esse bloco de deve permanecer após o estilo principal da vitrine) */
div.col9 .box-vitrine.box2,
div.col9 .vitrine ul.box-vitrine.box2 li,
div.col9 .vitrine ul.box-vitrine.box2 li .box {
  height: 166px !important;
}
div.col9 .vitrine ul.box-vitrine.box2 li:first-child {
  margin-right: 20px;
}
div.col9 .vitrine ul.box-vitrine.box2 li,
div.col9 .vitrine ul.box-vitrine.box2 li .box {
  width: 355px !important;
}
div.col9 .vitrine ul.box-vitrine.box2 li .box .grid-col2 {
  width: 100%;
  margin-bottom: 16px;
}
div.col9 .vitrine ul.box-vitrine.box2 li .box .grid-col5 {
  width: 60%;
}
div.col9 .vitrine ul.box-vitrine.box2 li .box .grid-col3 {
  width: 40%;
  margin-left: 0;
}

/* ajuste vitrine 1 módulo .col9
  (esse bloco de deve permanecer após o estilo principal da vitrine) */
div.col9 .vitrine ul.box1 li .box p {
  width: 70%;
}
div.col9 .vitrine ul.box1,
div.col9 .vitrine ul.box1 li,
div.col9 .vitrine ul.box-vitrine.box1 li .box {
  height: 117px !important;
}


/* Alteração box vitrine */
.box-vitrine .box {
  background-color: $white;
}
.box-vitrine.btn-inferior,
.box-vitrine.btn-inferior .box {
  height: auto;
}
.box-vitrine.btn-inferior .box-vitrine-texto {
  min-height: 83px;
  overflow: auto;
}
.box-vitrine.btn-inferior .box-vitrine-texto a {
  color: $gray-dark;
  text-decoration: underline;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.box-vitrine.btn-inferior .box-vitrine-texto a:hover {
  color: $primary;
}
.box-vitrine.btn-inferior .row {
  display: table;
  width: 100%;
}
.vitrine .box-vitrine.btn-inferior,
.vitrine .box-vitrine.btn-inferior li,
.vitrine .box-vitrine.btn-inferior li .box {
  height: auto !important;
}

/* Prateleira Login */
.vitrine-login {
  width: 100%;
  text-align: left;
  margin: 0 0 20px 0;
}
.vitrine-login ul.box-vitrine-login {
  position: relative;
  height: 150px;
  overflow: hidden;
  display: block;
  margin: 0 0 0 -40px;
}
.vitrine-login ul.box-vitrine-login li {
  height: 150px;
  width: 162px;
  float: left;
  list-style: none;
  background: none;
  padding-left: 0;
}
.vitrine-login ul.box-vitrine-login li a {
  text-decoration: none;
}
.vitrine-login ul.box-vitrine-login li a:hover .box4 {
  margin-top: -150px;
}
.vitrine-login ul.box-vitrine-login li .box4,
.vitrine-login ul.box-vitrine-login li .box-exibe4 {
  height: 150px;
  width: 162px;
  display: block;
  padding: 10px;
  border: 1px solid $gray-bright;
  color: $white;

  border-radius: 6px;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.vitrine-login ul.box-vitrine-login li .box-exibe4 {
  background: $gray-bright;
  border: none;
  color: $white;
  padding: 10px;
}
.vitrine-login ul.box4 li {
  margin-left: 7px;
}
.vitrine-login ul.box4 li:first-child {
  margin-left: 0px;
}
.vitrine-login ul.box-vitrine-login li a:hover .box3 {
  margin-top: -150px;
}
.vitrine-login ul.box-vitrine-login li .box3,
.vitrine-login ul.box-vitrine-login li .box-exibe3 {
  height: 150px;
  width: 207px;
  display: block;
  padding: 24px;
  border: 1px solid $gray-bright;
  color: $white;

  border-radius: 6px;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.vitrine-login ul.box-vitrine-login li .box-exibe3 {
  background: $gray-bright;
  border: none;
  color: $white;
  padding: 15px;
}
.vitrine-login ul.box3 li {
  margin-left: 24px;
  width: 207px;
}
.vitrine-login ul.box3 li:first-child {
  margin-left: 0px;
}
.vitrine-login ul.box-vitrine-login li a:hover .box2 {
  margin-top: -150px;
}
.vitrine-login ul.box-vitrine-login li .box2,
.vitrine-login ul.box-vitrine-login li .box-exibe2 {
  height: 150px;
  width: 322px;
  display: block;
  padding: 24px;
  border: 1px solid $gray-bright;
  color: $white;

  border-radius: 6px;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.vitrine-login ul.box-vitrine-login li .box-exibe2 {
  background: $gray-bright;
  border: none;
  color: $white;
  padding: 15px;
}
.vitrine-login ul.box2 li {
  margin-left: 24px;
  width: 322px;
}
.vitrine-login ul.box2 li:first-child {
  margin-left: 0px;
}


.container-vitrine {
  width: 993px;
}
.card-vitrine {
  width: 233px;
  height: 288px;
  border: 1px solid $gray-bright;
  border-radius: 6px;
  font-family: Arial;
  transition: all 0.2s ease-in-out;
}
.card-vitrine-ativo {
  width: 730px;
  transition: all 0.2s ease-in-out;
}
.card-vitrine-col2 {
  width: 193px;
  height: 42px;
  overflow: hidden;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  z-index: 0;
}
.card-vitrine-ativo .card-vitrine-col2 {
  width: 199px !important;
  height: 190px !important;
  transition: all 0.2s ease-in-out;
}
.card-vitrine-video {
  width: 193px;
  height: 108px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}
.card-vitrine-ativo .card-vitrine-video {
  width: 437px;
  height: 245px;
  border-radius: 6px;
  background-color: $gray-dark;
  float: right;
  transition: all 0.2s ease-in-out;
}
.borda-arredondada6 {
  border-radius: 6px !important;
}
.margem-baixo15 {
  margin-bottom: 15px !important;
}
.card-vitrine .btn-card,
body#person .card-vitrine .btn-card {
  height: 16px;
  font-family: Arial;
  font-size: 14px;
  color: #007ab7;
}

.card-vitrine .btn-card:hover,
body#person .card-vitrine .btn-card:hover {
  color: #006394;
}
