
  /**
  *** ------------------------------------------
  *** Vitrine Lightbox
  *** ------------------------------------------
  **/
  
  .vitrines-lightbox { margin: 0 0 20px 0; }
  .vitrines-lightbox ul { padding: 0; margin: 0; }
  .vitrines-lightbox li:first-child { margin-left: 0; }
  .vitrines-lightbox li { width: 114px; float: left; list-style: none; margin-left: 16px; background: none; padding-left: 0px; }
  .vitrines-lightbox li img { margin-bottom: 16px; }
  .vitrines-lightbox-body a {}
  .vitrines-lightbox-body a:hover {}
  .vitrines-lightbox-header { padding-bottom: 16px; }
  .vitrines-lightbox-footer { padding-top: 12px; }
  