
/**
  
  O trecho abaixo já foi segregado para o arquivo itau-warning.css, e foi aqui reinstanciado devido ÃƒÂ  um equivoco de publicação.
  Ele deverá ser retirado uma vez que seja feita a correção do referenciamento do vinhete.
  Este ajuste foi solicitado por Oscar Azevedo (oscar.azevedo@itau-unibanco) em 2016-08-10 e está previsto para ser corrigido e removido atÃƒÂ© o dia NÃƒÆ’O DEFINIDO.
  
  **/
/** Início do arquivo itau-warning.css **/
/* itau-warning.css - v1 */

/**
  *** ------------------------------------------
  *** Iscas - Warning
  *** ------------------------------------------
  **/

  a.btn-warning {
    background-color: $gray-darkest;
    font-weight: bold;
    font-size: 12px;
    color: $white;
    text-decoration: none;
    text-transform: lowercase;
    text-align: center;
    padding: 8px;
    min-width: 90px;
  
    border-radius: 4px;
  
    box-shadow: none;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  
  .box-isca-video .video-thumb {
    float: left;
  }
  .box-isca-video .video-thumb a {
    display: block;
    outline: none;
  }
  .box-isca-video .video-info {
    overflow: auto;
  }
  .box-isca-video h3 {
    color: $gray-dark;
  }
  
  div.col3 .box-isca,
  div.col4 .box-isca {
    padding: 12px 10px 20px 10px;
  }
  div.col3 .box-isca-video .video-thumb,
  div.col4 .box-isca-video .video-thumb {
    float: inherit;
  }
  div.col3 .box-isca-video .video-thumb img,
  div.col4 .box-isca-video .video-thumb img {
    margin-bottom: 5px;
    margin-right: 0;
    height: auto;
    width: 100%;
  }
  div.col3 .box-isca-video .video-info,
  div.col4 .box-isca-video .video-info {
    overflow: inherit;
  }
  
  /* Modelo de Isca - Banner */
  
  section.alerta-isca {
    position: relative;
    margin-left: 0px;
  }
  
  /**
    *** ------------------------------------------
    *** Iscas Interativas - Novos Warning
    *** ------------------------------------------
    **/
  
  /* 980px de tamanho */
  .banner-isca {
    width: 100%;
    height: 100px;
    background: $white;
    border: 1px solid $primary;
    color: $primary;
    margin-bottom: 5px;
    padding: 15px;
  
    border-radius: 6px;
    overflow: hidden;
  }
  .banner-isca .banner-isca-lista a {
    text-decoration: underline;
  }
  .banner-isca .banner-isca-lista a:hover {
    color: $primary;
  }
  .banner-isca img {
    margin: 10px 15px 15px 0;
    float: left;
  }
  .banner-isca h2 {
    font-size: 18px;
    margin: 0 0 5px 0px;
    border: none;
    padding-bottom: 0;
  }
  .banner-isca h3 {
    font-size: 18px;
    font-weight: normal;
  }
  .banner-isca ul,
  .banner-isca ol {
    padding: 0 0 0 56px;
  }
  .banner-isca ul li {
    background-image: none;
    padding: 0;
    list-style-type: disc;
    text-indent: -7px;
  }
  .banner-isca ol li {
    background-image: none;
    padding: 0;
    list-style-type: decimal;
    text-indent: -4px;
  }
  .banner-isca-titulos {
    width: 420px; /* max-width: 420px */
  }
  .banner-isca-titulos h3 {
    font-size: 16px;
  }
  .banner-isca-titulos ul {
    margin-top: 0;
  }
  .banner-isca-titulos ul li {
    font-size: 14px;
  }
  .banner-isca p,
  .banner-isca li {
    font-size: 12px;
  }
  .banner-isca label.custom-select,
  .banner-isca input[type="text"] {
    font-size: 12px;
    margin: 3px 0;
  }
  .banner-isca-inputs {
    width: 200px;
    margin: 0 0 0 40px;
  }
  .banner-isca-inputs > label {
    text-transform: none !important;
  }
  .banner-isca-grande label {
    font-size: 11px;
  }
  .banner-isca-botao {
    margin: 26px 40px;
  }
  .banner-isca-botao a {
    font-size: 14px;
    padding: 10px 20px;
    box-shadow: none;
  }
  
  /* 918 de tamanho ( grande ) */
  .banner-isca-grande {
    max-width: 918px;
    height: 80px;
    padding: 13px 15px;
  }
  .banner-isca-grande img {
    margin: 2px 15px 15px 0;
  }
  .banner-isca-grande .banner-isca-titulos {
    width: 360px; /* max-width: 360px */
  }
  .banner-isca-grande h2 {
    font-size: 17px;
    margin: 0 0 1px 0px;
  }
  .banner-isca-grande .banner-isca-titulos ul li {
    font-size: 13px;
    margin-bottom: 1px;
  }
  .banner-isca-grande label.custom-select,
  .banner-isca-grande input[type="text"] {
    margin: 0;
  }
  .banner-isca-grande input[type="text"] {
    padding: 7px 6px;
  }
  .banner-isca-grande .banner-isca-inputs select {
    padding: 4px 15px 5px 6px;
  }
  .banner-isca-grande .banner-isca-botao {
    margin: 18px 40px;
  }
  
  /* 669px de tamanho ( medio ) */
  .banner-isca-medio {
    max-width: 669px;
    height: 80px;
    padding: 13px 15px;
  }
  .banner-isca-medio img {
    margin: 2px 15px 15px 0;
  }
  .banner-isca-medio h2 {
    font-size: 16px;
    margin: 0 0 2px 0px;
  }
  .banner-isca-medio .banner-isca-titulos {
    width: 370px;
  }
  .banner-isca-medio .banner-isca-titulos ul li {
    font-size: 12px;
  }
  .banner-isca-medio p,
  .banner-isca-medio li,
  .banner-isca-medio input[type="text"] {
    font-size: 11px;
  }
  .banner-isca-medio label {
    font-size: 10px;
  }
  .banner-isca-medio label.custom-select {
    margin: 0;
  }
  .banner-isca-medio .banner-isca-inputs {
    width: 120px;
    margin: 0 0 0 20px;
  }
  .banner-isca-medio .banner-isca-inputs select {
    height: 26px;
    padding-top: 4px;
    margin: 0;
  }
  .banner-isca-medio .banner-isca-botao {
    margin: 18px 0 18px 18px;
  }
  .banner-isca-medio .banner-isca-botao a {
    font-size: 10px;
    padding: 5px 10px;
  }
  
  /* 586px de tamanho ( pequeno ) */
  .banner-isca-pequeno {
    max-width: 586px;
    height: 80px;
    padding: 13px 15px;
  }
  .banner-isca-pequeno img {
    margin: 2px 15px 15px 0;
  }
  .banner-isca-pequeno h2 {
    font-size: 16px;
    margin: 0 0 2px 0px;
  }
  .banner-isca-pequeno .banner-isca-titulos {
    width: 300px; /* max-width: 300px; */
  }
  .banner-isca-pequeno .banner-isca-titulos ul li {
    font-size: 12px;
  }
  .banner-isca-pequeno p,
  .banner-isca-pequeno li,
  .banner-isca-pequeno input[type="text"] {
    font-size: 11px;
  }
  .banner-isca-pequeno label {
    font-size: 10px;
  }
  .banner-isca-pequeno label.custom-select {
    margin: 0;
  }
  .banner-isca-pequeno .banner-isca-inputs {
    width: 120px;
    margin: 0 0 0 20px;
  }
  .banner-isca-pequeno .banner-isca-inputs select {
    height: 26px;
    padding-top: 4px;
    margin: 0;
  }
  .banner-isca-pequeno .banner-isca-botao {
    margin: 18px 0 18px 18px;
  }
  .banner-isca-pequeno .banner-isca-botao a {
    font-size: 10px;
    padding: 5px 10px;
  }
  
  /* variacoes dos templates... */
  
  .banner-isca-template1 {
  }
  
  /* template 2 ... */
  .banner-isca-h2 {
    margin-top: 12px;
  }
  .banner-isca-template2 .banner-isca-titulos {
    width: 390px;
  }
  .banner-isca-template2 .banner-isca-lista {
    width: 200px;
    margin: 0 0 0 20px;
  }
  .banner-isca-template2 .banner-isca-inputs {
    width: 150px;
    margin: 0 0 0 20px;
    padding-top: 7px;
  }
  .banner-isca-template2 label {
    font-size: 11px;
  }
  .banner-isca-template2 label.custom-select {
    margin: 0;
  }
  .banner-isca-template2 .banner-isca-botao {
    margin: 26px 5px 26px 0;
  }
  .banner-isca-template2.banner-isca-grande h2 {
    margin-top: 5px;
  }
  .banner-isca-template2.banner-isca-grande ul {
    margin-top: 2px;
  }
  .banner-isca-template2.banner-isca-grande .banner-isca-titulos {
    width: 380px;
  }
  .banner-isca-template2.banner-isca-grande .banner-isca-lista {
    margin: 0 0 0 10px;
  }
  .banner-isca-template2.banner-isca-grande .banner-isca-inputs {
    margin: 0 0 0 10px;
    width: 120px;
    padding-top: 0;
  }
  .banner-isca-template2.banner-isca-grande .banner-isca-botao {
    margin: 20px 5px 26px 0;
  }
  
  .banner-isca-template2.banner-isca-medio h2 {
    margin-top: 0;
  }
  .banner-isca-template2.banner-isca-medio .banner-isca-titulos {
    max-width: 250px;
  }
  .banner-isca-template2.banner-isca-medio .banner-isca-lista {
    max-width: 200px;
    margin: 0 0 0 10px;
  }
  .banner-isca-template2.banner-isca-medio .banner-isca-lista ul {
    margin-top: 0;
  }
  .banner-isca-template2.banner-isca-medio .banner-isca-botao {
    margin: 18px 0 18px 18px;
  }
  .banner-isca-template2.banner-isca-pequeno h2 {
    margin-top: 0;
  }
  .banner-isca-template2.banner-isca-pequeno .banner-isca-titulos {
    max-width: 235px;
  }
  .banner-isca-template2.banner-isca-pequeno .banner-isca-lista {
    max-width: 200px;
    margin: 0 0 0 10px;
  }
  .banner-isca-template2.banner-isca-pequeno .banner-isca-lista ul {
    margin-top: 0;
  }
  .banner-isca-template2.banner-isca-pequeno .banner-isca-botao {
    margin: 18px 0 18px 18px;
  }
  
  /* template 3 ... */
  .banner-isca-template3 .banner-isca-titulos {
    width: 410px;
  }
  .banner-isca-template3 .banner-isca-inputs {
    width: 160px;
    margin: 0 0 0 20px;
  }
  .banner-isca-template3 .banner-isca-botao {
    margin: 26px 10px 26px 0;
  }
  .banner-isca-template3.banner-isca-grande .banner-isca-titulos {
    max-width: 350px;
  }
  .banner-isca-template3.banner-isca-grande .banner-isca-botao {
    margin: 20px 10px 26px 0;
  }
  
  /* template 4 ... */
  .banner-isca-template4 .banner-isca-titulos {
    max-width: 440px;
  }
  .banner-isca-template4.banner-isca-grande h2,
  .banner-isca-template4.banner-isca-medio h2,
  .banner-isca-template4.banner-isca-pequeno h2 {
    margin: 0;
  }
  .banner-isca-template4.banner-isca-grande ul,
  .banner-isca-template4.banner-isca-medio ul {
    margin-top: 0;
  }
  .banner-isca-template4.banner-isca-medio .banner-isca-titulos {
    max-width: 325px;
  }
  .banner-isca-template4.banner-isca-medio .banner-isca-lista {
    width: 200px;
  }
  .banner-isca-template4.banner-isca-pequeno .banner-isca-titulos {
    max-width: 250px;
  }
  .banner-isca-template4.banner-isca-pequeno ul {
    margin-top: 0;
    width: 220px;
  }
  
  /* template 5 ... */
  .banner-isca-template5 .banner-isca-titulos {
    width: 700px;
  }
  .banner-isca-template5 .banner-isca-titulos ul li {
    font-size: 14px;
  }
  .banner-isca-template5.banner-isca-grande .banner-isca-titulos {
    width: 660px;
  }
  .banner-isca-template5.banner-isca-grande .banner-isca-titulos ul {
    width: 600px;
  }
  .banner-isca-template5.banner-isca-grande .banner-isca-titulos ul li {
    font-size: 14px;
  }
  .banner-isca-template5.banner-isca-medio .banner-isca-titulos {
    width: 520px;
  }
  .banner-isca-template5.banner-isca-medio .banner-isca-titulos ul {
    width: 500px;
  }
  .banner-isca-template5.banner-isca-medio .banner-isca-titulos ul li {
    font-size: 14px;
  }
  .banner-isca-template5.banner-isca-pequeno .banner-isca-titulos {
    max-width: 440px;
  }
  .banner-isca-template5.banner-isca-pequeno .banner-isca-titulos ul li {
    font-size: 14px;
  }
  
  /* template 6 ... */
  .banner-isca-template6 {
    width: 980px;
    height: 300px;
    position: relative;
  }
  
  .banner-isca-template6 .banner-isca-titulos {
    width: 550px;
    height: 75px;
  }
  
  .banner-isca-template6 .banner-isca-titulos h2 {
    font-size: 16px;
  }
  
  .banner-isca-template6 .banner-isca-titulos .banner-isca-listagem {
    margin-top: 14px;
  }
  
  .banner-isca-template6 .banner-isca-titulos .banner-isca-listagem ul li {
    background: url("../img/bullet-default.png") left 5px no-repeat;
    padding-left: 15px;
    list-style: none;
    margin-bottom: -5px;
    margin-left: -10px;
  }
  
  .banner-isca-template6 .banner-isca-principal-itens {
    margin-top: 30px;
  }
  
  .banner-isca-template6 .banner-isca-itens {
    width: 550px;
    margin-top: 7px;
  }
  
  .banner-isca-template6 .banner-isca-itens img {
    margin-top: -6px;
  }
  
  .banner-isca-template6 .box-oferta-externo {
    width: 315px;
    height: 270px;
  }
  
  .banner-isca-template6 .titulo {
    font-size: 16px;
    margin: 14px 0 14px 14px;
  }
  
  .banner-isca-template6 .texto {
    font-size: 12px;
    margin: 14px 14px 14px 14px;
  }
  
  .banner-isca-template6 .box-oferta-botao {
    bottom: 0;
    height: 35px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 204px;
    right: 0;
    width: 311px;
  }
  
  .banner-isca-template6 .banner-isca-botao {
    width: 311px;
    margin: auto;
    position: absolute;
    bottom: 10px;
  }
  
  .box-oferta {
    width: 100%;
    height: 270px;
    margin-left: -2px;
    position: relative;
    border: 1px solid #e2e2e1;
  
    border-radius: 6px;
  }
  
  /* template 7 ... */
  .banner-isca-template7.banner-isca {
    width: 980px;
    height: 300px;
  }
  
  .banner-isca-template7 .banner-isca-titulos {
    width: 470px;
  }
  
  .banner-isca-template7 .banner-isca-titulos h2 {
    font-size: 16px;
  }
  
  .banner-isca-template7 .banner-isca-titulos .banner-isca-listagem {
    margin-top: 14px;
  }
  
  .banner-isca-template7 .banner-isca-titulos .banner-isca-listagem ul li {
    background: url("../img/bullet-default.png") left 5px no-repeat;
    padding-left: 15px;
    list-style: none;
    margin-bottom: -5px;
    margin-left: -10px;
  }
  
  .banner-isca-template7 .banner-isca-principal-itens {
    margin-top: 30px;
  }
  
  .banner-isca-template7 .banner-isca-itens {
    width: 450px;
    margin-top: 7px;
  }
  
  .banner-isca-template7 .banner-isca-itens img {
    margin-top: -6px;
  }
  
  .banner-isca-template7 .box-oferta-externo {
    width: 235px;
    height: 270px;
  }
  
  .banner-isca-template7 .titulo {
    font-size: 16px;
    margin: 14px 0 14px 14px;
  }
  
  .banner-isca-template7 .texto {
    font-size: 12px;
    margin: 14px 14px 14px 14px;
  }
  
  .banner-isca-template7 .box-oferta-botao {
    bottom: 0;
    height: 35px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 204px;
    right: 0;
    width: 228px;
  }
  
  .banner-isca-template7 .banner-isca-botao {
    width: 228px;
    margin: auto;
    position: absolute;
    bottom: 10px;
  }
  
  /* personalizacao de cores */
  
  .banner-isca-borda-laranja {
    border-color: $primary;
  }
  .banner-isca-borda-cinzaescuro {
    border-color: $gray-dark;
  }
  .banner-isca-borda-cinzamedio {
    border-color: #e2e2e1;
  }
  .banner-isca-borda-branco {
    border-color: $white;
  }
  .banner-isca-borda-amareloescuro {
    border-color: #f1ae2f;
  }
  .banner-isca-borda-amareloclaro {
    border-color: #fbe88a;
  }
  .banner-isca-borda-azulescuro {
    border-color: #5a8cae;
  }
  .banner-isca-borda-azulclaro {
    border-color: #e6f1ff;
  }
  .banner-isca-borda-verde {
    border-color: #7ba452;
  }
  .banner-isca-borda-verdeclaro {
    border-color: #eff4e1;
  }
  
  .banner-isca-bg-laranja {
    background-color: $primary;
  }
  .banner-isca-bg-cinzaescuro {
    background-color: $gray-dark;
  }
  .banner-isca-bg-cinzamedio {
    background-color: #e2e2e1;
  }
  .banner-isca-bg-branco {
    background-color: $white;
  }
  .banner-isca-bg-amareloescuro {
    background-color: #f1ae2f;
  }
  .banner-isca-bg-amareloclaro {
    background-color: #fbe88a;
  }
  .banner-isca-bg-azulescuro {
    background-color: #5a8cae;
  }
  .banner-isca-bg-azulclaro {
    background-color: #e6f1ff;
  }
  .banner-isca-bg-verde {
    background-color: #7ba452;
  }
  .banner-isca-bg-verdeclaro {
    background-color: #eff4e1;
  }
  
  .banner-isca-txt-laranja {
    color: $primary;
  }
  .banner-isca-txt-cinzaescuro {
    color: $gray-dark;
  }
  .banner-isca-txt-cinzamedio {
    color: #e2e2e1;
  }
  .banner-isca-txt-branco {
    color: $white;
  }
  .banner-isca-txt-amareloescuro {
    color: #f1ae2f;
  }
  .banner-isca-txt-amareloclaro {
    color: #fbe88a;
  }
  .banner-isca-txt-azulescuro {
    color: #5a8cae;
  }
  .banner-isca-txt-azulclaro {
    color: #e6f1ff;
  }
  .banner-isca-txt-verde {
    color: #7ba452;
  }
  .banner-isca-txt-verdeclaro {
    color: #eff4e1;
  }
  
  /** Fim do arquivo itau-warning.css **/
