/**
  *** ------------------------------------------
  *** Estrutura Principal / Tipografia / Cores
  *** ------------------------------------------
  **/

html,
body {
  height: 100%;
}
body {
  color: $gray-dark;
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: url("../img/bg-itau.gif") $gray-lightest 50% 70px no-repeat;
}

a {
  color: $gray-dark;
  text-decoration: underline;
  webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
a:hover {
  color: $primary;
}
a.link-ancora {
  text-indent: -9999px;
}
::selection {
  background: $primary;
  color: $white;
  text-shadow: none;
}

h1 {
  font-size: 18px;
  margin: 0 0 15px 0;
}
h2 {
  font-size: 16px;
  margin: 0 0 14px 0;
}
h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
h3.code {
  margin-bottom: -10px;
}
h4 {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
h5,
h6 {
  font-size: 11px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 5px 0;
  line-height: 14px;
}
small {
  font-size: 11px;
}

ul,
ol {
  margin-left: -40px;
}
.menu-contexto ul,
.menu-contexto ol {
  margin-left: -50px;
}
ul li {
  background: url("../img/bullet-default.png") left 5px no-repeat;
  padding-left: 10px;
  list-style: none;
  margin-bottom: 4px;
}
ol li {
  padding-left: 10px;
  list-style: none;
  margin-bottom: 4px;
}
ul li p {
  color: $gray-dark;
}
ul li a {
  color: $gray-dark;
  text-decoration: none;
}
ul li a:hover {
  color: $gray-dark;
  text-decoration: underline;
}
ul li > ul {
  margin-top: 5px;
}

ul.bullet {
  margin-left: -40px !important;
}
ul.no-bullet {
  margin-left: -50px !important;
}
ul.no-bullet li {
  background: none !important;
}
li.no-bullet {
  background-image: none !important;
}

section.alerta {
  margin-top: 90px;
  position: relative;
}
*::-ms-backdrop,
section.alerta {
  margin-top: 90px;
} /* IE11 */
_:-ms-input-placeholder,
:root section.alerta {
  margin-top: 90px;
} /* IE10 */
html[lang="\
  en"] section.alerta {
  margin-top: 25px;
}
/* section.alerta { margin-top: 25px\9; margin-top: 25px\0; }*/ /* IE8 e IE9 */

/**
  *** ------------------------------------------
  *** Polyfills / Ajustes IE / Complementos / Essenciais
  *** ------------------------------------------
  **/

/* ***** Clearfix ***** */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clear {
  clear: both;
}

/* ***** Box Sizing ***** */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ***** Image Replacement ***** */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* ***** Diversos ***** */
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}

p:last-child,
ul:last-child,
ol:last-child,
blockquote:last-child,
.table:last-child,
.navbar:last-child,
.list-group:last-child {
  margin-bottom: 0;
}


/*CSS para cor do placeholder - alteração efetuada para atender as definições de acessibilidade (contraste texto placeholder com fundo branco)*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $gray;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $gray;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $gray;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $gray;
}

::placeholder {
  color: $gray;
}
