/* Fonte Itau */
@font-face {
  font-family: "itaufonts_master_24px_v1";
  src: url("fonts/itau-font/itaufonts_master_24px_v1.eot?lk3wsf");
  src: url("fonts/itau-font/itaufonts_master_24px_v1.eot?lk3wsf#iefix")
      format("embedded-opentype"),
    url("fonts/itau-font/itaufonts_master_24px_v1.ttf?lk3wsf")
      format("truetype"),
    url("fonts/itau-font/itaufonts_master_24px_v1.woff?lk3wsf") format("woff"),
    url("fonts/itau-font/itaufonts_master_24px_v1.svg?lk3wsf#itaufonts_master_24px_v1")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
