/* Enquanto houver convivência, telas serão alinhadas a esquerda */
div.container,
section.container {
  /*width: 100%;*/
  width: 980px; /*margin: 0px auto;*/
  margin: 0px;
  margin-left: 10px !important;
}
section.container.full {
  width: 1312px;
  margin: 0 auto;
}
div.row {
  height: 1%;
}

/**
*** ------------------------------------------
*** GRID | 980px (screen 1024) | #container980
*** ------------------------------------------
**/

section .row,
.modulo-lightbox .row {
  margin: 0 0 10px 0;
}
.modulo section {
  margin: 0 0 30px 0;
}

/* Acrescentar Bordas de separação - Top e Bottom */
.line-top {
  border-top: 1px solid $gray-bright;
  padding-top: 10px;
}
.line-bottom {
  border-bottom: 1px solid $gray-bright;
  padding-bottom: 10px;
}
.line-top-tracejado {
  border-top: 1px dashed $gray-bright;
  padding-top: 10px;
}
.line-bottom-tracejado {
  border-bottom: 1px dashed $gray-bright;
  padding-bottom: 10px;
}

div.col1,
div.col2,
div.col3,
div.col4,
div.col5,
div.col6,
div.col7,
div.col8,
div.col9,
div.col10,
div.col11,
div.col12 {
  float: left;
  margin-left: 16px;
}
div.col1:first-child,
div.col2:first-child,
div.col3:first-child,
div.col4:first-child,
div.col5:first-child,
div.col6:first-child,
div.col7:first-child,
div.col8:first-child,
div.col9:first-child,
div.col10:first-child,
div.col11:first-child,
div.col12:first-child {
  margin-left: 0px;
}
div.col1 {
  width: 67px;
}
div.col2 {
  width: 150px;
}
div.col3 {
  width: 233px;
}
div.col4 {
  width: 316px;
}
div.col5 {
  width: 399px;
}
div.col6 {
  width: 482px;
}
div.col7 {
  width: 565px;
}
div.col8 {
  width: 648px;
}
div.col9 {
  width: 731px;
}
div.col10 {
  width: 814px;
}
div.col11 {
  width: 897px;
}
div.col12 {
  width: 980px;
}
div.col13 {
  width: 1063px;
}
div.col14 {
  width: 1146px;
}
div.col15 {
  width: 1229px;
}
div.col16 {
  width: 1312px;
}

/**
*** ------------------------------------------
*** GRID SYSTEM - Grid 12 colunas
*** Utilizar somente para construÃƒÂ§ão
*** de novos elementos
*** ------------------------------------------
**/

.grid-row * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-row *:before,
.grid-row *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-row {
  margin-left: -8px;
  margin-right: -8px;
}
.grid-row:after {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}
.grid-col1,
.grid-col2,
.grid-col2-4,
.grid-col3,
.grid-col4,
.grid-col5,
.grid-col6,
.grid-col7,
.grid-col8,
.grid-col9,
.grid-col10,
.grid-col11,
.grid-col12 {
  float: left;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
  position: relative;
}

.grid-col-auto {
  width: auto !important;
  min-width: 66%;
}

.grid-col-right {
  float: right !important;
}
.grid-col1 {
  width: 8.33333333%;
}
.grid-col2 {
  width: 16.66666667%;
}
.grid-col2-4 {
  width: 20%;
}
.grid-col3 {
  width: 25%;
}
.grid-col4 {
  width: 33.33333333%;
}
.grid-col5 {
  width: 41.66666667%;
}
.grid-col6 {
  width: 50%;
}
.grid-col7 {
  width: 58.33333333%;
}
.grid-col8 {
  width: 66.66666667%;
}
.grid-col9 {
  width: 75%;
}
.grid-col10 {
  width: 83.33333333%;
}
.grid-col11 {
  width: 91.66666667%;
}
.grid-col12 {
  width: 100%;
}

/* Offsets */
.grid-col1--offset {
  margin-left: 8.33333333%;
}
.grid-col2--offset {
  margin-left: 16.66666667%;
}
.grid-col2-4--offset {
  width: 20%;
}
.grid-col3--offset {
  margin-left: 25%;
}
.grid-col4--offset {
  margin-left: 33.33333333%;
}
.grid-col5--offset {
  margin-left: 41.66666667%;
}
.grid-col6--offset {
  margin-left: 50%;
}
.grid-col7--offset {
  margin-left: 58.33333333%;
}
.grid-col8--offset {
  margin-left: 66.66666667%;
}
.grid-col9--offset {
  margin-left: 75%;
}
.grid-col10--offset {
  margin-left: 83.33333333%;
}
.grid-col11--offset {
  margin-left: 91.66666667%;
}

/* Mostra um outline nas colunas para facilitar o debub */
.grid-debug .grid-col1,
.grid-debug .grid-col2,
.grid-debug .grid-col2-4,
.grid-debug .grid-col3,
.grid-debug .grid-col4,
.grid-debug .grid-col5,
.grid-debug .grid-col6,
.grid-debug .grid-col7,
.grid-debug .grid-col8,
.grid-debug .grid-col9,
.grid-debug .grid-col10,
.grid-debug .grid-col11,
.grid-debug .grid-col12 {
  outline: 1px solid #0080c0;
}
.grid-container {
  margin: 0 auto;
  width: 100%;
}
.grid-container--12col {
  width: 980px;
}
.grid-container--16col {
  width: 1312px;
}


.largura-fixa95 {
  width: 95px !important;
}
.largura-fixa185 {
  width: 185px !important;
}
.largura-fixa280 {
  width: 280px !important;
}
.largura-fixa315 {
  width: 315px !important;
}
.altura-fixa75 {
  height: 75px !important;
}
.altura-fixa145 {
  height: 145px !important;
}
.espacamento-linhas10 {
  line-height: 10px;
}


.tamanho-card-358 {
  height: 358px !important;
}
.tamanho-card-323 {
  height: 323px !important;
}
.tamanho-card-343 {
  height: 343px !important;
}
.tamanho-card-309 {
  height: 309px !important;
}
.content-center {
  width: 100%;
  margin: 10px auto !important;
}


.largura-fixa565 {
  width: 565px !important;
}
.largura-fixa735 {
  width: 735px !important;
}
.margem-esquerda15 {
  margin-left: 15px !important;
}

.altura-fixa20 {
  height: 20px !important;
}
.altura-fixa55 {
  height: 55px !important;
}
.largura-fixa980 {
  width: 980px !important;
}
