
/* ************************* */
/* ********* ACIVS ********* */
/* ************************* */
body#acivs div.container,
body#acivs section.container {
  /*width: 100%;*/
  width: 980px;
  margin: 0px auto !important; /*margin: 0px;*/
}
