
/* ************************* */
/* ****    EMPRESAS    ***** */
/* ************************* */

body#empresas #nomeTransferencia,
body#poderPublico #nomeTransferencia,
body#institucionais #nomeTransferencia,
body#demaisEmpresas #nomeTransferencia {
  width: 150px;
}
body#empresas header.busca-header-exp #nomeTransferencia,
body#poderPublico header.busca-header-exp #nomeTransferencia,
body#institucionais header.busca-header-exp #nomeTransferencia,
body#demaisEmpresas header.busca-header-exp #nomeTransferencia {
  width: 420px;
}
body#empresas #valor,
body#poderPublico #valor,
body#institucionais #valor,
body#demaisEmpresas #valor {
  width: 40px;
}
body#empresas header.busca-header-exp #valor,
body#poderPublico header.busca-header-exp #valor,
body#institucionais header.busca-header-exp #valor,
body#demaisEmpresas header.busca-header-exp #valor {
  width: 100px;
}
body#empresas #codigoDeBarras,
body#poderPublico #codigoDeBarras,
body#institucionais #codigoDeBarras,
body#demaisEmpresas #codigoDeBarras {
  width: 130px;
}
body#empresas header.busca-header-exp #codigoDeBarras,
body#poderPublico header.busca-header-exp #codigoDeBarras,
body#institucionais header.busca-header-exp #codigoDeBarras,
body#demaisEmpresas header.busca-header-exp #codigoDeBarras {
  width: 405px;
}
body#empresas #valorRecarga,
body#poderPublico #valorRecarga,
body#institucionais #valorRecarga,
body#demaisEmpresas #valorRecarga {
  width: 40px;
}
body#empresas header.busca-header-exp #valorRecarga,
body#poderPublico header.busca-header-exp #valorRecarga,
body#institucionais header.busca-header-exp #valorRecarga,
body#demaisEmpresas header.busca-header-exp #valorRecarga {
  width: 100px;
}
body#empresas #finalizaRecarga,
body#poderPublico #finalizaRecarga,
body#institucionais #finalizaRecarga,
body#demaisEmpresas #finalizaRecarga {
  width: 40px;
}
body#empresas header.busca-header-exp #finalizaRecarga,
body#poderPublico header.busca-header-exp #finalizaRecarga,
body#institucionais header.busca-header-exp #finalizaRecarga,
body#demaisEmpresas header.busca-header-exp #finalizaRecarga {
  width: 100px;
}


/* Tinder */
body#empresas .tinder-container h5 {
    background-color: #2880c9;
  }
  


/* Alteração de corer segmento Empresas (body#empresa) */
body#empresas .car-vendas-header,
body#poderPublico .car-vendas-header,
body#institucionais .car-vendas-header,
body#demaisEmpresas .car-vendas-header {
  border-bottom-color: $gray-darkest;
}
body#empresas .car-vendas-body,
body#poderPublico .car-vendas-body,
body#institucionais .car-vendas-body,
body#demaisEmpresas .car-vendas-body {
  border-color: $gray-darkest;
}
body#empresas .car-vendas-footer a.btn-fluxo,
body#poderPublico .car-vendas-footer a.btn-fluxo,
body#institucionais .car-vendas-footer a.btn-fluxo,
body#demaisEmpresas .car-vendas-footer a.btn-fluxo {
  background-color: #003665;
}
body#empresas .car-vendas-footer a.btn-fluxo:hover,
body#poderPublico .car-vendas-footer a.btn-fluxo:hover,
body#institucionais .car-vendas-footer a.btn-fluxo:hover,
body#demaisEmpresas .car-vendas-footer a.btn-fluxo:hover {
  background-color: $gray-darkest;
}
