
/* ************************* */
/* ****       IBBA     ***** */
/* ************************* */

body#ibba #nomeTransferencia {
    width: 160px;
  }
  body#ibba header.busca-header-exp #nomeTransferencia {
    width: 435px;
  }
  body#ibba #valor {
    width: 55px;
  }
  body#ibba header.busca-header-exp #valor {
    width: 115px;
  }
  body#ibba #codigoDeBarras {
    width: 145px;
  }
  body#ibba header.busca-header-exp #codigoDeBarras {
    width: 420px;
  }
  body#ibba #valorRecarga {
    width: 55px;
  }
  body#ibba header.busca-header-exp #valorRecarga {
    width: 115px;
  }
  body#ibba #finalizaRecarga {
    width: 55px;
  }
  body#ibba header.busca-header-exp #finalizaRecarga {
    width: 115px;
  }
  
  /* Tinder */
  body#ibba .tinder-container h5 {
    background-color: #2880c9;
  }
  