/* ************************* */
/* **** PERSON $personnalite ***** */
/* ************************* */

/*body#person section.alerta { margin-top: 140px; position: relative; }*/

body#person a:hover {
  color: $personnalite;
}
body#person ::selection {
  background: $personnalite;
}
/* Modulos */
body#person .modulo-sidebar h4 {
  color: $gray-dark;
}
body#person .modulo-sidebar a:hover {
  color: $personnalite;
}
body#person .modulo-autenticacao h3 {
  background: url("../img/icon-lock-person.png") left top no-repeat;
  padding: 0 0 0 20px;
  color: $personnalite;
}

body#person div.modulo-sidebar.aberto .abre-fecha {
  width: 14px;
  height: 10px;
  margin-top: 3px;
  margin-right: 10px;
  display: block;
  background: url("../img/sprite-seta.png") 0 0;
}
body#person div.modulo-sidebar.fechado .abre-fecha {
  width: 14px;
  height: 10px;
  margin-top: 3px;
  margin-right: 10px;
  display: block;
  background: url("../img/sprite-seta.png") 0 -10px;
}

body#person div.modulo-sidebar:hover.aberto .abre-fecha {
  background-position: -28px 0;
}
body#person div.modulo-sidebar:hover.fechado .abre-fecha {
  background-position: -28px -10px;
}

/* Abas */
body#person div.abas .aba.ativo {
  border: 1px solid $personnalite;
  border-bottom-color: $white;
}
body#person div.abas .content.ativo {
  border: 1px solid $personnalite;
}
/* Accordion */
body#person section h3:hover > .abre-fecha {
  background-position: -28px 0;
  cursor: pointer;
}
body#person section.fechado h3:hover > .abre-fecha {
  background-position: -28px -10px;
  cursor: pointer;
}

/* Fluxo */
body#person ul.fluxo li.ativo {
  border-color: $personnalite;
  color: $personnalite;
}
body#person ul.fluxo li.seguro.ativo {
  background: url("../img/icon-lock-fluxo-person.png") right 5px no-repeat $white;
}
/* Boxes */
body#person .box-info h3 {
  color: $personnalite;
}

body#person .box-info-comprovante {
  *width: 668px;
  border: 1px solid $personnalite;
  padding: 10px 30px 10px 40px;
}
body#person .box-info-comprovante span.icone {
  background: url("../img/sprite-icon-peq.png") 0 -696px no-repeat $white;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -4px;
}

body#person .box-info-aguarde {
  *width: 668px;
  border: 1px solid $personnalite;
  padding: 10px 30px 10px 40px;
}
body#person .box-info-aguarde span.icone {
  background: url("../img/sprite-icon-peq.png") -192px -696px no-repeat $white;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -4px;
}

body#person .box-info-busca {
  *width: 668px;
  border: 1px solid $personnalite;
  padding: 10px 30px 10px 40px;
}
body#person .box-info-busca span.icone {
  background: url("../img/sprite-icon-peq.png") -168px -696px no-repeat $white;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -4px;
}

body#person .box-info-alerta {
  *width: 668px;
  border: 1px solid $personnalite;
  padding: 10px 30px 10px 40px;
}
body#person .box-info-alerta span.icone {
  background: url("../img/sprite-icon-peq.png") -48px -576px no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -5px;
}

body#person .box-info-alerta-multiplo {
  *width: 668px;
  border: 1px solid $personnalite;
  padding: 0 0px 10px 10px;
  position: relative;
}
body#person .box-info-alerta-multiplo span.icone {
  background: url("../img/sprite-icon-peq.png") -48px -576px no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -30px;
  margin-top: -5px;
}

body#person .box-info-oferta {
  border: 1px solid $personnalite;
}

body#person .box-hover:hover {
  border-color: $personnalite;
}

body#person .box-info-erro span.icone {
  background-position: -48px -576px;
}

/* Botões */
body#person a.btn:hover {
  background-color: $personnalite;
  color: $white;
}
body#person a.btn.desabilitado:hover {
  background-color: $gray-dark;
  color: $white;
  text-decoration: none;
}
body#person a.btn-secundario.desabilitado:hover {
  background-color: $gray-bright;
  color: $gray-dark;
  text-decoration: none;
}
body#person a.btn-action:hover {
  background-color: $gray-dark;
  color: $white;
  text-decoration: none;
}
body#person a.btn-fluxo {
  background: $personnalite;
  color: $white;
}
body#person a.btn-fluxo:hover {
  background: $gray-darkest;
}
body#person a.btn-fluxo.desabilitado:hover {
  background-color: $personnalite;
  color: $white;
  text-decoration: none;
}
body#person a.btn-teclado-login {
  background: $personnalite;
  width: 247px;
}
body#person a.btn-teclado-login:hover {
  background: $gray-darkest;
}
body#person a.btn-action-ativo {
  background-color: $personnalite;
}
/* Formulários */
body#person input[type="text"]:focus,
body#person input[type="email"]:focus,
body#person input[type="search"]:focus,
body#person input[type="url"]:focus,
body#person input[type="tel"]:focus,
body#person input[type="number"]:focus,
body#person textarea[type="text"].focus,
body#person input[type="password"]:focus {
  border: 1px solid $personnalite;
  outline: 0;
  color: $gray-dark;

  box-shadow: 0 0 5px rgba(163, 124, 41, 0.8);
}
body#person a.tecla:hover {
  background: $personnalite;
  border-color: $personnalite;
}

body#person textarea:focus {
  border: 1px solid $personnalite;
  outline: 0;
  color: $gray-dark;

  box-shadow: 0 0 5px rgba(163, 124, 41, 0.8);
}
/* Paginação */
body#person ul.paginacao > li.desabilitado > span,
body#person ul.paginacao > li.desabilitado > a,
body#person ul.paginacao > li.desabilitado > a:hover {
  color: #d1d1d1;
  cursor: default;
  background-color: transparent;
}
body#person ul.paginacao > li > a:hover {
  color: $personnalite;
}
body#person ul.paginacao > li.ativo > a,
body#person ul.paginacao > li.ativo > span {
  color: $personnalite;
}
/* Tracking */
body#person div.tracking-bar {
  background-color: $personnalite;
}
body#person ul.tracking li.etapa-completa p {
  color: $personnalite;
}
body#person ul.tracking li.etapa-completa p.tracking-info {
  color: $white;
}
body#person ul.tracking li.etapa-reanalise p,
body#person ul.tracking li.etapa-reanalise p.tracking-info {
  color: #fa0012;
}
body#person ul.tracking li.etapa-reanalise div.tracking-bar {
  background-color: #fa0012;
}
body#person .tracking-info {
  height: 20px;
  margin-top: 3px;
  color: $white;
}
/* Botão Fechar */
body#person .fechar:hover {
  background-position: 0 -18px;
  cursor: pointer;
}
/* Tooltip */
body#person .tooltip:hover {
  background-position: 0 -30px;
  cursor: pointer;
}
/* Elementos Internos */
body#person .box-simulador-etapas2 {
  border: 1px solid $primary;
}

/* Tabelas com Bullets - Previdência */
body#person table tbody tr span.bullet-prev,
body#person span.bullet-prev {
  width: 15px;
  height: 15px;
  background: url("../img/sprite-bullet-previdencia.png") 0 0 no-repeat;
  float: left;
  margin: 0 5px 0 0;
  display: block;
  text-indent: -9999px;
  vertical-align: text-top;
}
body#person table tbody tr.balanceado span.bullet-prev,
body#person span.bullet-prev.balanceado {
  background-position: 0 0;
}
body#person table tbody tr.rendafixa span.bullet-prev,
body#person span.bullet-prev.rendafixa {
  background-position: 0 -30px;
}
body#person .modulo-autenticacao span.icone-alerta {
  background-position: bottom right;
}

/* Ícones dourados - Person */
body#person span.ico-app {
  background: url(../img/icones/warning/amarelo-escuro/comp_45x45.png) left top
    no-repeat;
}

body#person span.ico-duvidas {
  background-position: -216px -598px;
  margin-top: -7px !important;
}
body#person span.ico-telefone {
  background-position: 0 -600px;
}
body#person span.ico-calculadora {
  background-position: -24px -600px;
}
body#person span.ico-calendario {
  background-position: -48px -600px;
}
body#person span.ico-contato {
  background-position: -72px -600px;
}
body#person span.ico-chat {
  background-position: -96px -600px;
}
body#person span.ico-smile {
  background-position: -120px -600px;
}
body#person span.ico-perfil {
  background-position: -144px -600px;
}
body#person span.ico-gerente {
  background-position: -168px -600px;
}
body#person span.ico-excluir {
  background-position: -192px -600px;
}
/**/
body#person span.ico-seguranca {
  background-position: 0 -624px;
}
body#person span.ico-desbloqueio {
  background-position: -24px -624px;
}
body#person span.ico-cartao-seguranca {
  background-position: -48px -624px;
}
body#person span.ico-itoken-aplicativo {
  background-position: -72px -624px;
}
body#person span.ico-itoken-chaveiro {
  background-position: -96px -624px;
}
body#person span.ico-itoken-sms {
  background-position: -120px -624px;
}
body#person span.ico-biometria {
  background-position: -144px -624px;
}
body#person span.ico-estrela-vazada {
  background-position: -168px -624px;
}
/**/
body#person span.ico-agencia {
  background-position: 0 -648px;
}
body#person span.ico-agencia-person {
  background-position: -24px -648px;
}
body#person span.ico-vida {
  background-position: -48px -648px;
}
body#person span.ico-residencia {
  background-position: -72px -648px;
}
body#person span.ico-transporte {
  background-position: -96px -648px;
}
body#person span.ico-auto {
  background-position: -120px -648px;
}
body#person span.ico-viagem {
  background-position: -144px -648px;
}
body#person span.ico-patrimonio {
  background-position: -168px -648px;
}
body#person span.ico-universitario {
  background-position: -192px -648px;
}
body#person span.ico-outros {
  background-position: -216px -648px;
}
/**/
body#person span.ico-exclamacao {
  background-position: 0 -672px;
}
body#person span.ico-interrogacao {
  background-position: -24px -672px;
}
body#person span.ico-estrela {
  background-position: -48px -672px;
}
body#person span.ico-download {
  background-position: -72px -672px;
}
body#person span.ico-exportar {
  background-position: -96px -672px;
}
body#person span.ico-curtir {
  background-position: -120px -672px;
}
body#person span.ico-descurtir {
  background-position: -144px -672px;
}
body#person span.ico-sifrao {
  background-position: -168px -672px;
}
body#person span.ico-alvo {
  background-position: -192px -672px;
}
body#person span.ico-reload {
  background-position: -216px -672px;
}
/**/
body#person span.ico-check {
  background-position: 0 -696px;
}
body#person span.ico-editar {
  background-position: -24px -696px;
}
body#person span.ico-info {
  background-position: -48px -696px;
}
body#person span.ico-configurar {
  background-position: -72px -696px;
}
body#person span.ico-mais {
  background-position: -96px -696px;
}
body#person span.ico-menos {
  background-position: -120px -696px;
}
body#person span.ico-igual {
  background-position: -144px -696px;
}
/*body#person span.ico-busca { background-position: -168px -696px; }*/
body#person span.ico-lupa {
  background-position: -169px -723px;
}
body#person span.ico-seta {
  background-position: -169px -746px;
}
body#person span.ico-relogio {
  background-position: -192px -696px;
}
body#person span.ico-video {
  background-position: -216px -696px;
}
/**/
body#person span.ico-assessoria {
  background-position: 0 -720px;
}
body#person span.ico-cambio {
  background-position: -24px -720px;
}
body#person span.ico-coleta {
  background-position: -48px -720px;
}
body#person span.ico-acoes {
  background-position: -72px -720px;
}
body#person span.ico-mercado {
  background-position: -96px -720px;
}
body#person span.ico-investimento,
span.ico-investimentos {
  background-position: -120px -720px;
}
/**/
body#person span.ico-sair-vermelho {
  background-position: 0 -744px;
}
body#person span.ico-aplicacao {
  background-position: -24px -744px;
}
body#person span.ico-resgate {
  background-position: -48px -744px;
}
body#person span.ico-poupanca {
  background-position: -72px -744px;
}
body#person span.ico-deposito {
  background-position: -96px -744px;
}
body#person span.ico-saque {
  background-position: -120px -744px;
}
/**/
body#person span.ico-celular {
  background-position: 0 -768px;
}
body#person span.ico-celular-pre-pago {
  background-position: -24px -768px;
  width: 22px;
}
body#person span.ico-celular-autorizacao {
  background-position: -48px -768px;
}
body#person span.ico-credito {
  background-position: -72px -768px;
}
body#person span.ico-debito {
  background-position: -96px -768px;
}
body#person span.ico-filtro {
  background-position: -120px -768px;
}
body#person span.ico-porcentagem {
  background-position: -144px -768px;
}
body#person span.ico-programa-pontos {
  background-position: -168px -768px;
}
body#person span.ico-perfil-investidor {
  background-position: -192px -768px;
}
body#person span.ico-notificacao {
  background-position: -216px -768px;
}
/**/
body#person span.ico-documentos {
  background-position: 0 -792px;
}
body#person span.ico-excel {
  background-position: -24px -792px;
}
body#person span.ico-word {
  background-position: -48px -792px;
}
body#person span.ico-pdf {
  background-position: -72px -792px;
}
body#person span.ico-fatura {
  background-position: -96px -792px;
}
body#person span.ico-docs {
  background-position: -120px -792px;
}
body#person span.ico-gerenciador {
  background-position: -144px -792px;
}
/**/
body#person span.ico-consorcio {
  background-position: 0 -816px;
}
body#person span.ico-emprestimo {
  background-position: -24px -816px;
}
body#person span.ico-parcelamento {
  background-position: -48px -816px;
}
body#person span.ico-transferencia {
  background-position: -72px -816px;
}
body#person span.ico-transferencias {
  background-position: -72px -816px;
}
body#person span.ico-cartao {
  background-position: -96px -816px;
}
body#person span.ico-cartoes {
  background-position: -120px -816px;
}
body#person span.ico-conta-corrente {
  background-position: -144px -816px;
}
body#person span.ico-previdencia {
  background-position: -168px -816px;
}
/**/
body#person span.ico-codigo-barra {
  background-position: 0 -840px;
}
body#person span.ico-codigo-barras {
  background-position: 0 -840px;
}
body#person span.ico-pagamento {
  background-position: -24px -840px;
}
body#person span.ico-pagamentos {
  background-position: -24px -840px;
}
body#person span.ico-extrato {
  background-position: -48px -840px;
}
body#person span.ico-comprovante {
  background-position: -72px -840px;
}
body#person span.ico-comprovantes {
  background-position: -72px -840px;
}
/**/
body#person span.ico-carrinho {
  background-position: -120px -840px;
}
body#person span.ico-conexao {
  background-position: -144px -840px;
}
body#person span.ico-resposta {
  background-position: -168px -840px;
}
body#person span.ico-arroba {
  background-position: -192px -840px;
}
body#person span.ico-apontar {
  background-position: -216px -840px;
}

/* ICO ALERTAS */
body#person span.ico-alerta-urgente {
  background-position: 0 -576px !important;
}
body#person span.ico-alerta-aviso {
  background-position: -24px -576px !important;
}
body#person span.ico-alerta-atencao {
  background-position: -48px -576px !important;
}
body#person span.ico-alerta-aviso2 {
  background-position: -48px -576px !important;
}

/* Link destaque */
body#person .modulo-sidebar.link-destaque {
  padding: 12px 10px 10px 10px;
  background-color: $personnalite;
}
body#person .modulo-sidebar.link-destaque h4.link {
  color: $white;
  margin: 0 -10px;
  padding: 0 0 0 12px;
  border-bottom: none;
}

/* Prateleira */
body#person .vitrine ul.box-vitrine li .box-hover {
  background: $personnalite;
  border: none;
  color: $white;
  padding: 15px;
}
body#person .vitrine ul.box-vitrine li .box-hover p {
  color: $white;
}
body#person .vitrine ul.box-vitrine li .box-hover p.titulo,
body#person .vitrine ul.box-vitrine li .box-hover p span.valor {
  font-weight: bold;
  color: $white;
}

/* Tinder */
body#person .tinder-container h5 {
  background-color: #efe9e4;
}
body#person .tinder-container h5 span {
  color: #c28c24;
}

/* Tooltip */
body#person .tooltip-info:hover {
  background-position: left -30px;
}

/* Abas */
body#person .tabs-nav .tabs-nav--active {
  border-left: 1px solid $personnalite;
  border-right: 1px solid $personnalite;
  border-top: 1px solid $personnalite;
}
body#person .tabs-content--active {
  border-color: $personnalite;
}

/* Accordion */
body#person div.modulo h2.flex-home:hover span {
  color: $personnalite;
}
body#person .fechado.modulo-hover:hover {
  border-color: $personnalite;
}

/* Fluxos de navegação */
body#person ul.passos .passo.ativo,
body#person ul.passos .linha.ativo div.linha-andamento {
  background-color: $personnalite;
}
body#person span.passos-texto.ativo {
  color: $personnalite;
}

/* Datepicker */
body#person .is-today .pika-button div.circulo-is-today {
  background-color: $personnalite;
}
body#person .is-selected.is-today .pika-button div.circulo-is-today {
  background-color: $white;
}
body#person .is-today .pika-button:hover div.circulo-is-today {
  background-color: $white;
}

body#person .is-selected .pika-button {
  background: $personnalite !important;
  box-shadow: inset 0 1px 3px $personnalite;
  color: $white;
}
body#person .pika-button:hover {
  background: $personnalite !important;
}
body#person a.pika-button:hover {
  color: $white !important;
}

body#person .pika-label-mes.selecionado,
body#person .pika-label-ano.selecionado {
  background-color: $personnalite;
  color: $white;
}

/* Tracking */
body#person .tracking-bar-porcentagem {
  background-color: $personnalite;
}

/* Chosen */
body#person .chosen-container-single .chosen-search input[type="text"]:focus {
  border: 1px solid $personnalite !important;
  outline: 0 !important;
  color: $gray-dark !important;

  box-shadow: 0 0 5px rgba(163, 124, 41, 0.8) !important;
}
body#person .chosen-container-active .chosen-single {
  border: 1px solid $personnalite;
  outline: 0;
  color: $gray-dark;

  box-shadow: 0 0 5px rgba(163, 124, 41, 0.8);
}
body#person .chosen-container-active .chosen-choices {
  border: 1px solid $personnalite;
  outline: 0;
  color: $gray-dark;

  box-shadow: 0 0 5px rgba(163, 124, 41, 0.8);
}

/* Hopscotch */
body#person ul.fluxo-passo-a-passo li a:hover,
body#person ul.fluxo-passo-a-passo li a.ativo,
body#person ul.fluxo-passo-a-passo li a.active {
  background-color: $personnalite;
}

/* Carrinho de Vendas */
body#person .car-vendas-header {
  border-bottom-color: $personnalite;
}
body#person .car-vendas-body {
  border-color: $personnalite;
}
/* Carrinho de Vendas - Sidebar */
body#person .car-vendas-sidebar h4 {
  color: $white;
}
body#person div.car-vendas-sidebar.fechado .abre-fecha,
body#person div.car-vendas-sidebar.fechado:hover .abre-fecha {
  background: url("../img/sprite-seta-baixo.png") no-repeat 0 -2px;
}
body#person div.car-vendas-sidebar.aberto .abre-fecha,
body#person div.car-vendas-sidebar.aberto:hover .abre-fecha {
  background: url("../img/sprite-seta-cima.png") no-repeat 0 -2px;
}
body#person div.car-vendas-sidebar .conteudo {
  border-color: $personnalite;
}

/* Elementos diversos */
body#person .destaque,
body#person .txt-destaque {
  color: $personnalite;
}
body#person .mudaBoxComDiv1.ativo .box-info:hover,
body#person .mudaBoxComDiv2.ativo .box-info:hover,
body#person .mudaBoxComDiv3.ativo .box-info:hover,
body#person .mudaBoxComDiv4.ativo .box-info:hover {
  border-color: $personnalite;
}
body#person .modulo .box-info.ativo,
body#person .modulo .grid-col2.ativo,
body#person .modulo .grid-col3.ativo {
  color: $personnalite;
}
body#person .mudaBoxComDiv1.ativo .box-info,
body#person .mudaBoxComDiv2.ativo .box-info,
body#person .mudaBoxComDiv3.ativo .box-info,
body#person .mudaBoxComDiv4.ativo .box-info {
  border-color: $personnalite;
}
body#person .icone-favoritos:hover,
body#person .icone-favoritos.ativo {
  background-position: -40px top;
}
body#person .icone-editar:hover,
body#person .icone-editar.ativo {
  background-position: -40px -20px;
}
body#person .icone-excluir:hover,
body#person .icone-excluir.ativo {
  background-position: -40px -40px;
}
body#person .boxes-duvidas .ativo .box-duvida,
body#person .box-duvida:hover {
  border-color: $personnalite;
}
body#person .boxes-duvidas .ativo .box-duvida p {
  color: $personnalite;
}
body#person .box-simulador-etapas2 {
  border-color: $personnalite;
}
body#person .box-simulador-etapas2.desabilitado {
  border-color: #ccc;
}
body#person .orientador {
  background-position: right top;
}
body#person section h4:hover .seta-link,
body#person section h4:hover .seta-default {
  background-position: 0 -28px;
}

/* Menu contexto */
body#person .menu-contexto h3,
body#person .menu-contexto-abas h3 {
  color: $personnalite !important;
}

/* sidebar modulo atendimento */
body#person .modulo-atendimento .tabs-nav--active {
  background-color: $personnalite;
  border: 1px solid $personnalite;
}
body#person .modulo-atendimento .tabs-nav--active a:hover {
  color: $white;
}

/* Chatbox */
body#person .chat-header h4 {
  color: $personnalite;
}
body#person .chat-content .tab-act-links .active {
  background-color: $personnalite;
  border-color: $personnalite;
  color: $white;
}
body#person .chat-header:hover .chat-seta {
  background-position: -28px 0;
}
body#person .chat-content-open .chat-header .chat-seta {
  background-position: 0 -10px;
}
body#person .chat-content-open .chat-header:hover .chat-seta {
  background-position: -28px -10px;
}

/*estrela favoritos segmento person*/
body#person header span.ico-estrela {
  background-position: -48px -672px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 6px;
}
body#person header span.ico-estrela-vazada {
  background-position: -168px -624px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 6px;
}

/* Hover navegação por teclas */
body#person .busca-auto-complete li.jqhover a {
  color: $personnalite;
  text-decoration: none;
}

body#person header.bkl div.busca-header .busca-seta {
  margin-top: 8px;
  width: 14px;
  height: 14px;
  border: 0;
  position: absolute;
  right: 11px;
  top: 1px;
  background: url("../img/sprite-seta-link.png") 0 -28px;
  z-index: 1000;
}

/* Troca de cor dos bullets */
body#person .menu-contexto ul li,
body#person .disclaimer li,
body#person .abas .content li,
body#person .box-info li,
body#person .modulo li,
body#person .modulo-sidebar ul li {
  background-image: url("../img/bullet-person-default.png");
  background-repeat: no-repeat;
}
/* listas sem bullets */
body#person .tracking-investimento li,
body#person .modulo .tabs-nav li,
body#person .modulo ul.passos li,
body#person .modulo .modulo-atendimento ul li,
body#person .breadcrumb li,
body#person .fluxo li,
body#person ul.tracking li {
  background-image: none;
}
body#person ul.selecao-titularidade li {
  background-image: none !important;
}

body#person .menu-tabs-nav a:hover {
  text-decoration: none;
  color: $personnalite;
}
body#person .menu-tabs-nav .menu-tabs-nav--active {
  color: $personnalite;
  cursor: pointer;
  float: left;
  list-style: none;
  overflow: hidden;
  border-bottom: 4px solid $personnalite;
}
body#person .menu-tabs-nav li {
  display: inline-block;
  color: $primary;
  cursor: pointer;
  float: left;
  overflow: hidden;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  background-image: none !important;
  background-color: $white;
}

body#person .icone-nao-encontrado {
  color: $personnalite;
}

#person .recomendacao-imagem {
  background-image: url("../../home-personnalite/img/modulo_recomendacao.png");
}


#person .layout-conservador {
  background-image: url("../img/perfil_dourado_modulo_perfil_person.png");
}

#person .layout-moderado {
  background-image: url("../img/perfil_verde_modulo_perfil_person.png");
}

#person .layout-arrojado {
  background-image: url("../img/perfil_marrom_modulo_perfil_person.png");
}

#person .layout-agressivo {
  background-image: url("../img/perfil_azul_modulo_perfil_person.png");
}

.layout-personnalite {
  background-image: url("../img/moduloMeuPerfilPerson.png");
}

#person #todos-perfis .layout-conservador {
  background-image: url("../img/perfil_person_dourado_small.png");
}

#person #todos-perfis .layout-moderado {
  background-image: url("../img/perfil_person_verde_small.png");
}

#person #todos-perfis .layout-arrojado {
  background-image: url("../img/perfil_person_marrom_small.png");
}

#person #todos-perfis .layout-agressivo {
  background-image: url("../img/perfil_person_azul_small.png");
}

#person #form-resultado-investimento .conheca-todos-perfis:hover {
  color: $personnalite !important;
}

#person .recomendacao-imagem {
  background-image: url("../../home-personnalite/img/modulo_recomendacao.png");
}

body#person #ul-cards-busca span.ico-preto-curtir:hover {
  background-position: -120px -672px !important;
}

body#person #ul-cards-busca span.ico-preto-descurtir:hover {
  background-position: -144px -672px !important;
}

body#person .box-fale-especialista-hover {
  background: #d1aa62;
  border: 1px solid #d1aa62;
  border-radius: 6px;
  font-family: Arial;
  font-size: 12px;
  color: $white;
}

body#person .btn-fale-especialista:hover {
  color: $gray-dark;
}

#person #modulo-perfil-investidor .botao-fundo-branco:hover {
  color: $personnalite !important;
}
