
/* ************************* */
/* ****    UNICLASS    ***** */
/* ************************* */

body#uniclass #nomeTransferencia {
    width: 190px;
  }
  body#uniclass header.busca-header-exp #nomeTransferencia {
    width: 420px;
  }
  body#uniclass #nomeRecarga {
    width: 190px;
  }
  body#uniclass header.busca-header-exp #nomeRecarga {
    width: 375px;
  }
  
  body#uniclass #valor {
    width: 85px;
  }
  body#uniclass header.busca-header-exp #valor {
    width: 100px;
  }
  body#uniclass #codigoDeBarras {
    width: 175px;
  }
  body#uniclass header.busca-header-exp #codigoDeBarras {
    width: 405px;
  }
  body#uniclass #valorRecarga {
    width: 85px;
  }
  body#uniclass header.busca-header-exp #valorRecarga {
    width: 100px;
  }
  body#uniclass #finalizaRecarga {
    width: 85px;
  }
  body#uniclass header.busca-header-exp #finalizaRecarga {
    width: 100px;
  }
  
  body#uniclass .busca-imgCartoes {
    width: 27%;
  }
  body#uniclass .busca-listagem-textCartao {
    margin-left: -178px;
  }
  body#uniclass header.busca-header-exp #valorCartao {
    width: 263px;
  }
  
  /* Tinder */
  body#uniclass .tinder-container h5 {
    background-color: $golden;
  }
  